@charset "euc-kr";

/* *************** about us *************** */
#content_main{position:relative; width:100%; text-align:center}
/*#content_main #Lnb{float:left; width:100%; height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 0; border-bottom:1px solid #c1c1c1; padding-bottom:1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}

.a_container{width:80%; margin:0 auto 6%; }
/*.a_container .a_title{float:left; width:100%; margin:2% 0 3%; padding-bottom:3%; color:#777; background:url('http://www.etland.co.kr/etland/images/bugatti/ab_bg.gif') no-repeat center bottom;}*/
.a_container .a_title h1{font-size:60px; letter-spacing:-1px; color:#383838}

/* *************** 내용시작 *************** */
/*.ab_group{display:inline-block}
.ab_group>div{float:left; width:100%;  background:#f7f7f7; font-size:14px; color:#999898; line-height:180%; display:inline-block;}
.ab_group>div>div{width:50%; float:left}
.ab_group>div>div{width:49.7%; display:inline-block; *display:inline; zoom:1; vertical-align:middle;}*/
.ab_group > div{background-color:#f7f7f7; font-size:14px; color:#999898; line-height:180%;text-align: left;}
.ab_group > div > div{display:inline-block;*display:inline;zoom:1;width:50%;margin:0 -3px;vertical-align:middle;}
.ab_group .ab_01 .image div,.ab_group .ab_03 .image div{margin-left:3px}
.ab_group .ab_02 .image div,.ab_group .ab_04 .image div{margin: 0 -3px 0 1px;}

.ab_group .ab_02_1{display:none}
.ab_group .ab_04_1{display:none}
.ab_group .ab_04 .history .his_list{padding:20px 0}

.ab_group div h4 img{width:15%;}
.ab_group div p{width:80%; margin:0 auto; text-align:left}
.ab_group div p a{border: 1px solid #383838;display: inline-block;zoom: 1;padding: 1.5% 0;font-weight: bold;font-size: 13px;color: #383838;text-align: center;margin-top:4%;width: 200px;}
.ab_group div p a img{display:none}




/*.ab_group .image {width:49.8%; line-height:0;}*/
.ab_group .image img{width:100%}

.ab_group .fitst span{display:block; margin:4% 0; text-align:center}
.ab_group .fitst p{color:#888;}

/* *************** history  *************** */
.ab_group .history{text-align:center;}
.ab_group .history .his_list{width:81%; margin:0 auto}
.ab_group .history .his_list h4{text-align:left}
.ab_group .history .his_list .group{width:100%; display:inline-block; text-align:left}
.ab_group .history .his_list .group>div{width:100%; float:left; display:inline-block; line-height:150%}
.ab_group .history .his_list .group>div>div{float:left; }
.ab_group .history .his_list .group>div span{display:table}
.ab_group .history a{color:#383838; border:1px solid #383838; display:block; width:35%; padding:2% 0;  font-weight:bold; font-size:14px; color:#383838; text-align:center; margin-top:6%}
.ab_group .history .group .year{color:#383838; padding-right:3%; text-align:right; position:absolute;}
.ab_group .history .his_list .group > div > div:last-child,.ab_group .history .his_list .group > div > div.last-child{padding-left:55px}
