@charset "euc-kr";

			
/* *************** category main *************** */
#content_main{position:relative; line-height:0; width:100%; background:url('http://www.etland.co.kr/etland/images/bugatti/kc_bg.jpg') repeat; text-align:center}
/*#content_main #Lnb{float:left; width:100%; height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}

#content_main .cate_content{width:80%; margin:1% auto; text-align:center; display:inline-block}
#content_main .cate_content .cate_productGroup {width:100%; margin-bottom:1%; display:inline-block; float:left;  }
#content_main .cate_content .cate_productGroup div{width:32.5%; margin:0 0.5% 0.5% 0; float:left; border:1px solid #dadada}
#content_main .cate_content .cate_productGroup div img{width:100%; }

#content_main .cate_content .sub_bottom{width:100%; margin:1% auto 3%; text-align:center; display:none}
#content_main .cate_content .sub_bottom .sub_group div{display:inline-block; padding:0 4%; border-right:1px solid #2b2b2d }
#content_main .cate_content .sub_bottom .sub_group div:last-child,#content_main .cate_content .sub_bottom .sub_group div.last-child{border-right:0}
#content_main .cate_content .sub_bottom .sub_group a{color:#2b2b2d; font:0.85em;}

