@charset "euc-kr";

			
/* *************** designer main *************** */
#content_main{position:relative; width:100%; text-align:center}
/*#content_main #Lnb{float:left; width:100%; height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 0; border-bottom:1px solid #c1c1c1; padding-bottom:1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}

.a_container{width:80%; margin:0 auto 6%; }
/*.a_container .a_title{float:left; width:100%; margin:2% 0 2.5%; padding-bottom:3%; color:#777; background:url('http://www.etland.co.kr/etland/images/bugatti/ab_bg.gif') no-repeat center bottom;}*/
.a_container .a_title h1{font-size:60px; letter-spacing:-1px; color:#383838}
.a_container .a_title p{padding-top:0.5%}

.ds_group > div{text-align:left;background-color:#f7f7f7;color:#999898;overflow:hidden;padding:0; /* font-size:12px; line-height:180%;*/}
.ds_group div ul{width:50%;*width:49.99%;float:left;}
.ds_group div ul li{padding:4%;overflow:hidden}
.ds_group div .image{width:40%; float:left; margin-right:4%}
.ds_group div .image img{width:100%}
.ds_group div p{width:56%;color:#9b9b9b; float:left;/* line-height:140%; */}
.ds_group div h2{color:#686868; font-size:20px; margin-bottom:2%}

.ds_group .ds_01{background:#3b4a51}
.ds_group .ds_02{background:#f7f7f7}
.ds_group .ds_03{background:#ffd124}
.ds_group .ds_04{background:#7a2d51}

.ds_group .ds_01 ul:first-child{background:#f7f7f7;}
.ds_group .ds_01 ul.last p, .ds_01 .last h2{color:#fff}
.ds_group .ds_02 ul{float:right}
.ds_group .ds_02 ul.last{background:#ee4027; color:#fff}
.ds_group .ds_02 ul.last p, .ds_02 ul.last h2{color:#fff}
.ds_group .ds_03 ul:first-child{background:#f7f7f7; color:#fff}
.ds_group .ds_03 ul.last p, .ds_03 ul.last h2{color:#fff}
.ds_group .ds_04 ul{float:right}
.ds_group .ds_04 ul:first-child{background:#f7f7f7; color:#fff}
.ds_group .ds_04 ul.last p, .ds_04 ul.last h2{color:#fff}
.ds_group div ul.last{font-family: 'NanumBarunGothic';}