@charset "euc-kr";

			
/* *************** product details *************** */
#content_main{position:relative; width:100%; text-align:center}
/*#content_main #Lnb{height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 0; border-bottom:1px solid #c1c1c1; padding-bottom:1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}

.detail{width:80%; margin:0 auto; }
.detail .a_title{margin:45px 0 35px;color:#777;}
.detail .a_title h1{font-size:60px; letter-spacing:-3px; color:#383838; margin-bottom:5px;}
.detail .a_title h1 span{font-weight: normal;font-family:'Gotham ExtraLight'}
.detail .a_title p{color:#777;font-size:17px;letter-spacing:-1px;}
.dt_box{position:relative;margin-bottom:5%;min-height: 920px}
.dt_group{margin-right:300px}

/*
.dt_group .dt_pro_list{overflow:hidden}
.dt_group .dt_pro_list div{position:relative;width:33.33%; float:left;}
.dt_group .dt_pro_list div a *{cursor: pointer;}
.dt_group .dt_pro_list div a,.dt_group .dt_pro_list div p{display:block;border:1px solid #dadada;margin-right:8px;margin-bottom:8px;}
.dt_group .dt_pro_list div span{display:none}
.dt_group .dt_pro_list div:hover span{display:block; position:absolute; top:0; left:0;right:8px;bottom:8px}
.dt_group .dt_pro_list div img{width:100%}
*/
.dt_group .dt_pro_list{overflow:hidden}
.dt_group .dt_pro_list li{position:relative;width:33.33%; float:left;}
.dt_group .dt_pro_list li a *{cursor: pointer;}
.dt_group .dt_pro_list li a,.dt_group .dt_pro_list li p{display:block;border:1px solid #dadada;margin-right:8px;margin-bottom:8px;}
.dt_group .dt_pro_list li i{display:none}
.dt_group .dt_pro_list li:hover i{display:block; position:absolute; top:0; left:0;right:8px;bottom:8px}
.dt_group .dt_pro_list li img{width:100%}


.dt_tab{position:absolute; right:0; top:0;bottom:8px; width:284px; background-color:#a7ddd6;padding:20px 8px 50px}
.dt_tab .dt_Wbox{background-color:#fff;padding:40px 13px 35px;font-size:13px;}
.dt_tab .dt_Wbox button{border:0}
.dt_tab .dt_Wbox .dt_price{border-bottom:1px solid #b2b2b2;padding-bottom: 15px;text-align:center; }
.dt_tab .dt_Wbox .dt_price > *{vertical-align:middle;}
.dt_tab .dt_Wbox .dt_price strong{font-size:44px;font-family:'Gotham Book';letter-spacing:-5px; color:#393939;font-weight: 900;line-height:50px}
.dt_tab .dt_Wbox .dt_price img{ margin-right:2px}

.dt_tab .dt_Wbox .dt_notice{margin:35px 0 30px;text-align: left;padding-left: 20px;}
.dt_tab .dt_Wbox .dt_notice .dt_txt{position: relative;margin-bottom:4px;padding-left: 70px;min-height:20px}
.dt_tab .dt_Wbox .dt_notice .dt_txt div{font-size: 12.5px;}
.dt_tab .dt_Wbox .dt_notice .dt_txt div:first-child{color: #2f2f2f;position: absolute;left: 0;}
.dt_tab .dt_Wbox .dt_notice .dt_txt.last div:first-child{top:3px}
.dt_tab .dt_Wbox .dt_notice .dt_txt.color_type div:first-child{top:1px}
.dt_tab .dt_Wbox .dt_notice .dt_txt.color_type{margin-bottom:10px}
.dt_tab .dt_Wbox .dt_notice .dt_txt div:last-child,.dt_tab .dt_Wbox .dt_notice .dt_txt div.last-child{color:#919191;}
.dt_tab .dt_Wbox .dt_notice .dt_txt div select{width:129px; border:1px solid #ababab;font-family: 'NanumBarunGothic';}

.dt_tab .dt_Wbox .dt_gBox{background:#f6f6f6;text-align:left; padding: 0 0 13px 20px;min-height:122px}
.dt_tab .dt_Wbox .dt_gBox h2{display: inline-block;*display: inline;zoom:1;border-top:1px solid #abcdc9;}
.dt_tab .dt_Wbox .dt_gBox h2 strong{display:block;border-top:4px solid #a7ddd6;padding: 10px 0;color: #000;font-weight: 900;letter-spacing: -1px;font-size: 15.5px;}
.dt_tab .dt_Wbox .dt_gBox ul li{color:#858585;font-size:12px; line-height:160%}
.dt_tab .dt_Wbox .dt_gBox ul li i{display: inline-block;*display: inline;zoom:1;width: 3px;height: 3px;background-color: #3a3a4c;margin-right: 8px;vertical-align: middle;margin-top:-4px}

.dt_tab .dt_Wbox .dt_buy_btn{margin-top:20px}
.dt_tab .dt_Wbox .dt_buy_btn button{ margin-bottom:5px}
.dt_tab .dt_Wbox .dt_buy_btn button:first-child{cursor:pointer}
.dt_tab .dt_Wbox .dt_buy_btn button:last-child,.dt_tab .dt_Wbox .dt_buy_btn button.last-child{margin:0;cursor:pointer}

.dt_tab .dt_Wbox .dt_buy_btn2{display: none;}
.dt_tab .dt_more {display: none;}

/* 1128 수정 */
.dt_tab .dt_sns{display: inline-block;*display: inline;zoom:1;margin-top: 23px;}
.dt_tab .dt_sns div{float:left;  padding:0 17px; border-right:1px solid #6a9e9d;}
.dt_tab .dt_sns div:last-child,.dt_tab .dt_sns div.last-child{border:0}
.dt_tab .dt_sns div a{display:inline-block;}

.dt_tab .dt_best{border-bottom:1px solid #fff;padding-bottom:20px;overflow:hidden}
.dt_tab .dt_best h2{border-top: 2px solid #fff;margin-top: 37px;margin-bottom:20px}
.dt_tab .dt_best h2 span{position: relative;top: -2px;display: inline-block;*display: inline;zoom:1;border-top: 2px solid #000;padding-top: 5px;color: #1c1c2e;font-size: 16px;letter-spacing: -.2px;}
.dt_tab .dt_best div{float: left;display:block;width: 33.33%;overflow:hidden;margin-right:-1px}
.dt_tab .dt_best div a{display:block;padding:0 3px;}
.dt_tab .dt_best div a img{width:100%}
/* 1128 수정// */
/*
.dt_tab .dt_sns{width:192px; margin:23px auto 32px;  display:inline-block}
.dt_tab .dt_sns div{float:left;  padding:0 5%; border-right:1px solid #6a9e9d;}
.dt_tab .dt_sns div:last-child{border:0}
.dt_tab .dt_sns div a{display:inline-block;}

.dt_tab .dt_best{width:278px; display:inline-block;  margin:0 auto}
.dt_tab .dt_best h2{color:#3a3a4c; font-family:nanumgothic;  padding-top:8%; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_star.png') no-repeat center top;}
.dt_tab .dt_best div{float:left; width:88px; border:1px solid #dadada; margin:18px 4px 52px 0; line-height:0}
.dt_tab .dt_best div:last-child{margin-right:0;}
.dt_tab .dt_best div a img{width:100%}
*/

/* ****************dt_group1 ****************** */
.dt_group1{display:none;background:#f5f4f9; margin-right:300px; padding:10px 0 16px}

.dt_group1 .dt_rolling{width:90%; margin:0 auto; overflow:hidden; display:inline-block;}
.dt_group1 .dt_rolling .bx-wrapper{position: relative;margin-bottom: 40px;border: 1px solid #dadada;}
.dt_group1 .dt_rolling .bx-wrapper .bx-viewport{position: relative;line-height: 0;overflow: hidden;}
.dt_group1 .dt_rolling .bx-wrapper .bx-viewport a{display:block;width:100%;height:100%}
.dt_group1 .dt_rolling .bx-controls .bx-pager{position: absolute;bottom:-30px;left: 0;right: 0;z-index: 51;text-align:center}
.dt_group1 .dt_rolling .bx-controls .bx-pager > div{margin: 0 2px;display:inline-block;*display:inline;zoom:1;}
.dt_group1 .dt_rolling .bx-controls .bx-pager > div a{display:block;background: url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_o.png') no-repeat center center;width: 15px;height: 15px;text-indent: -999px;letter-spacing: -999px;font-size: 0;}
.dt_group1 .dt_rolling .bx-controls .bx-pager > div .active {background: url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_on.png') no-repeat center center;}

.dt_group1 .dt_rolling .bx-controls-direction a{display: block;position: absolute;top:50%;z-index: 51;margin-top:-24px;width: 33px;height: 48px;text-indent: -999px;letter-spacing: -999px;font-size: 0;}
.dt_group1 .dt_rolling .bx-controls-direction .bx-prev{left:2%;background: url(http://www.etland.co.kr/etland/images/bugatti/dt_prev.png);}
.dt_group1 .dt_rolling .bx-controls-direction .bx-next{right:2%;background: url(http://www.etland.co.kr/etland/images/bugatti/dt_next.png);}
.dt_group1 .dt_rolling .dt_pro_list{position:relative; float:left;}


/*
.dt_group .dt_pro_list div span{display:none}
.dt_group .dt_pro_list div:hover span{display:block; position:absolute; top:0; left:0; width:100%}
*/
.btn_group button{position:absolute; top:45%;background: transparent;border: 0;}
.owl-prev button:first-child{left:2%;cursor:pointer;}
.owl-next button:first-child{right:2%;cursor:pointer;}
#rolling_group1 .owl-wrapper-outer{border:1px solid #dadada; line-height:0; width:98.9%}

/*
.dt_group1 .dt_rolling .dt_pro_list button{position:absolute; top:45%; }
.dt_group1 .dt_rolling .dt_pro_list button:first-child{left:2%; }
.dt_group1 .dt_rolling .dt_pro_list button:nth-child(2){right:2%; }
.dt_group1 .dt_rolling .dt_pro_list div{float:left; border:1px solid #dadada; line-height:0; width:98.9%}
*/

/*
.dt_group1 .dt_rolling .dt_pro_list div img{width:100%}
.dt_group1 .dt_rolling .dt_pro_list div span{display:block; position:absolute; top:10px; right:15px}
*/
.dt_group1 .dt_rolling .dt_pro_list li img{width:100%}
.dt_group1 .dt_rolling .dt_pro_list li i{display:block; position:absolute; top:10px; right:15px}

.roll_group{margin:2% 0;display: inline-block;}
.roll_group .cabu-page{margin:0 2px;float:left;display:block; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_o.png') no-repeat center center; width:15px; height:15px;}
.roll_group .cabu-page:hover{display:block; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_on.png') no-repeat center center; }
.roll_group .on{display:block; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_on.png') no-repeat center center; }

/*
.dt_group1 .dt_rolling .dt_rollbtn{width:100%; float:left; margin-top:2%}
.dt_group1 .dt_rolling .dt_rollbtn ul{padding:0 ; margin:0}
.dt_group1 .dt_rolling .dt_rollbtn li{display:inline-block}
.dt_group1 .dt_rolling .dt_rollbtn li a{display:block; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_o.png') no-repeat center center; width:15px; height:15px}
.dt_group1 .dt_rolling .dt_rollbtn li a:hover{display:block; background:url('http://www.etland.co.kr/etland/images/bugatti/dt_roll_on.png') no-repeat center center; }
*/


/* *************************dt_tab1***************************** */

.dt_tab1{display:none;border-top:4px solid #a8dcd7;background-color:#fff}
.dt_tab1 .dt_Wbox{width:480px; background:none; margin:0 auto; padding:36px 0 22px; font-size:13px; border-bottom:1px solid #b2b2b2}
.dt_tab1 .dt_Wbox .dt_price{width:100%;  border-top:0; border-bottom:2px solid #333; margin:0 auto}
.dt_tab1 .dt_Wbox .dt_price span{display: block;margin: 0 auto 12px;text-align: center;color: #393939;font-size: 44px;letter-spacing: -3px;font-family: 'Gotham Book';font-weight: 900;}
.dt_tab1 .dt_Wbox .dt_price span img{vertical-align:middle; margin:0 2% 0 0}

.dt_tab1 .dt_Wbox>div:nth-child(2){width:100%; display:inline-block}

.dt_tab1 .dt_Wbox .dt_tt_group{width:100%; text-align:left; margin:22px auto 0; display:inline-block; background:#f6f6f6; }
.dt_tab1 .dt_Wbox .dt_notice{background-color:#fff;margin: 22px 0;font-size: 12.5px;}
.dt_tab1 .dt_Wbox .dt_notice>div>div:last-child,.dt_tab1 .dt_Wbox .dt_notice>div>div.last-child{padding-bottom:0}
.dt_tab1 .dt_Wbox .dt_notice .dt_txt{position: relative;padding-left:70px;margin-bottom:10px;text-align: left;}
.dt_tab1 .dt_Wbox .dt_notice .dt_txt div:first-child{position: absolute;left: 0; color:#2f2f2f;}
.dt_tab1 .dt_Wbox .dt_notice .dt_txt div:first-child{top:0}
.dt_tab1 .dt_Wbox .dt_notice .dt_txt div:last-child,.dt_tab1 .dt_Wbox .dt_notice .dt_txt div.last-child{color:#919191;}
.dt_tab1 .dt_Wbox .dt_notice .dt_txt div select{width:129px; border:1px solid #ababab;font-family: 'NanumBarunGothic';}

.dt_tab1 .dt_Wbox .dt_gBox{float:left; width:40%; margin:0 auto; border-top:1px solid #dbdbdb; padding:0 2.5% 0 2.5%}
.dt_tab1 .dt_Wbox .dt_gBox h2{font-weight:normal; color:#000; text-align:left}
.dt_tab1 .dt_Wbox .dt_gBox h2 img{vertical-align:text-bottom; padding-right:5px; margin-left:-10px}
.dt_tab1 .dt_Wbox .dt_gBox ul{margin:5px 0 0 20px}
.dt_tab1 .dt_Wbox .dt_gBox ul li{color:#858585; padding-bottom:5px; font-size:11px; line-height:150%}

.dt_tab1 .dt_Wbox .dt_buy_btn{width:100%; display:inline-block; background:#fff; margin-top:22px}
.dt_tab1 .dt_Wbox .dt_buy_btn a{float:left; display:inline-block; width:48.5%; padding:3% 0; border:1px solid #3a3a4c; }
.dt_tab1 .dt_Wbox .dt_buy_btn a img{margin-left:9px}
.dt_tab1 .dt_Wbox .dt_buy_btn a:first-child{color:#3a3a4c}
.dt_tab1 .dt_Wbox .dt_buy_btn a:nth-child(2){background:#3a3a4c; color:#fff; margin-right:0; float:right}

.dt_tab1 .dt_sns{width:480px; margin:23px auto 32px;  display:inline-block}
.dt_tab1 .dt_sns div{display:inline; line-height:0}
.dt_tab1 .dt_sns div a{display:inline-block; border-right:1px solid #b3b3ba; padding:0 2%; }
.dt_tab1 .dt_sns div a img{width:28px}
.dt_tab1 .dt_sns div:last-child a,.dt_tab1 .dt_sns div.last-child a{border:0}

.dt_tab1 .dt_best{ background:#f5f4f9; padding:28px 0 25px}
.dt_tab1 .dt_best h2{display: inline-block;*display: inline;zoom:1;color:#1c1c2e;font-size:16px;border-top: 2px solid #3a3a4c;padding-top: 5px;margin-bottom: 20px;}
.dt_tab1 .dt_best>div{width:460px; display:inline-block}
.dt_tab1 .dt_best>div>div{line-height:0; display:inline}
.dt_tab1 .dt_best>div>div:last-child,.dt_tab1 .dt_best>div>div.last-child{margin-right:0}
.dt_tab1 .dt_best>div>div a{display:inline-block; width:148px; border:1px solid #dadada; }
.dt_tab1 .dt_best>div>div img{width:100%}



/* *************** zoom box  *************** */
.dt_zoom_group{display:none;position: fixed;left:0;right:0;top:0;bottom:0;text-align:center;z-index:80;overflow:auto}
.dt_zoom_group .pop_con{position:relative;display:inline-block;*display:inline;zoom:1;background:#fff;border:1px solid #c1c1c1;z-index:82}
.bg_popup{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background: #000;z-index:79;/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;*/background: url(http://casabugatti.etland.co.kr/etland/images/bugatti/bg_popup.png);}
/*.dt_zoom_group .pop_con > div{padding:5px}*/

.dt_zoom_group .dt_zoomTop{  color: #fff; background-color: #c71b33; vertical-align: middle; font-size: 15px; line-height: 30px; height: 30px; display: block; overflow: hidden; width: 100%; text-align: center;}
.dt_zoom_group .dt_zoomTop span{  position: absolute;left: 50%;display:inline-block;*display:inline;zoom:1}
.dt_zoom_group .dt_zoomTop a{position: absolute;  right: 0;  top: 0;  float: right;  line-height: 0;  margin-right: 0.5%;  margin-top: 4px;}
.dt_zoom_group .dt_zoomBox{position:relative; margin-top:2px; border:1px solid #d4d4d4;overflow:hidden;overflow-y:auto}
.dt_zoom_group .dt_zoomBox div>img{width:100%; }
.dt_zoom_group .dt_zoomBox span{display:none; width:100%; position:absolute; top:45%; }
.dt_zoom_group .dt_zoomBox:hover span {display:block}
/*
.dt_zoom_group2{display:none;}
.dt_zoom_group2>div{width:100%; display:inline-block}
*/
.dt_zoom_group2{display:none;position: fixed;left:0;right:0;top:0;bottom:0;text-align:center;z-index:80;overflow:auto}
.dt_zoom_group2 .pop_con{position:relative;display:inline-block;*display:inline;zoom:1;background:#fff;border:1px solid #c1c1c1;z-index:82;}
.dt_zoom_group2 .pop_con > div{padding:5px}

.dt_zoom_group2 .dt_zoomBox{width:100%;  line-height:0}
.dt_zoom_group2 .dt_zoom_top{width:100%; background:#84d4c9; color:#fff; text-align:right;}
.dt_zoom_group2 .dt_zoom_top > *{display:inline-block;*display:inline;zoom:1;line-height:27px;height:27px}
.dt_zoom_group2 .dt_zoom_top h2{font-size:13px;padding-right:5px;}
.dt_zoom_group2 .dt_zoom_top a img{vertical-align: top;width: 17px;margin: 5px 10px 0 0;}


/* *************** layer box  *************** */
/*
.dt_layer_group{width:60%; margin:0 auto; display:none;  background:#fff; border:1px solid #c1c1c1}
.dt_layer_group>div{padding:1%}
*/

.dt_layer_group{display:none;position: fixed;left:0;right:0;top:0;bottom:0;text-align:center;z-index:80;}
.dt_layer_group .pop_con{position:relative;display:inline-block;*display:inline;zoom:1;max-width:800px;background:#fff;border:1px solid #c1c1c1;z-index:82;}

.dt_layer_group .dt_layerTop{color: #fff;background-color: #c71b33;vertical-align: middle;font-size: 15px;line-height:30px;height:30px;display:block;overflow:hidden;width:100%;text-align:center}
.dt_layer_group .dt_layerTop span{position:absolute;left:50%;display:inline-block;*display:inline;zoom:1}
.dt_layer_group .dt_layerTop a{position:absolute;right:0;top:0;float: right;line-height: 0;margin-right: 0.5%;margin-top:4px;}
.dt_layer_group .dt_layerBox{display:block;overflow:hidden;overflow-y:scroll;  border:1px solid #d4d4d4}
.dt_layer_group .dt_layerBox div{line-height:0; }
.dt_layer_group .dt_layerBox div img{width:auto; }


/*
.dt_layer_group2{display:none;}
.dt_layer_group2>div{width:100%; display:inline-block}
*/

.dt_layer_group2{display:none;position: fixed;left:0;right:0;top:0;bottom:0;text-align:center;z-index:80;overflow-y:scroll;overflow-x:hidden;}
.dt_layer_group2 .pop_con{position:relative;display:inline-block;*display:inline;zoom:1;background:#fff;border:1px solid #c1c1c1;z-index:82;}

.dt_layer_group2 .dt_layer_top{width:100%; background:#84d4c9; color:#fff; text-align:right;}
.dt_layer_group2 .dt_layer_top > *{display:inline-block;*display:inline;zoom:1;line-height:27px;height:27px}
.dt_layer_group2 .dt_layer_top h2{font-size:13px;padding-right:5px;}
.dt_layer_group2 .dt_layer_top a img{vertical-align: top;width: 17px;margin: 5px 10px 0 0;}

.dt_layer_group2 .dt_layer_top .dt_buy{float:left; width:20%; background:#3b3a4c; display:inline-block; color:#fff; text-align:center; padding:1% 0; }
.dt_layer_group2 .dt_layer_top .dt_buy img{margin-left:2%}

.dt_layer_group2 .dt_layerBox{width:100%;}
.dt_layer_group2 .dt_layerBox img{width:100%}




