@charset "euc-kr";

			
/* *************** FAQ *************** */
#content_main{position:relative; width:100%; text-align:center}
/*#content_main #Lnb{float:left; width:100%; height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 0; border-bottom:1px solid #c1c1c1; padding-bottom:1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}


.FAQ{width:100%; margin:0 auto; }
/*.FAQ .a_title{float:left; width:100%; margin:2% 0 3%; padding-bottom:3%; color:#777; background:url('http://www.etland.co.kr/etland/images/bugatti/ab_bg.gif') no-repeat center bottom;}*/
.FAQ .a_title h1{font-size:60px; letter-spacing:-1px; color:#383838}

/* *************** 게시판 탭 시작 *************** */
.faq_group{width:100%;  display:inline-block}
.faq_group .search{width:100%; display:inline-block; padding:1.8% 0 0;
									background:url('http://www.etland.co.kr/etland/images/bugatti/faq_topbg.jpg') no-repeat center center; background-size:cover}
.faq_group .search>section{width:50%; text-align:center; display:inline-block; margin: 3% auto; }									
.faq_group .search section section{padding:4%}	
.faq_group .search .scBox{display:inline-block; border:3px solid #c71b33; background:#fff; width:75%;}
*:first-child+html .scBox { padding-bottom: 0.2px;}
.faq_group .search input{width:95%; height:41px; font-size:15px; border:0; background:none;}
.faq_group .search button{background:#c71b33; color:#fff; font-size:15px; height:47px; padding:0 7%;} 
.faq_group .search ul li{text-align:left; font-size:13px; padding-bottom:1%; line-height:130%}
.faq_group .search ul li a{font-weight:bold; color:#000}
/* *************** 게시판 탭 끝 *************** */

/* *************** 게시판 목록 시작 *************** */
.faq_list_wrap{width:70%; margin:3% auto; display:inline-block}
.flicking{display:none}
.faq_list_wrap .faq_board{width:100%;  display:inline-block}
.faq_list_wrap .faq_board ul li{float:left; width:20%;}
.faq_list_wrap .faq_board ul li a{display:block; border-width:0 1px 1px 0px;border-color: #b9b9b9 #e9e9e9  #e9e9e9  #e9e9e9; border-style:solid;background:url('http://www.etland.co.kr/etland/images/bugatti/border_bg_off.gif') repeat-x top left;color:#707070; font-size:13px; line-height: 57px;height: 52px;}
.faq_list_wrap .faq_board ul li:first-child a{border-width:0 1px 1px 1px;}
.faq_list_wrap .faq_board ul li.on a{color: rgb(58, 58, 58);border-top-width: 0px;display: block;background: url(http://www.etland.co.kr/etland/images/bugatti/border_bg.gif) 0% 0% repeat-x;border-bottom:0}
.faq_list_wrap .faq_board ul li:hover a{border-top-width:0; background:url('http://www.etland.co.kr/etland/images/bugatti/border_bg.gif') repeat-x top left}
.faq_list_wrap .faq_board ul li.choice{border-bottom-color:#fff; background:url('http://www.etland.co.kr/etland/images/bugatti/border_bg.gif') repeat-x top left}
.faq_list_wrap .faq_board ul li.choice a{color:#3a3a3a}
.faq_list_wrap .faq_board ul li.after_width a{width:75%}/* 수정 */
/*.faq_list_wrap .faq_board ul li a{display:block;width:70%;margin:0 auto;}*/

.faq_list_wrap .faq_list_group .faq_list .faq_none{width:100%; text-align:center; padding:10% 0;background:#fafafa;border-bottom:1px solid #ddd;}
.faq_list_wrap .faq_list_group .faq_list .faq_none .none_title{color:#707070; font-weight:bold; font-size:1em; }
.faq_list_wrap .faq_list_group .faq_list .faq_none .none_title strong{color:#3a3a3a}
.faq_list_wrap .faq_list_group .faq_list .faq_none .none_text{width:100%; text-align:center;  margin-top:3%}
.faq_list_wrap .faq_list_group .faq_list .faq_none ul{margin:3% auto 10%; display: inline-block;*display:inline;zoom:1}
.faq_list_wrap .faq_list_group .faq_list .faq_none li{font-size:13px; color:#707070; text-align:left; border-bottom:0; line-height:140%}
.faq_list_wrap .faq_list_group .faq_list .faq_none li a{background:none; color:#3a3a3a; padding:0; margin:0; display:inline-block; font-size:12px}
.
.faq_list_wrap .faq_list_group .faq_list ul{width:100%; margin:0 auto; }
.faq_list_wrap .faq_list_group .faq_list ul li{text-align:left; border-bottom:1px solid #e9e9e9; }
.faq_list_wrap .faq_list_group .faq_list ul li > a{display:block;  color:#282828; font-size:15px; line-height:140%; margin:0 5%; padding:2% 0 2% 5%; background:url('http://www.etland.co.kr/etland/images/bugatti/faq_q.jpg') no-repeat left center; }

.faq_list_wrap .faq_list_group .faq_list ul li div{width:100%; background:#f7f7f7; border-top:1px solid #e9e9e9; }
.faq_list_wrap .faq_list_group .faq_list ul li div p{font-size:14px; color:#636363; padding:3% 9.5%; line-height:140% }
.faq_list_wrap .faq_list_group .faq_list ul li div img{margin-left:-13px}/* 수정 */
/* *************** 게시판 목록 끝 *************** */
