	@media all and (max-width:1680px){
	/* detail */
		.dt_group .dt_pro_list div{width:48.5%}
	/* detail// */
	}
	
	
	@media all and (max-width:1279px){/* ******************************* 768px ~ 1279px ******************************* */
		
	/* index */
		header>div{height:37px; background:url('http://www.etland.co.kr/etland/images/bugatti/thd_bg.jpg') repeat-x center center; background-size:100%}
		header .tList_btn{display:block; position:absolute; top:10px; left:17px}
		header h1 a{z-index:5; top:10px; left:57px;width:103px; height:20px; background:url('http://www.etland.co.kr/etland/images/bugatti/tMlogo.png') no-repeat; }
		/*
		header .sub_gnb {margin-right:200px;}
		*/
		#wrap{margin-left:0}  
		#main{margin:35px 0 0 0}
 	    .gnb{left:-200px;z-index:5;display: block} 
		.gnb2{display:none; top:0}
		.gnb2>div{margin-top:20px;}
		
		/*리스트 버튼 클릭했을때
		#wrap{margin-left:200px}  
		#main{margin:35px 0 0 0}
		.gnb{left:0;z-index:5;display: none}
		.gnb2{display:block; top:0}
		.gnb2>div{margin-top:20px;}
		*/
		
		#main .main_visual .rolling_group2{display:block}
		#main .main_visual .rolling_group{display:none}
		
		.main_visual  .btn_group a{z-index:5; position:absolute; top:40%; text-align:center}
	/* index // */
	
	/* sub all */
	#content_main #Lnb p{width:90%}
	
	.a_container{width:90%}
	.a_container .a_title{margin:4% 0}
	.a_container .a_title h1{font-size:50px; margin-bottom:5px}
	/* sub all //*/
	
	/* designer */
	/* designer //*/
	
	/* about */
	.ab_group .fitst span{margin:2% 0; text-align:center}
	.ab_group .fitst span img{width:10px}
	
	.dt_group .dt_pro_list div{width:49.7%;}
	.ab_group .image {width:49.6%;}
	.ab_group div p a{text-align:left; font-size:0.85em; border:0; font-weight:normal; display:block; margin-top:0; padding:0; color:#c71b33;}
	.ab_group div p a img{margin-left:5px; display:inline-block} 
	
	/* about //*/
	
	/* prepare */
	.prepare_container .a_container{margin:188px auto }
	.prepare_container .a_container div a{width:14%; font-size:0.85em}
	.prepare_container .red_text{font-size:0.85em}
	
	.prepare_container .a_container .a_title{font-size:1.55em}
	 .prepare_container .pp_shortCut{float:left; background:url('http://www.etland.co.kr/etland/images/bugatti/tpre_bg.png') no-repeat top center;}
	 .prepare_container .pp_shortCut div{margin:50px 0}
	 .prepare_container .pp_shortCut div a{display:inline-block; margin:0 5px}
	/* prepare //*/
	
	/* category main */
	#content_main .cate_content{width:90%; margin:1% auto 9%}
	#content_main .cate_content .cate_productGroup div{width:32.5%; margin:0.5% 0.5% 0 0;}
	/* category main //*/
	
	/* category sub */
	#content_main .cate_content .cate_productGroup div:hover div{display:none;}
	/* category sub //*/
	
	/*detail*/
	.detail{width:90%}
	.detail .a_title h1{font-size:50px}
	
	.dt_group .dt_pro_list div{width:48.25%}
	
	
	/*
	.dt_group{margin-right:257px}
	
	.dt_tab{width:257px; }
	.dt_tab .dt_Wbox{width:242px; margin:20px auto 0; padding:25px 0 5px}
	.dt_tab .dt_Wbox .dt_price{width:225px; margin:0 auto}
	.dt_tab .dt_Wbox .dt_price span{margin:6% auto;}
	
	.dt_tab .dt_Wbox .dt_notice{width:216px; margin:19px auto 0}
	.dt_tab .dt_Wbox .dt_notice .dt_txt div:first-child{width:64px}
	
	.dt_tab .dt_Wbox .dt_gBox{width:217px; padding:0 0 13px 10px}
	
	.dt_tab .dt_Wbox .dt_buy_btn{display:none}
	
	.dt_tab .dt_Wbox .dt_buy_btn2{display:block}
	
	.dt_tab .dt_Wbox .dt_buy_btn2{margin-top:14px;}
	.dt_tab .dt_Wbox .dt_buy_btn2 button{margin-bottom:0}
	
	.dt_tab .dt_sns{width:158px; margin:14px auto 15px}
	.dt_tab .dt_sns div{padding:0 12px}
	
	.dt_tab .dt_best{width:257px;}
	.dt_tab .dt_best div{width:76px; margin:18px 0 0; display:inline-block}
	
	.dt_tab  .dt_more{display:block}

	.broadNone{display:none}
	.dt_group .dt_pro_list div{width:48.25%}
	*/
	/* detail //*/
	
	
	/* store */
	.store{width:100%}
	
	.st_group .st_blank{width:90%}
	
	.st_slt_group{width:91.5%}
	
	.st_group .st_selectBox{width:100%}
	
	.st_group .st_wBox .st_list{width:95%}
	.st_group .st_wBox .st_list .st_left ul li .st_div{background-position:97% center}
	.st_group .st_wBox .st_list .st_left ul li .st_div:hover{background-color:#fff;background-position:97% center}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store strong{font-size:1.35em}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store .tel{font-size:1em}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store div:last-child{font-size:0.85em}
	/* store //*/
	
	/* FAQ */
	.FAQ{width:100%}
	
	.faq_list_wrap{width:90%}
	.faq_group .search{background-size:cover}
	.faq_group .search > section{width:65%}
	
	.faq_list_wrap .faq_board ul li:hover{border-top}
	
	.faq_list_wrap .faq_list_group .faq_list ul li a{background-size:26px; margin: 0 4%; padding-left:5%}
	.faq_list_wrap .faq_list_group .faq_list ul li div p{padding:3% 5% 3% 12%}
	/* FAQ //*/
	}
	
	@media all and (max-width:1000px){/* ******************************* ~ 1000px ******************************* */
	/* index */
	#main .contents .cts_group{width:666px; margin:6% auto}
		#main .contents .cts_group div{width:326px; margin:1% 0 0 1%;}
	/* index // */
	}
	
	@media all and  (max-width:767px){/* ******************************* ~ 767px ******************************* */
		
	/* index */
		
		header .sub_gnb {display:none}
		
		header h1 a{display: table;left:0;margin:0 auto;padding:0;position: relative;}
		
		.main_visual  .btn_group a{display:none}
		.main_visual .roll_group a{height:6px;}
		
		#main .contents{background:url('http://www.etland.co.kr/etland/images/bugatti/tCmain_bottombg.jpg') no-repeat center top; background-size:143%}
		
		#main .contents .cts_group{width:89%; margin:6% auto}
		#main .contents .cts_group div{width:49%; margin:1% 0 0 1%;}
		
	/* index //*/
	
	/* sub all */
	.a_container .a_title{margin:6% 0}
	.a_container .a_title h1{font-size:38px;}
	.a_container .a_title p{font-size:13px}
	
	#content_main #Lnb{display:none}
	
	footer .copyright h2 img{width:120px}
	/* sub all // */
	
	/* designer */
	.ds_group>div>div{width:100%; float:left;}
	/*
	.ds_group div p.ellipsis{
			height:165px;
			overflow: hidden;
			text-overflow:ellipsis;		// IE, Safari 
			-o-text-overflow:ellipsis;		// Opera under 10.7 
			-moz-text-overflow:ellipsis;
			 display: -webkit-box;
			 
			 -webkit-line-clamp: 8; // 라인수 
			 -webkit-box-orient: vertical;
			 word-wrap:break-word;
			 word-break:break-all;
			 table-layout:fix;
	}*/
	/* designer // */
	
	/* about */
	.ab_group>div>div{width:100%;}
	
	.ab_group .image {width:100%;}
	
	.ab_group .ab_02{display:none}
	.ab_group .ab_02_1{display:block}
	.ab_group .ab_04{display:none}
	.ab_group .ab_04_1{display:block}
	
	.ab_group > div>div:last-child{margin:7% 0}
	
	.ab_group p{font-size:0.85em}
	.ab_group .fitst span{margin:0}
	.ab_group .history .his_list .group{font-size:0.85em; overflow:hidden}
	
	

	/* about //*/
	
	/* prepare */
	.prepare_container{background-size:100%}
	.prepare_container .a_container{margin:18% auto}
	.prepare_container .a_container div a{font-weight:normal; font-size:0.75em; width:22%; padding:1.6% 0}
	.prepare_container .a_container .a_title{font-size:1.35em}
	.prepare_container .a_container .a_title{margin-bottom:3%}
	
	.prepare_container .pp_shortCut{display:none}
	.prepare_container .pp_shortCut1{display:block}
	
	.prepare_container .pp_shortCut1{ background:url('http://www.etland.co.kr/etland/images/bugatti/tMpre_bg.png') no-repeat top center;}
	.prepare_container .pp_shortCut1>div{width:89%; margin:0 auto; padding:12% 0}
	.prepare_container .pp_shortCut1 div a{margin:1% 0 0 1%; }
	.prepare_container .pp_shortCut1 div a:nth-child(2n+2){display:inline-block}
	
	.prepare_container .red_text{font-size:0.75em}
	/* prepare //*/
	
	/* category  */
	.image_ready{display:block;}
	
	#content_main .cate_content{width:90%; margin:3% auto 9%}
	#content_main .cate_content .cate_productGroup div{width:49%; margin:1% 1% 0 0;}
	#content_main .cate_content .cate_productGroup div:nth-child(2n+2){margin-right:0}
	#content_main .cate_content .cate_productGroup div:hover div{display:none;}
	
	#content_main .cate_content .sub_bottom{display:inline-block}
	/* category  //*/
	
	/* detail */
/* detail */
	.dt_box	{margin-bottom: 0;} 
	.detail .a_title{background:none; padding-bottom:0; margin:2% 0 3%}
	.detail .a_title h1{font-size:30px}
	.detail .dt_title p{font-size:0.85em}
	.detail{width:100%}
	
	.detail .dt_group{display:none; margin-right:0}
	.detail .dt_group1{display:block; margin-right:0 }
	
	.dt_layer_group{display:none;}
	.dt_layer_group2{display:none;}
	
	.dt_tab{display:none; }
	.dt_tab1{display:block}
	
	.dt_tab1 .dt_Wbox{width:90%}
	.dt_tab1 .dt_Wbox .dt_tt_group{margin-top:0; background:#fff}
	
	.dt_tab1 .dt_Wbox .dt_notice{width:100%; margin:22px 0; font-size:0.95em}
	.dt_tab1 .dt_Wbox .dt_notice>div{width:55%; margin:0 auto; text-align:center}
	.dt_tab1 .dt_Wbox .dt_notice .dt_txt div:first-child{width:56px;}
	.dt_tab1 .dt_Wbox .dt_notice .dt_txt div select{font-size:0.95em}
	
	.dt_tab1 .dt_Wbox .dt_gBox{width:100%; padding:0; background:#f6f6f6}
	.dt_tab1 .dt_Wbox .dt_gBox>div{ margin:11px 0; text-align:center}
	.dt_tab1 .dt_Wbox .dt_gBox>div>div{display:inline-block}
	.dt_tab1 .dt_Wbox .dt_gBox h2{margin-top:0}
	.dt_tab1 .dt_Wbox .dt_gBox ul{margin-left:20px}
	.dt_tab1 .dt_Wbox .dt_gBox ul li{font-size:0.95em; text-align:left}
	
	.dt_tab1 .dt_Wbox .dt_buy_btn{margin-top:7px}
	.dt_tab1 .dt_Wbox .dt_buy_btn a{width:49 %}
	
	.dt_tab1 .dt_sns{width:90%}
	
	.dt_tab1 .dt_best > div{width:90%}
	.dt_tab1 .dt_best > div > div a{width:31%}
	
	.dt_zoom_group{display:none}
	.dt_zoom_group2{display:none}
	
	/* detail //*/
	
	/* store */
	.st_slt_group{width:100%}
	
	.st_group .st_selectBox .selectBox_ex{width:110px}
	
	
	
	.st_group .st_wBox .st_list .st_left{width:100%; margin-left:0}
	.st_group .st_wBox .st_list .st_left ul li .st_div:hover{background-position:97% center}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store strong{font-size:1.35em}
	.st_wBox .st_right{display:none}
	/* store //*/
	
	/* FAQ */
	.faq_group .search > section{width:72%}
	.faq_group .search .scBox{width:72%}
	.faq_group .search .scBox input{width:90%}
	.faq_group .search ul li{font-size:0.67em}
	
	.ab_group p, .ab_group .history .his_list .group{line-height:190%; font-size:0.9em}
	.ab_group .history .his_list .group{height:auto}
	
	.faq_list_wrap .faq_board ul li{width:19.7%}
	.faq_list_wrap .faq_board ul li a{font-size:0.7em; letter-spacing:-1px}
	.faq_list_wrap .faq_list_group .faq_list ul li a{background-size:22px; padding-left:6%; font-size:0.7em}
	.faq_list_wrap .faq_list_group .faq_list ul li div p{font-size:0.7em; padding:3% 5% 3% 12.5%}
	
	/* FAQ //*/
	}
	
	
	@media all and (max-width:479px){/* ******************************* ~ 479px ******************************* */
	/* index */
		#main .contents{background:url('http://www.etland.co.kr/etland/images/bugatti/ttmain_bottombg.jpg') no-repeat center top / 111% auto; }
		
		#main .contents .sub_bottom{width:89%}
		#main .contents .sub_bottom .sub_group a{font-size:0.7em}
		
		.main_visual  .btn_group a:first-child{left:1%; }
		.main_visual  .btn_group a:last-child{right:1%;}
		
	/* index // */
	
	/* sub all  */	
	.a_container .a_title{padding-bottom:5%; margin:8% 0}
	
		.a_container .a_title h1{font-size:30px;}
		.a_container .a_title p{font-size:11px}
	footer .copyright h2 img{width:100px}
	/* sub all // */
	
	/* about */
	.ab_group p, .ab_group .history .his_list .group{font-size:0.8em}
	/* about //*/
	
	/* designer */
	.ds_group div .image{width:100%; float:left; margin:0 auto; display:block}	
	.ds_group div p{width:100%;color:#9b9b9b; float:left; line-height:140%; text-align:justify; padding:20px 0}
	.ds_group div p.ellipsis{height:inherit}
	/* designer // */
	
	/* prepare */
	.prepare_container .a_container .a_title{padding-bottom:0; margin-bottom:3%; font-size:1.15em}
	
	
	.prepare_container .pp_shortCut1>div{width:100%}
	/* prepare //*/
	
	/* category  */
	#content_main .cate_content .cate_productGroup div{width:49%; margin:0.5% 0.5% 0 0}
	
	#content_main .cate_content .sub_bottom .sub_group a{font-size:0.7em}
	/* category  //*/
	
	/* detail */
		.detail .a_title{margin:2% 0 3%; padding-bottom:0}   
		.detail .a_title h1{font-size:20px; }
		.detail .a_title p{font-size:0.75em}
		
		.dt_group1 .dt_rolling{width:90%}
		.dt_group1 .dt_rolling .dt_pro_list div span{top:5px; right:5px}
		.dt_group1 .dt_rolling .dt_pro_list div span img{width:70px}
		
		
		.owl-prev button{width:10%;}
		.owl-prev button img{width:100%;}
		.owl-next button{width:10%;}
		.owl-next button img{width:100%;}
		
		/*
		.dt_group1 .dt_rolling .dt_pro_list button{width:10%;}
		.dt_group1 .dt_rolling .dt_pro_list button img{width:100%;}
		*/
		.dt_tab1 .dt_Wbox .dt_notice>div{width:83%; }
		
		
		/* detail //*/
		
	/* store */
	.st_group .st_selectBox select{font-size:0.95em}
	.st_group .st_selectBox .selectBox_ex{font-size:0.95em}
	
	.st_group .st_wBox .st_list .st_left ul li .st_div{background:none}
	.st_group .st_wBox .st_list .st_left ul li .st_div:hover{background:none}
	.st_group .st_wBox .st_list .st_left ul li .st_div a{background-size:18px}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store strong{font-size:1.1em}
	.st_group .st_wBox .st_list .st_left ul li .st_div .st_store div:last-child{font-size:80%}
	/* store //*/
	
	/* FAQ */
	.faq_group .search > section{width:90%}
	.faq_group .search .scBox{width:71%}
	.faq_group .search input{width:90%; font-size:0.8em; height:24px;}
	.faq_group .search button{font-size:0.8em; height: 32px;}
	.faq_group .search section section{font-family:dotum; font-size:16px; letter-spacing: -1px;}
	
	.faq_list_wrap{width:90%}
	
	.faq_list_wrap .faq_board{position:relative; overflow:hidden; max-height:50px; margin-bottom:2%}
	.flicking{display:block}
	.flicking a{position:absolute; top:36%}
	.flicking a:first-child{left:2%;}
	.flicking a:last-child{right:3%;}
	
	.faq_list_wrap .faq_board ul{width:100%}
	.faq_list_wrap .faq_board ul li{width:32.7%}
	.faq_list_wrap .faq_board ul li:nth-child(3n+3){border-right:0}
	.faq_list_wrap .faq_list_group .faq_list ul li a{background-size:19px; padding:3% 0 3% 8%; margin:0 2%}
	
	.faq_list_wrap .faq_list_group .faq_list .faq_none .none_title{font-size:0.85em}
	.faq_list_wrap .faq_list_group .faq_list .faq_none ul{margin:7% auto 10%; padding:0 5%}
	.faq_list_wrap .faq_list_group .faq_list .faq_none li{font-size:0.66em}
	
	.page_bottom a, .page_bottom strong{font-size:0.65em}
	.page_bottom .pre_end, .page_bottom .pre, .page_bottom .next, .page_bottom .next_end{width:11px; height:15px}
	/* FAQ //*/
	}
	
	@media all and (max-width:320px){
		#main{width:320px}

		.a_container .a_title{margin:6% 0}
		
	}
	