@charset "euc-kr";

			
/* *************** store *************** */
#content_main{position:relative; width:100%; text-align:center}
/*#content_main #Lnb{float:left; width:100%; height:30%; background:#fff; }*/
#content_main #Lnb p{text-align:left; font-size:80%; width:80%; margin:2.5% auto 0; border-bottom:1px solid #c1c1c1; padding-bottom:1%}
#content_main #Lnb p a{color:#6e6e6e}
#content_main #Lnb p .black{color:#000105}


.store{width:100%; margin:0 auto; }
/*.store .a_title{float:left; width:100%; margin:2% 0 3%; padding-bottom:3%; color:#777; background:url('http://www.etland.co.kr/etland/images/bugatti/ab_bg.gif') no-repeat center bottom;}*/
.store .a_title h1{font-size:60px; letter-spacing:-1px; color:#383838}

.st_group{width:100%; background:#fafafa; display:inline-block}
.st_group .st_blank{width:80%; margin:0 auto}
.st_slt_group{width:100%; display:inline-block;}
.st_group .st_selectBox{width:90%; margin:20px auto 1%; text-align:right;height:35px}
.st_group .st_selectBox select{display:none; width:17%; border:3px solid #77cfc3; font:0.85em ; color:#4c4d50; text-indent: 7%; padding:0.4% 0;background:#fff url('http://www.etland.co.kr/etland/images/bugatti/slt_arr.png') no-repeat 97% center; -webkit-appearance:none; }
/*select box 시안*/															

.st_group .st_selectBox .selectBox_ex{width:150px; float:right; margin-bottom:1%; margin-left:1%}
.st_group .st_selectBox .selectBox_ex div{border:3px solid #77cfc3; font:12px ; color:#4c4d50; text-indent: 7%; padding:3% 0;background:#fff url('http://www.etland.co.kr/etland/images/bugatti/slt_arr.png') no-repeat 97% center; text-align:left}
.st_group .st_selectBox .selectBox_ex .sbOptions a,.st_group .st_selectBox .selectBox_ex .sbSelector{font-size:13px;font-family: 'NanumBarunGothic';}
/*
.st_group .st_selectBox .selectBox_ex ul{display:none; width:100 %; box-shadow:0px 0px 3px #777; -webkit-box-shadow:0px 0px 3px #777}
.st_group .st_selectBox .selectBox_ex ul li{text-align:left; text-indent:7%; background:#fff}
.st_group .st_selectBox .selectBox_ex ul li a{display:block; font:0.75em ; color:#4c4d50; padding:3% 0; }
.st_group .st_selectBox .selectBox_ex ul li:hover{background:#77cfc3}
.st_group .st_selectBox .selectBox_ex ul li:hover a{color:#fff}										
*/
/*select box 시안 끝*/					

.st_group .st_wBox{width:100%; background:#fff; margin: 0 auto 5%; display:inline-block; padding-bottom:2%}
.st_group .st_wBox .st_list{position:relative;width:90%; margin:2% auto 0;overflow:hidden}

.st_group .st_wBox .st_list .st_left{width:50%;float:left;min-height:500px;max-height:500px;overflow-y:auto}
.st_group .st_wBox .st_list .st_left > ul{margin-bottom:20px;border-top:1px solid #dadada;}
.st_group .st_wBox .st_list .st_left>ul>li {width:100%; text-align:left; border-bottom:1px solid #dadada;overflow:hidden}
/*.st_group .st_wBox .st_list .st_left>ul>li:last-child{border:0}*/

.st_group .st_wBox .st_list .st_left ul li .st_div{margin:5px 0; padding:0 55px; cursor: pointer; background:url('http://www.etland.co.kr/etland/images/bugatti/st_arr.png') no-repeat 91% center;}
.st_group .st_wBox .st_list .st_left ul li.on .st_div{background-color:#e4f5f3}
/*.st_group .st_wBox .st_list .st_left ul li:hover .st_div{background:#e4f5f3 url('http://www.etland.co.kr/etland/images/bugatti/st_arr.png') no-repeat 91% center;}*/
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store{font-size:13px; text-align:left;color:#5a5a5a; padding:20px 0 20px 39px;  background:url('http://www.etland.co.kr/etland/images/bugatti/st_ico.png') no-repeat left center;}
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store > div:first-child{min-height:22px}
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store div:last-child,.st_group .st_wBox .st_list .st_left ul li .st_div .st_store div.last-child{padding-top:3px}
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store strong{font-size:1.45em;padding-right:25px;}
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store span{display:inline-block}
.st_group .st_wBox .st_list .st_left ul li .st_div .st_store .tel{font-size:1.15em}


.st_group .st_wBox .st_list .st_left ul li .st_div_d{margin:0.7% 0; padding:1% 0; }
.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d{width:75%; font-size:13px; text-align:left; display:inline-block; color:#5a5a5a; padding:4% 0 4% 39px; margin-left:3%;}
.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d div:last-child,.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d div.last-child{padding-top:3px}
.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d strong{font-size:1.45em}
.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d span{display:inline-block}
.st_group .st_wBox .st_list .st_left ul li .st_div_d .st_store_d .tel_d{padding-left:1%; font-size:1.15em}
.st_wBox .st_right{position:absolute;right:0;top:0;bottom:20px;float:right;width:50%;}
.st_wBox .st_right .st_map{margin-left:27px;height:100%; border:1px solid #dadada;}
.st_wBox .st_right .st_map > div{height:100%;width:100%;}