@charset "euc-kr";

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
	html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, 
	img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, 
	tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, 
	summary,time, mark, audio, video , button{
		    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;  list-style:none; 
		    }
body, button{font-family:"Gotham Book", NanumGothic, dinmed}
body, html{width:100%; height:100%; html:100%}
h3{display:none}
a{text-decoration:none}
legend, caption, .none{display:none}
@font-face{
				font-family:"NanumGothic";
				src:url('http://www.etland.co.kr/etland/common/font/NanumGothic.eot');
				src:local("NanumGothicBold"), url('http://www.etland.co.kr/etland/common/font/NanumGothic.woff') format("woff");
				font-weight:normal;
				font-style:normal;
			}
@font-face{
				font-family:"Gotham Book";
				src:url('http://www.etland.co.kr/etland/common/font/Gotham-Book.eot');
				src:local("Gotham-Book"), url('http://www.etland.co.kr/etland/common/font/Gotham-Book.woff') format("woff");
				font-weight:normal;
				font-style:normal;
			}
@font-face{
				font-family:"dinmed";
				src:url('http://www.etland.co.kr/etland/common/font/DINMed.eot');
				src:local("dinmed"), url('http://www.etland.co.kr/etland/common/font/DINMed.woff') format("woff");
				font-weight:normal;
				font-style:normal;
			}			
			
#wrap{width:100%; }

/* *************** header *************** */
header{position:relative}
header>div{position:fixed; z-index:4; top:0; width:100%; height:39px; background:url('http://www.etland.co.kr/etland/images/bugatti/hd_bg.jpg') repeat-x;}
header .tList_btn{display:none;}
header h1 a{ position:absolute; z-index:5; top:0; left:28px;width:148px; height:148px; background:url('http://www.etland.co.kr/etland/images/bugatti/logo.png') no-repeat; }
header .sub_gnb {float:right; margin-top:7px; margin-right:30px}
header .sub_gnb h2{display:none}
header .sub_gnb li{list-style:none; float:left; }
header .sub_gnb li a{color:#fff; font-size:0.75em; border-right:1px solid #de7987; padding: 0 10px}
header .sub_gnb li:last-child a{border:0}

/* *************** gnb  *************** */
.gnb2{display:none; }

.gnb{position:fixed; z-index: 1; width:200px; height:100%; background:#efefef;}
.gnb>div{margin-top:161px;}
.gnb section h2{background:url('http://www.etland.co.kr/etland/images/bugatti/gnb_titlebg.jpg') repeat-x bottom center; width:163px; height:35px; text-align:left; padding-left:37px}
.gnb section h2 a{display:block}
.gnb section:last-child{padding-top:27px;}
.gnb section div{width:100%; background:#f3f3f3 url('http://www.etland.co.kr/etland/images/bugatti/gnb_listbg.jpg') repeat-x bottom center; }
.gnb section div ul{width:166px; margin:0 auto 2px;  } 
.gnb section div ul li {width:100%; border-bottom:1px solid #e3e3e3; padding:13px 0;}
.gnb section div ul li:last-child{border:0; padding-bottom:20px}
.gnb section div ul li a{display:block; font:13px nanumgothic; color:#737373; padding:0 18px 0 21px; background:url('http://www.etland.co.kr/etland/images/bugatti/gnb_off.jpg') no-repeat 88% center; }
.gnb section div ul li a:hover{color:#c71b33; font-weight:bold; background:url('http://www.etland.co.kr/etland/images/bugatti/gnb_on.jpg') no-repeat 88% center;}

/* *************** main  *************** */
#main{ z-index: 1; margin:39px 0 0 200px; min-height:100%; overflow:hidden;}
#main .main_visual{ line-height:0; width:100%}
#main .main_visual .rolling_group{ width:100%; overflow:hidden; }
/*
#main .main_visual .rolling_group div{width:100%; display:inline-block; font-size:0}
*/
#main .main_visual .rolling_group .roll_img{width:100%; display:inline-block; font-size:0;padding-bottom:630px; background-size:cover}


/*
#main .main_visual .rolling_group2 div{width:100%; display:inline-block; font-size:0}
*/
#main .main_visual .rolling_group2{display:none; position:relative; width:100%; overflow:hidden; }
#main .main_visual .rolling_group2 .roll_img{padding-bottom:54%; }



/*
.main_visual  .btn_group a{z-index:5; position:absolute; top:45%;}
*/


			
.main_visual  .slidesjs-previous{z-index:20; position:absolute; top:45%;left:2%; text-align:left}
.main_visual  .slidesjs-next{z-index:20; position:absolute; top:45%;right:2%; text-align:right}

/*
.main_visual .roll_group{z-index:5; position:absolute; bottom:2.5%; width:100%; text-align: center}
.main_visual .roll_group a{width:8%; height:8px; margin:0 4px;border:1px solid #a6a19e; display:inline-block; box-shadow:0 0 3px #000}
.main_visual .roll_group a:last-child{margin:0}
.main_visual .roll_group a.on{background:#c61a32; border:1px solid #db2740}
*/
.main_visual .roll_point {z-index:20; position:absolute; bottom:2.5%; width:100%; text-align: center}
.main_visual .roll_point .rollIcon {width:8%; height:8px;display:inline-block;}
.main_visual .roll_point .rollIcon a{width:100%; height:8px; margin:0 4px;border:1px solid #a6a19e; display:inline-block; box-shadow:0 0 3px #000}
.main_visual .roll_point .rollIcon a:last-child{margin:0}
.main_visual .roll_point .rollIcon a.active{background:#c61a32; border:1px solid #db2740}




#main .contents{ float:left; width:100%; background:url('http://www.etland.co.kr/etland/images/bugatti/main_bottombg.jpg') no-repeat left center; 
									background-size:100%; display:inline-block; padding:3% 0 4.8%; line-height:0; text-align: center;}
#main .contents .cts_group{width:80%; margin:0 12.1%; display:inline-block}

#main .contents .cts_group div{position:relative; width:23.3%; float:left; margin-top:0.5%; margin-right:0.5%;}
#main .contents .cts_group div .progress{position:absolute; top:25%; left:25%; z-index:10}
#main .contents .cts_group div .progress>img{width:auto}
#main .contents .cts_group div img{width:100%}

#main .contents .sub_bottom{display:none; width:73%; margin:3% auto; text-align:center}
#main .contents .sub_bottom .sub_group div{display:inline-block; padding:0 4%; border-right:1px solid #2b2b2d }
#main .contents .sub_bottom .sub_group div:last-child{border-right:0}
#main .contents .sub_bottom .sub_group a{color:#2b2b2d; font:0.85em nanumgothic;}

.inbg{position: absolute;top: 0;left: 0;width: 0;height: 0;background: #000;opacity: .5;filter: alpha(opacity=50);z-index:20;}

/* *************** footer  *************** */
footer{float:left; width:100%; min-height:84px; background:#7b7b7b; color:#e5e5e5; font-size:10px; text-align:center}
footer .copyright{float:left; width:100%; height:100%; line-height:120%;}
footer .copyright h2 {margin-top:1.5%; }

footer a{color:#e5e5e5}
