/*2015.05.08 all.css*/

/*loding*/
.ui-loader-default{display:none}
.pg_lod{position:fixed;left:0;right:0;top:0;bottom:0;z-index:999;background-color:rgba(0, 0, 0, 0.6)}
.pg_lod div,.pg_lod i{display:block}
.pg_lod .ico_d{position:absolute;top:50%;left:50%;margin:-21px 0 0 -24px;width:46px;height:43px;overflow:hidden}
.pg_lod i{-webkit-animation-name:lod;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease;
animation-name:lod;animation-duration:3s;animation-iteration-count:infinite;animation-timing-function:ease}
.pg_lod .ico_d i{position:relative;left:-100%}
.pg_lod .ico_1{background:url(http://image.etland.co.kr/etland/images/cado/lod_ico_01.png) no-repeat;width:28px;height:14px;-webkit-animation-delay:.2s;-moz-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s}
.pg_lod .ico_2{background:url(http://image.etland.co.kr/etland/images/cado/lod_ico_02.png) no-repeat;width:46px;height:14px;margin-top:-5px;margin-bottom:5px;left:-150%}
.pg_lod .ico_3{background:url(http://image.etland.co.kr/etland/images/cado/lod_ico_03.png) no-repeat;width:28px;height:14px;-webkit-animation-delay:.1s;-moz-animation-delay:.1s;-o-animation-delay:.1s;animation-delay:.1s}


/*main*/
.main_pg h1{position:absolute;left:5%;top:10px;z-index:10;width:86px;height:29px}
.main_pg h1 img{height:24px}
.main_pg header{position:relative;overflow:hidden;text-align:center;background:transparent;height:100%;overflow:hidden}
.main_pg header h1{display:block;padding-top:105px;padding-bottom:72px}
.main_pg header nav{position:absolute;bottom:5%;left:0;right:0;z-index:9}
.main_pg header nav a{display:inline-block;*display:inline;padding:30px 5px 0;font-size:.6em;color:#fff}
.main_pg header nav a.btn_01{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_main_about.png) center top no-repeat;background-size:2.7em}
.main_pg header nav a.btn_02{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_main_product.png) center top no-repeat;background-size:2.6em}
.main_pg header nav a.btn_03{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_main_air.png) center top no-repeat;background-size:3.2em}
.main_pg header nav a.btn_04{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_main_shop.png) center top no-repeat;background-size:3.2em}
.main_pg header nav a.btn_05{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_main_store.png) center top no-repeat;background-size:2.2em}
.main_pg .bg_bxslider{position:absolute;left:0;top:0;bottom:0;right:0;z-index:1}
.main_pg .bg_bxslider li{width:100%;height:100%;text-align:center}
.main_pg .bg_bxslider li img{height:100%}
.main_pg .bg_bxslider .bx-pager{position:fixed;top:50%;right:5%;margin-top:-53px}
.main_pg .bg_bxslider .bx-pager a{display:block;width:8px;height:8px;border:2px solid #fff;overflow:hidden;font-size:0;color:transparent;letter-spacing:-9999px;text-indent:-9999px;margin:6px 0;border-radius:100%}
.main_pg .bg_bxslider .bx-pager a.active{background-color:#fff}
.main_pg .bg_bxslider .ti_box{color:#fff;padding:0 5%}
.main_pg .bg_bxslider .ti_box strong,.main_pg .bg_bxslider .ti_box span{display:block}
.main_pg .bg_bxslider .ti_box div{opacity:0}
.main_pg .bg_bxslider .ti_box .ti strong{font-size:4.5em;line-height:.9em;letter-spacing:-.05em;font-weight:100}
.main_pg .bg_bxslider .ti_box .tx{font-size:1em;letter-spacing:-.03em}

.main_pg .bg_bxslider li .ti_box{position:relative;top:35%}
.main_pg .bg_bxslider .img_1{background:url(http://image.etland.co.kr/etland/images/cado/m/img_main_01.jpg) center center no-repeat;background-size:cover}
.main_pg .bg_bxslider .img_2{background:url(http://image.etland.co.kr/etland/images/cado/m/img_main_02.jpg) center center no-repeat;background-size:cover}
.main_pg .bg_bxslider .img_3{background:url(http://image.etland.co.kr/etland/images/cado/m/img_main_03.jpg) center center no-repeat;background-size:cover}
.main_pg .bg_bxslider .img_4{background:url(http://image.etland.co.kr/etland/images/cado/m/img_main_04.jpg) center center no-repeat;background-size:cover}
.main_pg .bg_bxslider .img_5{background:url(http://image.etland.co.kr/etland/images/cado/m/img_main_05.jpg) center center no-repeat;background-size:cover}
.main_pg .bg_bxslider .img_3 .tx{text-indent:-85px}
.main_pg .bg_bxslider .img_5 .tx{text-indent:-55px}

/*sub pg layout*/
.sub_pg header{position:fixed;left:0;right:0;top:0;z-index:9;background-color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.1)}
.sub_pg header h1{position:relative;display:block;height:39px;padding:12px 0 0 5%;background-color:#fff;z-index:2}
.sub_pg header h1 img{height:24px}
.sub_pg header .btn_nav{position:absolute;right:15px;top:10px;width:30px;height:30px;border:0;background-color:transparent;cursor:pointer;z-index:3}
.sub_pg header .btn_nav i,.sub_pg header .btn_nav i:before,.sub_pg header .btn_nav i:after{display:block;background-color:#333;height:3px;border-radius:2px}
.sub_pg header .btn_nav i:before,.sub_pg header .btn_nav i:after{content:"";position:absolute;left:0;right:0;-webkit-animation-duration:.3s;-webkit-animation-fill-mode:both;-moz-animation-duration:.3s;-moz-animation-fill-mode:both;-o-animation-duration:.3s;-o-animation-fill-mode:both;animation-duration:.3s;animation-fill-mode:both}
.sub_pg header .btn_nav i{position:relative;width:100%}
.sub_pg header .btn_nav i:before{top:-7px}
.sub_pg header .btn_nav i:after{top:7px}
body.open_nav header .btn_nav i{background-color:transparent}
body.open_nav header .btn_nav i:before{top:0;-webkit-animation-name:nav_rt_b;-moz-animation-name:nav_rt_b;-o-animation-name:nav_rt_b;animation-name:nav_rt_b;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
body.open_nav header .btn_nav i:after{top:0;-webkit-animation-name:nav_rt_a;-moz-animation-name:nav_rt_a;-o-animation-name:nav_rt_a;animation-name:nav_rt_a;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
body.open_nav #wrap:before{content:"";position:fixed;left:0;top:50px;z-index:1;right:0;bottom:0;background-color:#000;opacity:.4}

#container{padding-top:50px}
.sub_pg header nav{display:none;position:absolute;top:-370px;left:0;right:0;background-color:#282828;color:#fff;z-index:1}
.sub_pg header nav > a{display:block;height:43px;line-height:43px;border-top:1px solid #363636;font-family:'Lato'}
.sub_pg header nav a.on{color:#fff}
.sub_pg header nav > a{display:block;text-indent:5%;font-weight:300;color:#888}
.sub_pg header nav > a.first{border-top:0}
.sub_pg header nav ol{padding-bottom:10px}
.sub_pg header nav ol a{display:block;height:35px;line-height:35px;font-family:'Lato';text-indent:7%;font-weight:300;color:#888;font-size:.9em}
.pg_title h2{display:block;font-family:'Lato';text-align:center;padding:53px 0 20px;font-weight:500;letter-spacing:-.1em;font-size:1.3em}
.pg_title .ti_an{text-align:center}
.pg_title .ti_an span{display:none;letter-spacing:-.1em}
footer{text-align:center;padding:15px 0}
footer img{height:24px}
footer small{display:block;color:#b2b2b2;padding-top:8px}

/*about*/
.about_pg .pg_title h2{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_about.jpg) center 23px no-repeat;background-size:1.2em;min-height:26px}
.about_pg .hd_stellar,.pr_pg .hd_stellar{position:relative;height:200px;overflow:hidden;background:transparent}
.about_pg .hd_stellar p{text-align:center;color:#fff;padding-top:85px;font-size:1em;font-weight:400}
.about_pg .hd_stellar .bg_img{position:absolute;width:100%;height:150%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_ab_top.jpg) center top no-repeat;background-size:cover;z-index:-1}
.about_pg .tx_cado{text-align:center;padding:25px 10px}
.about_pg .tx_cado dt h3{font-weight:400;font-size:1.5em;line-height:1.4em;padding-bottom:10px}
.about_pg .tx_cado dd{white-space:pre;font-size:.8em;line-height:1.6em;padding-bottom:20px;word-break:break-word}
.about_pg .tx_cado dd.first{padding-bottom:40px}
.about_pg .tx_cado dd.last{height:100px;padding-bottom:0}
.about_pg .tx_cado dd.last{background:url(http://image.etland.co.kr/etland/images/cado/m/img_sbout_01.jpg) center center no-repeat;background-size:80%}
.about_pg .img_stellar,.about_pg .img_stellar2{position:relative;height:200px;overflow:hidden;background:transparent}
.about_pg .img_stellar p{text-align:center;color:#fff;padding-top:110px;font-size:1em;font-weight:400;background:url(http://image.etland.co.kr/etland/images/cado/m/logo_cado.png) center 60px no-repeat}
.about_pg .img_stellar .bg_img{position:absolute;width:100%;height:180%;top:-100px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_ab_04.jpg) center top no-repeat;background-size:cover;z-index:-1}
.about_pg .img_stellar2 .bg_img{position:absolute;width:100%;height:180%;top:-100px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_ab_05.jpg) right top no-repeat;background-size:cover;z-index:-1}
.about_pg .tx_person{position:relative;overflow:hidden;padding-bottom:100%}
.about_pg .tx_person.first{background-color:#272727}
.about_pg .tx_person.last{background-color:#3f3f3f}
.about_pg .tx_person dt{position:absolute;bottom:0;left:0;right:0}
.about_pg .tx_person dt img{width:100%}
.about_pg .tx_person dd{padding:50px 10px 20px;color:#fff}
.about_pg .tx_person dd span{font-size:.9em}
.about_pg .tx_person dd h3{padding:5px 0 15px;font-size:2em;line-height:1.2em;font-weight:400}
.about_pg .tx_person dd p{white-space:pre;font-size:.8em;line-height:1.6em;padding-bottom:20px;word-break:break-word}
.about_pg .tx_person dd ol{padding-bottom:20px}
.about_pg .tx_person dd ol li{white-space:pre;font-size:.8em;line-height:1.6em;word-break:break-word}

/*product*/
.pr_pg .hd_stellar{color:#fff;text-align:center;height:200px}
.pr_pg .hd_stellar dl{position:fixed;left:0;right:0;z-index:-2;height:200px;overflow:hidden}
.pr_pg .hd_stellar *{display:block}
.pr_pg .hd_stellar h2{padding-top:60px;font-size:1.2em;font-weight:600}
.pr_pg .hd_stellar p{padding-top:5px}
.pr_pg .hd_stellar p span{font-size:.8em;padding-bottom:25px}
.pr_pg .pr_img_d{background-color:#fff}
.pr_pg .pr_img_d dl{position:relative;height:300px;overflow:hidden;padding-left:50%}
.pr_pg .pr_img_d dl dt{display:inline-block;position:absolute;left:-20%;width:40%;top:50px;opacity:0;height:70%}
.pr_pg .pr_img_d dl dt img{position:absolute;width:100%}
.pr_pg .pr_img_d dl dd{margin-top:120px;padding-left:10%}
.pr_pg .pr_img_d dl dd strong{display:block;font-size:1.5em;line-height:1.2em}
.pr_pg .pr_info_box{position:relative;overflow:hidden}
.pr_pg .pr_info_box ol li{color:#fff;padding:20px 10px}
.pr_pg .pr_info_box .prx_info_img{position:absolute;left:0;right:0;top:-50px;height:550px;background:url(http://image.etland.co.kr/etland/images/cado/img_pr_700_03.jpg) center no-repeat;background-size:cover;z-index:1}
.pr_pg .pr_info_box .bx-wrapper{position:relative;z-index:2}
.pr_pg .pr_info_box .bx-controls .bx-pager{position:absolute;bottom:15px;left:0;right:0;text-align:center}
.pr_pg .pr_info_box .bx-controls .bx-pager div{display:inline-block;margin:0 3px}
.pr_pg .pr_info_box .bx-controls .bx-pager div a{display:block;border:3px solid #d0d2d3;border-radius:100%;width:10px;height:10px;margin:0 3px;letter-spacing:-999px;overflow:hidden;text-indent:-999px}
.pr_pg .pr_info_box .bx-controls .bx-pager div .active{border-color:#fff;background-color:#fff;box-shadow:1px 0 3px rgba(255,255,255,.8)}
.pr_pg .pr_info_box li dt,.pr_pg .pr_info_box li dd{font-size:1em;line-height:1.2em}
.pr_pg .pr_info_box li dt{font-weight:bold}
.pr_pg .pr_info_box li dt span{font-weight:normal;font-size:.8em;line-height:.8em}
.pr_pg .pr_tx_ft .img_i1,.pr_pg .pr_tx_ft .img_i2{display: block;height: 200px;}
.pr_pg .pr_tx_ft h3{display: block;  text-align: center;  line-height: 1.5em;  color: #fff;  padding: 30px 0;  background-color: #000;  font-weight: 100;}
.pr_pg .pr_tx_ft dl{background-color:#eee;padding:30px 10px 40px;text-align:center}
.pr_pg .pr_tx_ft dd{display:inline-block;padding-top:20px;text-align:left}
.pr_pg .pr_tx_ft dd strong{display:block;padding-bottom:15px;padding-left:15px}
.pr_pg .pr_tx_ft dd strong span{display:block;font-weight:normal;font-size:.8em;line-height:1em}
.pr_pg .pr_tx_ft dd p{display:block}

.pr_pg .pr_info_box .li_1{padding-top:150px;padding-bottom:150px}
.pr_pg .pr_info_box .li_1 dl{margin-left:45%;padding-bottom:10px}
.pr_pg .pr_info_box .li_1 dt{padding-left:30px;line-height:1.7em}
.pr_pg .pr_info_box .li_1 dl:nth-child(1) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_hand.png) left center no-repeat;background-size:1.5em}
.pr_pg .pr_info_box .li_1 dl:nth-child(2) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_time.png) left center no-repeat;background-size:1.5em}
.pr_pg .pr_info_box .li_1 dl:nth-child(3) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_mode.png) left center no-repeat;background-size:1.5em}
.pr_pg .pr_info_box .li_1 dl:nth-child(4) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_air.png) left center no-repeat;background-size:1.5em}
.pr_pg .pr_info_box .li_5 dl{margin-left:35%}
.pr_pg .pr_info_box .li_5 dt{position:absolute;left:-120px}
.pr_pg .pr_info_box .li_5 dl:first-child,.pr_pg .pr_info_box .li_6 dl:first-child{margin-top:13%}
.pr_pg .pr_info_box .li_5 dl:last-child,.pr_pg .pr_info_box .li_6 dl:last-child{margin-top:13%}
.pr_pg .pr_info_box .li_1 dl,.pr_pg .pr_info_box .li_5 dl{position:relative}
.pr_pg .pr_info_box .li_1 dt,.pr_pg .pr_info_box .li_1 dd,.pr_pg .pr_info_box .li_5 dt,.pr_pg .pr_info_box .li_5 dd{display:inline-block}
.pr_pg .pr_info_box .li_1 dt{position:absolute;left:-100px;top:-2px}
.pr_pg .pr_info_box .li_2 dl,.pr_pg .pr_info_box .li_3 dl,.pr_pg .pr_info_box .li_4 dl,.pr_pg .pr_info_box .li_5 dl,.pr_pg .pr_info_box .li_6 dl{padding-left:10px;padding-right:20px}
.pr_pg .pr_info_box .li_2 dt,.pr_pg .pr_info_box .li_3 dt,.pr_pg .pr_info_box .li_4 dt{padding-bottom:10px}
.pr_pg .pr_info_box .li_2 dd span,.pr_pg .pr_info_box .li_3 dd span,.pr_pg .pr_info_box .li_4 dd span{display:block;position:relative;padding-left:10px;padding-bottom:5px}
.pr_pg .pr_info_box .li_2 dd span i,.pr_pg .pr_info_box .li_3 dd span i,.pr_pg .pr_info_box .li_4 dd span i{position:absolute;left:-10px}
.pr_pg .pr_info_box .li_2 dl,.pr_pg .pr_info_box .li_3 dl,.pr_pg .pr_info_box .li_4 dl{padding-top:13%;padding-bottom:13%}
.pr_pg .pr_info_box .li_3 dl:last-child{padding-top:0}

/*AP-C700D*/
.pr_c700d .hd_stellar .bg_img{position:absolute;width:100%;height:100%;top:30px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_pr_700_01.jpg) center top no-repeat;background-size:cover;z-index:-1}
.pr_c700d .pr_tx_ft .img_i1{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_700_04.jpg) no-repeat;  background-size: cover;}
.pr_c700d .pr_tx_ft .img_i2{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_700_05.jpg) no-repeat;  background-size: cover;}

/*AP-C300E*/
.pr_c300e .hd_stellar .bg_img{position:absolute;width:100%;height:150%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_pr_300_01.jpg) center top no-repeat;background-size:cover;z-index:-1}
.pr_c300e .pr_info_box .li_1 dl:nth-child(1) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_time.png) left center no-repeat;background-size:1.5em}
.pr_c300e .pr_info_box .li_1 dl:nth-child(2) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_mode.png) left center no-repeat;background-size:1.5em}
.pr_c300e .pr_info_box .li_1 dl:nth-child(3) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_air.png) left center no-repeat;background-size:1.5em}
.pr_c300e .pr_info_box .li_5 dt{left:-100px}
/*.pr_c300e .pr_tx_ft h3{background:url(../../../img/img_pr_300_04.jpg) center 70% no-repeat;background-size:cover}*/
.pr_c300e .pr_info_box .prx_info_img{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_300_03.jpg) 10% top no-repeat;background-size:cover}
.pr_c300e .pr_tx_ft .img_i1{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_300_04.jpg) no-repeat;  background-size: cover;}
.pr_c300e .pr_tx_ft .img_i2{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_300_05.jpg) no-repeat;  background-size: cover;}

/*AP-C100*/
.pr_c100 .hd_stellar .bg_img{position:absolute;width:100%;height:150%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_pr_100_01.jpg) center top no-repeat;background-size:cover;z-index:-1}
.pr_c100 .pr_img_d dl dt .bx-viewport{padding-top:30px}
.pr_c100 .pr_info_box .li_1 dl:nth-child(1) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_time.png) left center no-repeat;background-size:1.5em}
.pr_c100 .pr_info_box .li_1 dl:nth-child(2) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_mode.png) left center no-repeat;background-size:1.5em}
.pr_c100 .pr_info_box .li_1 dl:nth-child(3) dt{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_air.png) left center no-repeat;background-size:1.5em}
.pr_c100 .pr_info_box .li_5 dt{left:-100px}
/*.pr_c100 .pr_tx_ft h3{background:url(../../../img/img_100_04.jpg) center 70% no-repeat;background-size:cover}*/
.pr_c100 .pr_info_box .prx_info_img{background:url(http://image.etland.co.kr/etland/images/cado/img_100_03.jpg) 10% top no-repeat;background-size:cover}
.pr_c100 .pr_tx_ft .img_i1{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_100_04.jpg) no-repeat;  background-size: cover;}
.pr_c100 .pr_tx_ft .img_i2{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_100_05.jpg) no-repeat;  background-size: cover;}

/*mp-c10*/
.pr_c10 .hd_stellar .bg_img{position:absolute;width:100%;height:150%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_pr_10_01.jpg) center top no-repeat;background-size:cover;z-index:-1}
.pr_c10 .img_box,.pr_c10 .img_box li{width:100%;height:100%}
.pr_c10 .pr_info_box .li_5 dt{left:-100px}
.pr_c10 .img_box li img{max-height:100%}
.pr_c10 .pr_info_box .prx_info_img{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_10_02.jpg) 10% top no-repeat;background-size:cover}
/*.pr_c10 .pr_tx_ft h3{background:url(../../../img/img_pr_10_04.jpg) center top no-repeat;background-size:cover}*/
.pr_c10 .pr_tx_ft .img_i1{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_10_04.jpg) no-repeat;  background-size: cover;}
.pr_c10 .pr_tx_ft .img_i2{background: url(http://image.etland.co.kr/etland/images/cado/m/img_pr_10_05.jpg) no-repeat;  background-size: cover;}

/*cado`s air*/
.air_pg .pg_title h2{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_air.jpg) center 23px no-repeat;background-size:1.2em}
.air_pg .hd_stellar,.air_pg .hd_stellar{position:relative;height:200px;overflow:hidden;background:transparent}
.air_pg .hd_stellar p{text-align:center;color:#fff;padding:85px 10px 0;font-size:1em;font-weight:400}
.air_pg .hd_stellar .bg_img{position:absolute;width:100%;height:115%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_air_top.jpg) center top no-repeat;background-size:cover;z-index:-1}
.air_pg .tx_cado{padding:30px 10px 25px}
.air_pg .tx_cado dt{padding-bottom:20px;text-align:center}
.air_pg .tx_cado dd.first{line-height:1.5em}
.air_pg .tx_cado dd.last{padding:15px 45px 15px 30px;text-align:center}
.air_pg .tx_cado dd.last img{width:100%;max-width:346px}
.air_pg .flt_3{background-color:f5f5f5;padding:25px 10px}
.air_pg .flt_3 dt{text-align:center;padding-bottom:15px}
.air_pg .flt_3 dt h3{display:block;font-size:1.2em;line-height:1.5em}
.air_pg .flt_3 dt span{font-size:.8em}
.air_pg .flt_3 dd{position:relative;margin:20px 10px;text-align:center}
.air_pg .flt_3 dd .air_box{position:absolute;width:80%;height:80%;left:20%;top:10px;overflow:hidden;text-align:left}
.air_pg .flt_3 dd .air_box i{position:absolute;top:40px;left:-100%;width:100%;height:100%}
.air_pg .flt_3 dd .air_box i img{width:100%;max-width:539px}
.air_pg .flt_3 dd img{width:80%}
.air_pg .flt_3 dd > img{margin-left:-10%}
.air_pg .flt_3 dd span{position:relative;display:inline-block;font-size:11px;clear:both;border:2px solid #000;padding:5px 10px;margin-top:20px;font-weight:bold}
.air_pg .flt_3 dd span:last-child{margin-top:10px}

.air_pg .ability{position:relative;padding:30px 0 150px;text-align:center;color:#fff;overflow:hidden}
.air_pg .ability dt{padding-bottom:20px}
.air_pg .ability dd.first{margin:0 10px;letter-spacing:-.4px;line-height:1.4em;font-size:.9em}
.air_pg .ability dd.first strong,.air_pg .ability dd.first em{display:block}
.air_pg .ability dd.first strong{word-break:break-word;white-space:pre}
.air_pg .ability dd.first em{font-size:.8em;padding-bottom:40px;line-height:1.2em}
.air_pg .ability dd.last p{display:block;position:absolute;left:50%;border:1px solid #282828;border-radius:.5em;padding:5px;font-size:.8em;line-height:1.2em;margin-left:-143px}
.air_pg .ability dd.last .ar_box{display:block;position:absolute;left:50%;width:30px;height:55px;margin-left:-27px}
.air_pg .ability dd.last .ar_box i{display:block;position:relative;border-left:3px solid #545454;width:15px;height:15px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);margin:0 auto}
.air_pg .ability dd.last .ar_box i:before{content:"";display:block;position:absolute;left:-5px;top:-1px;border-left:3px solid #545454;width:15px;height:15px;-webkit-transform:rotate(-95deg);-moz-transform:rotate(-95deg);-o-transform:rotate(-95deg);transform:rotate(-95deg)}
.air_pg .ability dd.last .ar_box i.on,.air_pg .ability dd.last .ar_box i.on:before{border-color:#009fd7}
.air_pg .ability dd.last .ico_sm{display:block;position:absolute;bottom:30px;font-size:11px;left:50%;margin-left:-30px}
.air_pg .ability dd.last .ico_sm:before,.air_pg .ability dd.last .ico_sm:after{content:"";display:block;position:absolute;width:10px;height:10px}
.air_pg .ability dd.last .ico_sm:before{background-color:#7f7f7f;border-radius:100%;top:-23px;left:50%;margin-left:-5px}
.air_pg .ability dd.last .ico_sm:after{border:1px solid #fff;border-top:0;top:-11px;left:50%;margin-left:-6px}
.air_pg .ability dd.last .ico_big{position:absolute;bottom:30px;font-size:.8em;left:50%;margin-left:50px}
.air_pg .ability dd.last .ico_big:before,.air_pg .ability dd.last .ico_big:after{content:"";display:block;position:absolute;width:100px}
.air_pg .ability dd.last .ico_big:before{background-color:#7f7f7f;height:100px;border-radius:100%;top:-100px;left:50%;margin-left:-50px}
.air_pg .ability dd.last .ico_big:after{height:50px;border:1px solid #fff;border-top:0;top:-37px;left:50%;margin-left:-51px}
.air_pg .ability dd.last .ico_big strong,.air_pg .ability dd.last .ico_big span{position:relative;display:block}
.air_pg .ability dd.last .ico_big strong{margin-top:-56px}
.air_pg .ability dd.last .ico_big span{font-size:11px;margin-top:50px}
.air_pg .ability .bg_img{position:absolute;width:100%;height:180%;top:-20px;background:url(http://image.etland.co.kr/etland/images/cado/img_air_02.jpg) right bottom no-repeat;background-size:cover;z-index:-1}
.air_pg .clean_air{position:relative;overflow:hidden;padding:30px 0;color:#fff;text-align:center}
.air_pg .clean_air dt{padding:0 10px 40px}
.air_pg .clean_air dt h3{display:block;padding-bottom:10px}
.air_pg .clean_air dt span{font-size:.9em;line-height:1.1em}
.air_pg .clean_air dd.tx{padding-bottom:30px}
.air_pg .clean_air dd.tx strong{display:inline-block;border:3px solid #fff;padding:20px 20px 15px;margin-bottom:10px;background-color:rgba(0,0,0,.3)}
.air_pg .clean_air dd.tx strong span{display:block;font-size:.8em;font-weight:100;line-height:1.8em}
.air_pg .clean_air dd.tx ol{line-height:1.4em}
.air_pg .clean_air dd:last-child{padding-top:20px}
.air_pg .clean_air dd:last-child em{font-size:.8em}
.air_pg .clean_air .bg_img{position:absolute;width:100%;height:130%;top:-80px;background:url(http://image.etland.co.kr/etland/images/cado/m/img_air_05.jpg) right bottom no-repeat;background-size:cover;z-index:-1}

/*shopping*/
.shp_pg .pg_title h2{background:url(http://image.etland.co.kr/etland/images/cado/m/ico_shp.jpg) center 23px no-repeat;background-size:1.2em}
.shp_pg .hd_stellar{position:relative;height:200px;overflow:hidden;background:transparent}
.shp_pg .hd_stellar p{text-align:center;color:#fff;padding:77px 10px 0;font-size:1em;font-weight:400}
.shp_pg .hd_stellar p img{width:4em;margin-top:-11px}
.shp_pg .hd_stellar .bg_img{position:absolute;width:100%;height:150%;top:0px;background:url(http://image.etland.co.kr/etland/images/cado/img_shop_01.jpg) center top no-repeat;background-size:cover;z-index:-1}
.shp_pg .pr_list h3,.shp_pg .fl_list h3{display:block;line-height:1.5em;font-size:1.2em;text-align:center;border-bottom:1px solid #e0e0e0;background-color:#f7f7f7;padding:20px 0 15px;font-weight:400}
.shp_pg .pr_list a,.shp_pg .fl_list a{display:block;height:100px;overflow:hidden;box-shadow:1px 1px 1px rgba(0,0,0,.2)}
.shp_pg .pr_list dl{position:relative;padding:20px 10px 0;padding-left:48%}
.shp_pg .fl_list dl{position:relative;padding:30px 10px 0;padding-left:48%}
.shp_pg .pr_list dt,.shp_pg .fl_list dt{letter-spacing:-.4px}
.shp_pg .pr_list dt span{display:block;font-size:.8em;padding-bottom:10px}
.shp_pg .fl_list dt span{font-size:.8em}
.shp_pg .fl_list dt strong{display:block;padding-bottom:5px}
.shp_pg .pr_list dd,.shp_pg .fl_list dd{position:absolute;left:4%;top:15%;text-align:center}
.shp_pg .fl_list dd{width:42%}
.shp_pg .fl_list dd img{width:100%}
.shp_pg .fl_list a:nth-child(2) dd img{max-width:120px}
.shp_pg .fl_list a:nth-child(3) dd img{max-width:100px}
.shp_pg .fl_list a:nth-child(4) dd img{max-width:92px}
.shp_pg .fl_list a:nth-child(5) dd img{max-width:90px}

.shp_pg .pr_list a:nth-child(4) dd,.shp_pg .pr_list a:nth-child(5) dd{top:0}
.shp_pg .pr_list a:nth-child(6) dd,.shp_pg .pr_list a:nth-child(7) dd{top:-14px;left:14%}
.shp_pg .pr_list a:nth-child(2n),.shp_pg .fl_list a:nth-child(2n){z-index:2;position:relative}
.shp_pg .pr_list a:nth-child(2n+1),.shp_pg .fl_list a:nth-child(2n+1){background-color:#fdfdfd;z-index:1}
.shp_pg .pr_list a:nth-child(3) dd img{margin-left:10px;width:115px}
.shp_pg .pr_list a:nth-child(4) dd img,.shp_pg .pr_list a:nth-child(5) dd img{width:75px;margin-left:30px;margin-top:10px}
.shp_pg .pr_list a:nth-child(6) dd img,.shp_pg .pr_list a:nth-child(7) dd img{width:35px;margin-left:10px;margin-top:15px}



.shp_pg .fl_list{margin-top:20px;border-top:1px solid #e0e0e0}
.shp_pg .fl_list a .ico_fl{display:none}
.shp_pg .img_stellar2{position:relative;height:200px;overflow:hidden;background:url(http://image.etland.co.kr/etland/images/cado/img_shop_02.jpg) center top no-repeat;background-size:cover;margin-top:20px}

.shp_pg .img_stellar2 dl{text-align:center;color:#fff;padding-top:70px}
.shp_pg .img_stellar2 dt{font-size:1.2em;line-height:1.7em;font-weight:700}
.shp_pg .img_stellar2 dd a{color:#fff;font-weight:700;padding-left:10px}
.shp_pg #search{text-align:center;padding-bottom:20px}
.shp_pg #search input[type="search"]{
	  height:auto;
	font-size:1em;
	line-height:1.2em;
    background:url(http://image.etland.co.kr/etland/images/cado/m/search-white.png) no-repeat 10px center #fcfcfc;
    border:1px solid #d1d1d1;
    color:#bebebe;
    width:55%;
    padding:6px 15px 4px 35px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition:all 0.7s ease 0s;
    -moz-transition:all 0.7s ease 0s;
    -o-transition:all 0.7s ease 0s;
    transition:all 0.7s ease 0s}
.shp_pg #search input[type="search"]:focus {width:80%}

/*store*/
.store_list .ti{text-align:center;margin:15px 0;padding:10px}
.store_list .ti h2{display:inline-block;padding-right:5px;line-height:1.2em}
.store_list .ti span{position:relative;top:-1px;font-size:.9em;padding:5px 10px 2px;border:1px solid #575757}
.store_list .ti span i{font-size:1.2em;padding-right:4px}
.store_list .sec_02 h2{padding-right:0}
.store_list .sec_02 span{display:block;width:87px;background-color:#f5f5f5;color:#363636;border:1px solid #a4a4a4;margin:0 auto}
.store_list li h3{display:block;border-bottom:3px solid #575757;padding:10px;margin-top:20px}
.store_list li dl{position:relative;border-bottom:1px solid #575757;padding:10px 60px 10px 15px}
.store_list li dt{font-weight:700;padding-bottom:10px}
.store_list .sec_01 dd a{color:#fff}
.store_list .sec_02 dd a{color:#000}
/*.store_list .sec_01 dd button{background:url(../../../img/ico_store_01.gif) center center no-repeat}
.store_list .sec_02 dd button{background:url(../../../img/ico_store_02.gif) center center no-repeat}*/
.store_list li dd button{position:absolute;right:0;top:10px;border:0;width:56px;border-left:1px solid #575757;padding:10px;bottom:10px;background-color:transparent}
.store_list li dd button i{color:#00a8e3;font-size:2em}
.store_list li dd button:before{content:"";position:absolute;left:0px;top:0;bottom:0;border-left:1px solid #333}
.store_list .sec_02 dd button:before{border-left:1px solid #f1f1f1}
.store_list .sec_01{background-color:#000;color:#fff;padding:30px 0}
.btn_close_map{display:block;position:absolute;bottom:-30px;left:50%;z-index:90;width:50px;height:30px;border-radius:100% 100% 0 0 ;margin-left:-25px;box-shadow:0px 0px 5px rgba(0,0,0,.5);border:0;background-color:#f1f1f1}
.btn_close_map:before,.btn_close_map:after{content:"";position:absolute;background-color:#7b7b7b;height:2px;top:13px;width:15px}
.btn_close_map:before{left:13px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.btn_close_map:after{right:13px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.map_d{position:fixed;top:100%;left:0;right:0;bottom:0;width:100%;height:0;background-color:#f1f1f1;overflow:hidden;border-top-left-radius:100%,border-top-right-radius:100%;z-index:90}
.map-canvas{position:absolute;left:0;right:0;bottom:0;top:0;width:100%;height:100%;overflow:hidden}

/*keyframes*/
.fadeIn{opacity:0}
.fadeIn.go{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.animated{-webkit-animation-duration:1s;-webkit-animation-fill-mode:both;animation-duration:1s;animation-fill-mode:both}
.animated_s{-webkit-animation-duration:2s;-webkit-animation-fill-mode:both;animation-duration:2s;animation-fill-mode:both}
.animated_r{-webkit-animation-duration:2s;-webkit-animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-duration:2s;animation-fill-mode:both;animation-iteration-count:infinite}
.flipInX.go{-webkit-backface-visibility:visible !important;-webkit-animation-name:flipInX;backface-visibility:visible !important;animation-name:flipInX}
.InLeft{-webkit-animation-name:InLeft;animation-name:InLeft}
.InLeft2.go{-webkit-backface-visibility:visible !important;-webkit-animation-name:InLeft2;backface-visibility:visible !important;animation-name:InLeft2}
/*.bounceInLeft.go{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}
.bounceIn.go {-webkit-animation-name:bounceIn;animation-name:bounceIn}*/

/*keyframes*/
@-webkit-keyframes nav_rt_b{
	0% {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(45deg)}
}
@keyframes nav_rt_b{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(45deg)}
}
@-webkit-keyframes nav_rt_a{
	0% {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(-45deg)}
}
@keyframes nav_rt_a{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(-45deg)}
}

@-webkit-keyframes lod{
	0% {opacity:0;-webkit-transform:translateX(-100px)}
	100% {opacity:1;-webkit-transform:translateX(150px)}
}
@keyframes lod{
	0% {opacity:0;transform:translateX(-100px)}
	100% {opacity:1;transform:translateX(150px)}
}
@-webkit-keyframes InLeft{
    0% {opacity:0;-webkit-transform:translateX(-20%)} 
    100% {opacity:1;-webkit-transform:translateX(70%)} 
} 
@keyframes InLeft{
    0% {opacity:0;transform:translateX(-20%)} 
    100% {opacity:1;transform:translateX(70%)} 
}
@-webkit-keyframes InLeft2{
    0% {opacity:0;left:-100%} 
    100% {opacity:1;left:0} 
} 
@keyframes InLeft2{
    0% {opacity:0;left:-100%} 
    100% {opacity:1;left:0} 
}
/*@-webkit-keyframes bounceIn{
    0% {opacity:0;-webkit-transform:scale(.3)} 
    50% {opacity:1;-webkit-transform:scale(1.05)} 
    70% {-webkit-transform:scale(.9)} 
    100% {-webkit-transform:scale(1)} 
}
@keyframes bounceIn{
    0% {opacity:0;transform:scale(.3)} 
    50% {opacity:1;transform:scale(1.05)} 
    70% {transform:scale(.9)} 
    100% {transform:scale(1)} 
}
@-webkit-keyframes bounceInLeft{
    0% {opacity:0;-webkit-transform:translateX(-400px)} 
    60% {-webkit-transform:translateX(30px)} 
    80% {-webkit-transform:translateX(-10px)} 
    100% {opacity:1;-webkit-transform:translateX(0)} 
} 
@keyframes bounceInLeft{
    0% {opacity:0;transform:translateX(-400px)} 
    60% {transform:translateX(30px)} 
    80% {transform:translateX(-10px)} 
    100% {opacity:1;transform:translateX(0)} 
}
@-webkit-keyframes bounceIn {
    0% {opacity:0;-webkit-transform:scale(.3)} 
    50% {opacity:1;-webkit-transform:scale(1.05)} 
    70% {-webkit-transform:scale(.9)} 
    100% {-webkit-transform:scale(1)} 
} 
@keyframes bounceIn {
    0% {opacity:0;transform:scale(.3)} 
    50% {opacity:1;transform:scale(1.05)} 
    70% {transform:scale(.9)} 
    100% {transform:scale(1)} 
} */
@-webkit-keyframes fadeIn{
    0% {opacity:0} 
    100% {opacity:1} 
} 
@keyframes fadeIn{
    0% {opacity:0} 
    100% {opacity:1} 
}
@-webkit-keyframes flipInX {
    0% {-webkit-transform:perspective(400px) rotateX(90deg);opacity:0} 
    40% {-webkit-transform:perspective(400px) rotateX(-10deg)} 
    70% {-webkit-transform:perspective(400px) rotateX(10deg)} 
    100% {-webkit-transform:perspective(400px) rotateX(0deg);opacity:1} 
} 
@keyframes flipInX {
    0% {transform:perspective(400px) rotateX(90deg);opacity:0} 
    40% {transform:perspective(400px) rotateX(-10deg)} 
    70% {transform:perspective(400px) rotateX(10deg)} 
    100% {transform:perspective(400px) rotateX(0deg);opacity:1} 
} 

/*media screen*/
@media screen and (max-width:320px){
	/*main*/
	.main_pg .bg_bxslider .ti_box .ti strong{font-size:3.5em} 
	.main_pg .bg_bxslider .ti_box .tx{font-size:.8em}
	.main_pg .bg_bxslider .img_3 .ti_box .tx{text-indent:-54px;font-size:.7em}
	.main_pg .bg_bxslider .img_5 .ti_box .tx{text-indent:-33px;font-size:0.75em}
	/*about*/
	.about_pg .tx_cado dd{white-space:inherit}
	.about_pg .img_stellar p{font-size:.9em}
	/*product*/
	.pr_pg .pr_info_box li dt, .pr_pg .pr_info_box li dd{font-size:1em;line-height:1.5em}
	.pr_c700d .pr_info_box .li_5 dl{margin-left:40%}
}
@media screen and (max-width:360px){
	.main_pg header nav a{padding:30px 8px 0}
}

@media all and (min-width:414px){
	.pr_pg .pr_img_d dl dt{width:35%;top:40px}
	@-webkit-keyframes InLeft{
		0% {opacity:0;-webkit-transform:translateX(-20%)} 
		100% {opacity:1;-webkit-transform:translateX(85%)} 
	} 
	@keyframes InLeft{
		0% {opacity:0;transform:translateX(-20%)} 
		100% {opacity:1;transform:translateX(85%)} 
	}
}