/*2015.05.08 reset.css*/
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,object,frame,form,iframe{display:block}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,object,frame,iframe{margin:0;padding:0}
body{color:#282828;-webkit-text-size-adjust:none;background-color:transparent}
html,body{height:100%}
#container{*height:100%}
img,fieldset{border:0}
img,input{vertical-align:middle}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:hover{color:#000;text-decoration:none}
table{border-collapse:collapse;table-layout:fixed;word-break:break-all}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;color:transparent}
.skip{position:fixed;visibility:hidden;overflow:hidden;left:-9999px;height:0!important;font-size:0;line-height:0!important;border:0!important}
.tx_skip{position:fixed;_position:absolute;color:transparent;letter-spacing:-9999px;text-indent:-9999px;left:-9999px;}
.tx_doc{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
hr{display:none!important}
.fl{float:left}
.fr{float:right}
.ct{clear:both;zoom:1}
.ct:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}
.al{text-align:left!important}
.ac{text-align:center!important}
.ar{text-align:right!important}
.in_tx_ac *{text-align:center!important}
.tx_un{text-decoration:underline!important}
.cur,select,button{cursor:pointer}
select,input[type="password"],input[type="text"]{width:120px;height:15px;line-height:15px;border:1px solid #b4b4b4;background-color:#fff;color:#4f4e4e;padding:5px 7px 4px}
select{height:27px;width:auto;min-width:136px;padding:3px 7px 3px}
select.sel_day{width:80px;min-width:80px;margin-right:5px;height:27px}
input[type="checkbox"],input[type="radio"]{cursor:pointer;overflow:hidden}
input[type="date"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-inner-spin-button{display:none}
/* skipnavi */
.skipnavi{display:block;position:absolute;top:0;left:0;right:0;z-index:999;overflow:hidden;margin:0;height:1px;margin-top:-1px;line-height:50px;text-align:center;font-weight:bold;font-size:14px;background:#2c2d3c;color:#fff;text-decoration:none!important;}
a.skipnavi:focus,a.skipnavi:active,a.skipnavi.hover{height:50px;margin:0}

/* 
 * Nanum Barun Gothic (Korean) http://hangeul.naver.com
 */
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicUltraLight.eot);
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicUltraLight.woff) format('woff'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicLight.eot);
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicLight.woff) format('woff'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothic.eot);
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothic.woff) format('woff'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicBold.eot);
  src: url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicBold.woff) format('woff'),
       url(http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicBold.ttf) format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Hairline.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Hairline2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Light.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Light2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Regular2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://image.etland.co.kr/etland/images/webContents/font/Lato-Bold2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body,input,textarea,select,button,table{font-size:1em;font-family:'Nanum Barun Gothic';font-weight:100;line-height: 1.2em}