/*all.css*/
/*.parallax-mirror{visibility:visible!important}*/
/*layout*/
#wrap{padding-top:86px;min-width:1400px}

.nav_d{position:fixed;left:0;top:0;right:0;background-color:#282828;height:86px;text-align:center;z-index:10}
.nav_d h1{position:absolute;left:90px;top:25px}
.nav_d ul{padding:0 3px}
.nav_d ul li{display:inline-block;*display:inline;zoom:1;margin:0 57px 0 -3px}
.nav_d ul li a{display:block;color:#fff;font-size:18px;text-align:center;font-weight:400;height:86px;line-height:86px;background:url(http://image.etland.co.kr/etland/images/cado/tx_nav.gif) no-repeat}
.nav_d ul li.on,.nav_d ul li:hover{background:url(http://image.etland.co.kr/etland/images/cado/ico_menu.gif) center 60px no-repeat}
.nav_d ul .mn_1 a{background-position:0px 34px;width:96px}
.nav_d ul .mn_2 a{background-position:-154px 34px;width:67px}
.nav_d ul .mn_3 a{background-position:-280px 34px;width:83px}
.nav_d ul .mn_4 a{background-position:-423px 34px;width:80px}
.nav_d ul .mn_5 a{  background-position: -524px 34px;  width: 95px;}
.heder_d{text-align:center}
.heder_d .pg_title{height:260px}
.heder_d h2{display:block;padding-top:120px;font-size:60px;font-weight:300;font-family:'Lato', sans-serif;height:46px}
.heder_d .sub_tx{display:block;padding-bottom:47px;color:#5a5a5a;padding-top:7px}
.hd_img .tx{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.hd_img .tx.op_1{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.footer_d{padding:30px 0;text-align:center}
.footer_d .copyright{display:block;padding-top:17px;font-size:12px;color:#b2b2b2}

/*main*/
#wrap.main_pg{padding:0;overflow:hidden;height:100%}
.main_pg h1{  position: absolute;  left: 90px;  top: 20px;  z-index: 10;}
.main_pg .heder{position:relative;overflow:hidden;text-align:center;background:transparent}
.main_pg .heder h1{display:block;padding-top:105px;padding-bottom:72px}
.main_pg .heder .sub_tx{font-size:30px;line-height:35px;color:#fff;letter-spacing:-1px}
.main_pg .heder .main_nav{position:absolute;bottom:50px;left:0;right:0;z-index:9}
.main_pg .heder .main_nav a{display:inline-block;*display:inline;zoom:1;padding:0 85px}
.main_pg .heder .main_nav a img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;
	-webkit-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-ms-transition:opacity .5s ease-in-out;-o-transition:opacity .5s ease-in-out;transition:opacity .5s ease-in-out}
.main_pg .heder .main_nav a:hover img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;
background:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);zoom:1}
.main_pg .heder .main_nav .btn_01{background:url(http://image.etland.co.kr/etland/images/cado/btn_about_off.png) center center no-repeat}
.main_pg .heder .main_nav .btn_02{background:url(http://image.etland.co.kr/etland/images/cado/btn_product_off.png) center center no-repeat}
.main_pg .heder .main_nav .btn_03{background:url(http://image.etland.co.kr/etland/images/cado/btn_air_off.png) center center no-repeat}
.main_pg .heder .main_nav .btn_04{background:url(http://image.etland.co.kr/etland/images/cado/btn_shop_off.png) center center no-repeat}
.main_pg .heder .main_nav .btn_05{background:url(http://image.etland.co.kr/etland/images/cado/btn_store_off.png) center center no-repeat}
.main_pg .bg_bxslider{position:absolute;left:0;top:0;bottom:0;right:0;z-index:1}
.main_pg .bg_bxslider li{width:100%;height:100%}
.main_pg .bg_bxslider li img{height:100%}
.main_pg .bg_bxslider .bx-pager{position:fixed;top:50%;right:40px;}
.main_pg .bg_bxslider .bx-pager a{background:url(http://image.etland.co.kr/etland/images/cado/ico_point_off.png) center center no-repeat;display:block;width:16px;height:17px;overflow:hidden;font-size:0;color:transparent;letter-spacing:-9999px;text-indent:-9999px;margin:6px 0}
.main_pg .bg_bxslider .bx-pager a.active{background:url(http://image.etland.co.kr/etland/images/cado/ico_point_on.png) center center no-repeat}
.main_pg .bg_bxslider .ti_box{overflow:hidden;padding-bottom:10px}
.main_pg .bg_bxslider .ti_box .ti{position:relative;width:0}
/*.main_pg .bg_bxslider .ti_box .pos_l{left:-100%}
.main_pg .bg_bxslider .ti_box .pos_r{left:100%}*/
.main_pg .bg_bxslider .ti_box .tx{position:relative;top:10px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}

.main_pg .bg_bxslider .img_1 .ti_box{  position: absolute;  left: 50%;  top: 50%;margin-left:-210px;  margin-top: -170px;}
.main_pg .bg_bxslider .img_1 .ti{height:140px;background:url(http://image.etland.co.kr/etland/images/cado/bg_tx_4_ti.png) left top no-repeat;background-size:auto 100%;/*width:431px*/}
.main_pg .bg_bxslider .img_1 .tx{height:29px;background: url(http://image.etland.co.kr/etland/images/cado/bg_tx_4_tx.png) left top no-repeat;background-size:auto 100%;margin-top:25px;width:199px;margin-left:95px}

.main_pg .bg_bxslider .img_2 .ti_box{position: absolute;  left: 50%;  top: 50%;  margin-left: 10px;  margin-top: -110px;}
.main_pg .bg_bxslider .img_2 .ti{height:139px;background:url(http://image.etland.co.kr/etland/images/cado/bg_tx_0_ti.png) left top no-repeat;background-size:auto 100%;margin-left:63px}
.main_pg .bg_bxslider .img_2 .tx{width:514px;height:28px;background: url(http://image.etland.co.kr/etland/images/cado/bg_tx_0_tx.png) left top no-repeat;background-size:auto 100%;margin-top: 28px}

.main_pg .bg_bxslider .img_3 .ti_box{  position: absolute;  left: 50%;  top: 50%;  margin-left:-260px; margin-top: -67px;}
.main_pg .bg_bxslider .img_3 .ti{height:181px;background:url(http://image.etland.co.kr/etland/images/cado/bg_tx_2_ti.png) left top no-repeat;background-size:auto 100%;/*width:601px*/}
.main_pg .bg_bxslider .img_3 .tx{width:540px;height:29px;background: url(http://image.etland.co.kr/etland/images/cado/bg_tx_2_tx.png) left top no-repeat;background-size:auto 100%;margin-top:-25px}

.main_pg .bg_bxslider .img_4 .ti_box{  position: absolute;  left: 50%;  top: 50%;  margin-left:-520px; margin-top: -70px;}
.main_pg .bg_bxslider .img_4 .ti{height:133px;background:url(http://image.etland.co.kr/etland/images/cado/bg_tx_1_ti.png) left top no-repeat;background-size:auto 100%;/*width:686px*/}
.main_pg .bg_bxslider .img_4 .tx{width:622px;height:29px;background: url(http://image.etland.co.kr/etland/images/cado/bg_tx_1_tx.png) 40% top no-repeat;background-size:auto 100%;margin-top:28px;}

.main_pg .bg_bxslider .img_5 .ti_box{  position: absolute;  left: 50%;  top: 50%;  margin-left:-540px;  margin-top:-230px;}
.main_pg .bg_bxslider .img_5 .ti{height:181px;background:url(http://image.etland.co.kr/etland/images/cado/bg_tx_3_ti.png) left top no-repeat;background-size:auto 100%;/*width:596px*/}
.main_pg .bg_bxslider .img_5 .tx{width:365px;height:29px;background: url(http://image.etland.co.kr/etland/images/cado/bg_tx_3_tx.png) left top no-repeat;background-size:auto 100%;margin-top:-15px}




.main_pg .footer_d{padding:30px 0}
/*.main_pg .footer_d img{display:none}
.main_pg .footer_d .copyright{padding-top:0}*/

/*about*/
.about_pg .heder_d .pg_title{background:url(http://image.etland.co.kr/etland/images/cado/tx_about_01.gif) center center no-repeat}
.about_pg .heder_d h2{background:url(http://image.etland.co.kr/etland/images/cado/ico_about.jpg) center 49px no-repeat}
.about_pg .heder_d .hd_img,.about_pg .heder_d .hd_img .prx_hd_img{height:480px;min-height:480px;overflow:hidden;background:transparent;z-index:-1}
.about_pg .heder_d .hd_img{position:relative}
.about_pg .heder_d .hd_img .tx{position:absolute;top:195px;left:50%;margin-left:-301.5px;white-space:pre;font-size:36px;color:#fff;line-height:45px;background:url(http://image.etland.co.kr/etland/images/cado/tx_about_02.png) no-repeat;width:603px;height:110px;z-index:1}
.ab_con_d .sec_1{/*padding:90px 0 100px;*/text-align:center;height:679px;background:url(http://image.etland.co.kr/etland/images/cado/tx_about_03.gif) center 100px no-repeat}
.ab_con_d .sec_1 h3{display:block;font-size:30px;padding-bottom:20px}
.ab_con_d .sec_1 dd{white-space:pre}
.ab_con_d .sec_1 .first{padding-bottom:65px}
.ab_con_d .sec_1 .last img{display:block;margin:36px auto 0}
.ab_con_d .sec_1 dd{;white-space:pre}
.ab_con_d .sec_2{position:relative}
.ab_con_d .sec_2,.ab_con_d .sec_2 dd,.ab_con_d .sec_2 dd div{height:570px}
.ab_con_d .sec_2 dt{position:absolute;left:50%;top:200px;margin-left:-232px;text-align:center;z-index:2;height:121px;width:464px;background:url(http://image.etland.co.kr/etland/images/cado/tx_about_04.png) no-repeat}
.ab_con_d .sec_2 dt *{display:block;margin:0 auto}
.ab_con_d .sec_2 dt span{padding-top:15px;font-size:24px;color:#fff}
.ab_con_d .sec_3{background-color:#272727}
.ab_con_d .sec_3 dl,.ab_con_d .sec_4 dl{min-width:900px;max-width:1400px;margin:0 auto;position:relative;height:719px}
.ab_con_d .sec_3 dt{position:absolute;top:0;bottom:0;overflow:hidden;right:0;left:50%}
.ab_con_d .sec_3 dt div,.ab_con_d .sec_4 dt div{height:100%;width:100%}
.ab_con_d .sec_3 dt div{background:url(http://image.etland.co.kr/etland/images/cado/img_ab_01.jpg) no-repeat;background-size:cover}
.ab_con_d .sec_4 dt div{background:url(http://image.etland.co.kr/etland/images/cado/img_ab_02.jpg) no-repeat;background-size:cover}
.ab_con_d .sec_3 dd{/*padding:80px 50% 100px 10px;*/margin-right:40px;color:#fff;background:url(http://image.etland.co.kr/etland/images/cado/tx_about_05.gif) 10px 80px no-repeat;height:100%}
.ab_con_d .sec_3 dd *,.ab_con_d .sec_4 dd *{display:block}
.ab_con_d .sec_3 dd h3,.ab_con_d .sec_4 dd h3{font-size:40px;line-height:45px;font-weight:400;display:block;padding:12px 0 35px}
.ab_con_d .sec_3 dd p,.ab_con_d .sec_4 dd p{white-space:pre;text-align:left;word-break:break-word}
.ab_con_d .sec_3 dd ol,.ab_con_d .sec_4 dd ol{margin-top:50px;background:url(http://image.etland.co.kr/etland/images/cado/bg_li_top.gif) left top no-repeat;padding-top:10px}
.ab_con_d .sec_3 dd ol .br{padding-bottom:25px}
.ab_con_d .sec_4{background-color:#3f3f3f}
.ab_con_d .sec_4 dt{position:absolute;top:0;bottom:0;overflow:hidden;right:50%;left:0}
.ab_con_d .sec_4 dd{/*padding:80px 10px 100px 50%;*/margin-left:40px;margin-right:89px;color:#fff;background:url(http://image.etland.co.kr/etland/images/cado/tx_about_06.gif) right 80px no-repeat;height:100%}
.ab_con_d .sec_4 dd span{line-height:18px}
.ab_con_d .sec_5,.ab_con_d .sec_5 div{height:400px}

/*air*/
.air_pg .heder_d .pg_title{background:url(http://image.etland.co.kr/etland/images/cado/tx_air_01.gif) center center no-repeat}
.air_pg .heder_d h2{background:url(http://image.etland.co.kr/etland/images/cado/ico_air.jpg) center 49px no-repeat}
.air_pg .heder_d .hd_img{position:relative}
.air_pg .heder_d .hd_img,.air_pg .heder_d .hd_img .prx_hd_img{height:500px;min-height:500px;background:transparent;z-index:-1;overflow:hidden;}
.air_pg .heder_d .hd_img .tx{position:absolute;top:195px;left:50%;margin-left:-487.5px;white-space:pre;font-size:36px;color:#fff;line-height:45px;background:url(http://image.etland.co.kr/etland/images/cado/tx_air_02.png) no-repeat;width:975px;height:110px;z-index:1}
.air_con_d .sec_1{position:relative;height:500px}
.air_con_d .sec_1 dt{position:absolute;left:47%;margin-left:-425px;top:65px}
.air_con_d .sec_1 dd{padding-left:47%;padding-right:10px}
.air_con_d .sec_1 dd .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_air_03.gif) left 149px no-repeat;height:500px}
.air_con_d .sec_1 dd h3{display:block;padding-top:95px;font-size:30px;line-height:30px;padding-bottom:30px;font-weight:200}
.air_con_d .sec_1 dd p{font-size:16px;line-height:30px;white-space:pre;word-break:break-word}
.air_con_d .sec_2{position:relative;height:823px;overflow:hidden}
.air_con_d .sec_2 dt{position:relative;color:#fff;text-align:center;z-index:1;background:url(http://image.etland.co.kr/etland/images/cado/tx_air_04.png) center center no-repeat;width:100%;height:100%}
.air_con_d .sec_2 dt h3{display:block;font-size:30px;line-height:30px;font-weight:200;padding-top:88px;padding-bottom:15px}
.air_con_d .sec_2 dt .sub_tx{display:block;padding-bottom:58px}
.air_con_d .sec_2 dt ol li{display:inline-block;*display:inline;zoom:1;width:188px;height:66px;border:3px solid #282828;vertical-align:top;margin:0 12px}
.air_con_d .sec_2 dt li strong{display:block;font-size:20px;font-weight:200;padding-top:5px;padding-bottom:4px}
.air_con_d .sec_2 dt li span{font-size:14px}
.air_con_d .sec_2 dt .ex_tx{display:block;font-size:14px;padding:17px 0 55px}
.air_con_d .sec_2 dt h4{display:block;font-size:20px;line-height:30px;font-weight:200;padding-bottom:27px;color:#00a8e3}
.air_con_d .sec_2 dd{position:absolute;left:0;top:0;right:0;bottom:0;z-index:-1}
.air_con_d .sec_2 dd div{width:100%;height:100%}
.air_con_d .sec_2 .ar_ico{  position: absolute;  left: 50%;  top: 50%;  display: block;  width: 24px;  height: 58px;  background: url(http://image.etland.co.kr/etland/images/cado/ico_ar_off.gif);  z-index: 9;  margin-top: 140px;  margin-left: -118px;}
.air_con_d .sec_2 .ar_ico .ar_on{  display: block;  width: 100%;  height: 100%;  background: url(http://image.etland.co.kr/etland/images/cado/ico_ar_on.gif) no-repeat;}

.air_con_d .sec_3{position:relative;text-align:center;background:transparent;color:#fff;height:812px}
.air_con_d .sec_3 dt{position:relative}
.air_con_d .sec_3 dt h3{display:block;font-size:30px;line-height:30px;font-weight:200;padding-bottom:13px}
.air_con_d .sec_3 dt .ex_tx{position:absolute;right:10px;top:0}
.air_con_d .sec_3 dd h4{display:block;padding-top:54px;font-size:40px;line-height:50px;font-weight:200;padding-bottom:54px}
.air_con_d .sec_3 dd div{display:inline-block;*display:inline;zoom:1;position:relative;padding-left:256px;min-width:410px}
.air_con_d .sec_3 dd div.first{padding-bottom:30px}
.air_con_d .sec_3 dd div > strong{display:block;position:absolute;left:0;top:0;border:3px solid #fff;width:228px;height:70px;font-size:20px;font-weight:200;padding-top:17px;letter-spacing:-1px}
.air_con_d .sec_3 dd div > strong span{display:block;font-size:16px;padding-top:3px}
.air_con_d .sec_3 dd div ol{text-align:left}
.air_con_d .sec_3 dd div ol li{position:relative;line-height:30px}
.air_con_d .sec_3 dd div ol li strong span{position:absolute;left:193px;top:0}
.air_con_d .sec_3 .sec_3_bg{position:absolute;left:0;top:0;right:0;bottom:0;z-index:-1}
.air_con_d .sec_3 .sec_3_bg div{width:100%;height:100%}
.air_con_d .sec_4{background-color:#f5f5f5;text-align:center;height:850px}
/*.air_con_d .sec_4 dl{max-width:1400px;margin:0 auto}*/
.air_con_d .sec_4 dt{padding-top:100px;margin-bottom:59px;background:url(http://image.etland.co.kr/etland/images/cado/tx_air_05.gif) center bottom no-repeat;height:64px}
.air_con_d .sec_4 dt h3{display:block;font-size:30px;line-height:30px;font-weight:200;padding-bottom:13px;letter-spacing:-3px}
.air_con_d .sec_4 dd{display:block;position:relative;padding-left:50%;text-align:left}
.air_con_d .sec_4 dd .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_air_06.gif) left top no-repeat;height:528px}
.air_con_d .sec_4 dd .pr_img{position:absolute;left:50%;margin-left:-604px;top:0}
.air_con_d .sec_4 dd p{white-space:pre;text-align:left;font-size:16px;line-height:30px;margin-bottom:42px}
/*air an sec_3*/
.air_con_d .sec_3 .an_tx_d{position:relative}
.air_con_d .sec_3 .an_tx_d .tx_img{background:url(http://image.etland.co.kr/etland/images/cado/tx_air_sec3.png) no-repeat}
.air_con_d .sec_3 .an_tx_d div,.air_con_d .sec_3 .an_tx_d li{overflow:hidden}
.air_con_d .sec_3 .an_tx_d{position:absolute;left:50%;margin-left:-337.5px;top:92px}
.air_con_d .sec_3 .an_tx_d > .ti,.air_con_d .sec_3 .an_tx_d .sub_ti,.air_con_d .sec_3 .an_tx_d .tx_big,.air_con_d .sec_3 .an_tx_d .tx_list,.air_con_d .sec_3 .an_tx_d .ex_tx{position:relative;margin-left:auto;margin-right:auto}
.air_con_d .sec_3 .an_tx_d .tx_list .ti{position:absolute;left:0;top:0}
.air_con_d .sec_3 .an_tx_d > .ti{margin-bottom:19px}
.air_con_d .sec_3 .an_tx_d .sub_ti{margin-bottom:48px}
.air_con_d .sec_3 .an_tx_d .tx_big{margin-bottom:112px}
.air_con_d .sec_3 .an_tx_d .tx_list.ol_02{margin-top:30px}
.air_con_d .sec_3 .an_tx_d .ex_tx{margin-top:65px}
.air_con_d .sec_3 .an_tx_d > .ti,.air_con_d .sec_3 .an_tx_d > .ti div{width:274px;height:28px}
.air_con_d .sec_3 .an_tx_d .sub_ti,.air_con_d .sec_3 .an_tx_d .sub_ti div{width:470px;height:17px}
.air_con_d .sec_3 .an_tx_d .tx_big,.air_con_d .sec_3 .an_tx_d .tx_big div{width:667px;height:132px}
.air_con_d .sec_3 .an_tx_d .tx_list{width:411px;height:87px;padding-left:255px;padding-top:9px}
.air_con_d .sec_3 .an_tx_d .tx_list .ti,.air_con_d .sec_3 .an_tx_d .tx_list .ti div{width:234px;height:92px}
.air_con_d .sec_3 .an_tx_d .tx_list .tx,.air_con_d .sec_3 .an_tx_d .tx_list .tx div{height:17px;margin-bottom:13px}
.air_con_d .sec_3 .an_tx_d .ex_tx,.air_con_d .sec_3 .an_tx_d .ex_tx div{width:284px;height:15px}
.air_con_d .sec_3 .an_tx_d .tx_img{position:relative;top:100%}
.air_con_d .sec_3 .an_tx_d > .ti div{background-position:-198px 0px}
.air_con_d .sec_3 .an_tx_d .sub_ti div{background-position:-100px -48px}
.air_con_d .sec_3 .an_tx_d .tx_big div{background-position:0px -112px}
.air_con_d .sec_3 .an_tx_d .tx_list .ti div{background-position:-10px -357px}
.air_con_d .sec_3 .an_tx_d .tx_list .tx_01 div{background-position:-265px -365px}
.air_con_d .sec_3 .an_tx_d .tx_list .tx_02 div{background-position:-265px -396px}
.air_con_d .sec_3 .an_tx_d .tx_list .tx_03 div{background-position:-265px -426px}
.air_con_d .sec_3 .an_tx_d .tx_list.ol_02 .ti div{background-position:-10px -479px}
.air_con_d .sec_3 .an_tx_d .tx_list.ol_02 .tx_01 div{background-position:-265px -488px}
.air_con_d .sec_3 .an_tx_d .tx_list.ol_02 .tx_02 div{background-position:-265px -518px}
.air_con_d .sec_3 .an_tx_d .tx_list.ol_02 .tx_03 div{background-position:-265px -548px}
.air_con_d .sec_3 .an_tx_d .ex_tx div{background-position:-192px -635px}

/*shop*/
.shop_pg .heder_d .pg_title{background:url(http://image.etland.co.kr/etland/images/cado/tx_shop_01.gif) center center no-repeat}
.shop_pg .heder_d h2{background:url(http://image.etland.co.kr/etland/images/cado/ico_shop.jpg) center 49px no-repeat}
.shop_pg .heder_d .hd_img{position:relative}
.shop_pg .heder_d .hd_img,.shop_pg .heder_d .hd_img .prx_hd_img{height:499px;min-height:499px;background:transparent;z-index:-1;overflow:hidden;}
.shop_pg .heder_d .hd_img .tx{position:absolute;top:195px;left:50%;margin-left:-410px;font-size:46px;color:#fff;background:url(http://image.etland.co.kr/etland/images/cado/tx_shop_02.png) no-repeat;width:820px;height:121px;z-index:1}
.shop_pg .shop_con_d{margin-top:100px}
.shop_pg .pr_list_d{border-top:1px solid #e0e0e0;background-color:#f7f7f7;text-align:center}
.shop_pg .pr_list_d h3{display:block;height:79px;line-height:79px;font-size:24px;font-weight:300}
.shop_pg .pr_list_d .pr_list{background-color:#fff;border-top:1px solid #e0e0e0}
.shop_pg .pr_list_d .pr_list.li_2{border-bottom:1px solid #e0e0e0;border-top:0}
.shop_pg .pr_list_d .pr_list.pr_filter{border-bottom:1px solid #e0e0e0;border-top:0}
.shop_pg .pr_list_d .pr_list li{position:relative;display:inline-block;*display:inline;zoom:1;border-left:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;margin:0 -3px;width:350px;height:349px;vertical-align:top;overflow:hidden}
.shop_pg .pr_list_d .pr_list li.first{border-left:0}
.shop_pg .pr_list_d .pr_list li.no_list{background:url(http://image.etland.co.kr/etland/images/cado/bg_shop_no.gif) top right no-repeat}
.shop_pg .pr_list_d .pr_list.pr_filter li,.shop_pg .pr_list_d .pr_list.li_2 li{border-bottom:0}
.shop_pg .pr_list_d .pr_list.pr_filter strong{padding-bottom:0;}
.shop_pg .pr_list_d .pr_list.pr_filter .img_d{height:190px;margin-bottom:30px}
.shop_pg .pr_list_d .pr_list.pr_filter .li_2 .img_d img{margin-top:5px}
.shop_pg .pr_list_d .pr_list.pr_filter .li_3 .img_d img,.shop_pg .pr_list_d .pr_list.pr_filter .last .img_d img{margin-top:35px}
.shop_pg .pr_list li a{display:block;padding-top:37px}
.shop_pg .pr_list li a span{display:block;font-size:14px;line-height:18px;padding-bottom:7px}
.shop_pg .pr_list li a strong{display:block;font-size:20px;font-weight:200;padding-bottom:17px}
.shop_pg .pr_list li a .img_ico{position:absolute;left:19px;top:20px}
.shop_pg .prx_sec_2{margin-top:100px;height:400px;min-height:400px;background:transparent}
.shop_pg .prx_sec_2 div{width:100%;height:100%}
.shop_pg .pr_list .no_list:hover{}
.shop_pg .pr_list li.hover{background-color: #e5f6fd;border-left:0;border-bottom:0;width:350px;overflow:hidden;z-index:1}
.shop_pg .pr_list li.hover a{border: 2px solid #00a9e4;height:310px;overflow:hidden;padding-top:35px}
.shop_pg .pr_list li.bg_hover{background-color: #e5f6fd;}

/*product*/
#wrap.pro_pg{padding-top:267px}
.pr_nav{position:fixed;left:0;right:0;top:86px;background-color:#fff;padding:38px 0;text-align:center;z-index:10}
.pr_nav li{display:inline-block;*display:inline;zoom:1;width:263px;height:105px}
.pr_nav li a{position:relative;display:block;height:100%;text-align:left}
.pr_nav li a span{display:block;height:73px;border-right:1px solid #d4d4d4;margin-top:13px;line-height:73px}
.pr_nav li a i{position:absolute;display:none;width:46px;height:23px;background:url(http://image.etland.co.kr/etland/images/cado/ico_pr_nav.png) no-repeat;left:110px;top:120px}
.pr_nav li.on a i{display:block}
.pr_nav .btn_01 a span{padding-left:136px}
.pr_nav .btn_02 a span{padding-left:132px}
.pr_nav .btn_03 a span{padding-left:153px}
.pr_nav .btn_04 a span{padding-left:138px;border-right:0}
.pr_nav .btn_01{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_01_off.jpg) 55px top no-repeat}
.pr_nav .btn_02{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_02_off.jpg) 59px top no-repeat}
.pr_nav .btn_03{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_03_off.jpg) 50px top no-repeat}
.pr_nav .btn_04{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_04_off.jpg) 70px top no-repeat}
.pr_nav .btn_01.on{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_01_on.jpg) 55px top no-repeat}
.pr_nav .btn_02.on{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_02_on.jpg) 59px top no-repeat}
.pr_nav .btn_03.on{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_03_on.jpg) 50px top no-repeat}
.pr_nav .btn_04.on{background:url(http://image.etland.co.kr/etland/images/cado/pr_nav_04_on.jpg) 70px top no-repeat}
.pr_nav.sc_ck a i{top:92px}
.pro_con_d .hd_img{position:relative}
.pro_con_d .hd_img,.pro_con_d .hd_img .prx_hd_img{height:610px;min-height:610px;background:transparent;z-index:-1;overflow:hidden;}
.pro_con_d .hd_img .prx_hd_img{position:absolute;left:0;top:0;right:0;bottom:0;z-index:-1}
.pro_con_d .hd_img .tx{padding-top:180px;text-align:center;color:#fff;margin:0 auto;z-index:1}
.pro_con_d .hd_img .tx h2{display:block;font-size:40px;font-weight:200;letter-spacing:-2.5px;line-height:40px;padding-bottom:14px}
.pro_con_d .hd_img .tx .sub_tx{display:block;font-size:18px;line-height:18px;padding-bottom:44px}
.pro_con_d .hd_img .tx .md_num{font-size:30px;font-weight:200}
.pro_con_d .pr_img{position:relative;height:579px;text-align:center}
.pro_con_d .pr_img dt{padding-top:54px}
.pro_con_d .pr_img dt img{margin-right:346px}
.pro_con_d .pr_img dd{position:absolute;top:227px;left:50%;margin-left:30px;text-align:left}
.pro_con_d .pr_img dd strong{display:block;font-size:40px;line-height:40px;padding-bottom:14px}
.pro_con_d .pr_img dd span{font-size:24px;font-weight:100;letter-spacing:-1px}
.pro_con_d .pr_info_01{position:relative}
.pro_con_d .pr_info_01,.pro_con_d .pr_info_01 .prx_info_img{height:698px;min-height:698px;background:transparent}
.pro_con_d .pr_info_01 .prx_info_img{position:absolute;left:0;right:0;top:0;bottom:0;z-index:-1}

/*pro_con_d an pr_info_01 ::AP-C700D*/
.pro_con_d .pr_info_01 .an_tx_d{position:relative}
.pro_con_d .pr_info_01 .an_tx_d .fl .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_700_01.png) no-repeat}
.pro_con_d .pr_info_01 .an_tx_d .fr .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_700_02.png) no-repeat}
.pro_con_d .pr_info_01 .an_tx_d div{overflow:hidden}
.pro_con_d .pr_info_01 .an_tx_d{max-width:1400px;margin:0 auto;overflow:hidden}
.pro_con_d .pr_info_01 .an_tx_d .fl,.pro_con_d .pr_info_01 .an_tx_d .fr{display:block;width:50%}
.pro_con_d .pr_info_01 .an_tx_d .fl{padding-top:66px}
.pro_con_d .pr_info_01 .an_tx_d .fr{padding-top:80px}
.pro_con_d .pr_info_01 .an_tx_d .fl li{position:relative;height:47px;padding-left:175px;margin-left:40px;margin-bottom:19px}
.pro_con_d .pr_info_01 .an_tx_d .fl li div{width:100%;height:100%}
.pro_con_d .pr_info_01 .an_tx_d .fl li .ti{position:absolute;left:0;top:0;width:175px}
.pro_con_d .pr_info_01 .an_tx_d .fl li .ti div,.pro_con_d .pr_info_01 .an_tx_d .fl li .tx div{position:relative;left:-100%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}
.pro_con_d .pr_info_01 .an_tx_d .fl li .tx{width:200px}
.pro_con_d .pr_info_01 .an_tx_d .fr li{margin-left:40px}
.pro_con_d .pr_info_01 .an_tx_d .fr li .ti{margin-bottom:17px}
.pro_con_d .pr_info_01 .an_tx_d .fr li .ti,.pro_con_d .pr_info_01 .an_tx_d .fr li .ti div{height:23px}
.pro_con_d .pr_info_01 .an_tx_d .fr li .tx{margin-bottom:49px}
.pro_con_d .pr_info_01 .an_tx_d .fr li .ti div,.pro_con_d .pr_info_01 .an_tx_d .fr li .tx div{position:relative;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0}
.pro_con_d .pr_info_01 .an_tx_d .fr li .tx div{height:0}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_1 .tx/*,.pro_con_d .pr_info_01 .an_tx_d .fr .li_1 .tx div*/{height:165px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .tx/*,.pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .tx div*/{height:46px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .tx/*,.pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .tx div*/{height:107px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_1 .ti .img_tx{background-position:0px 0px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_1 .tx .img_tx{background-position:-177px 0px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_2 .ti .img_tx{background-position:0px -65px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_2 .tx .img_tx{background-position:-177px -65px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_3 .ti .img_tx{background-position:0px -129px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_3 .tx .img_tx{background-position:-177px -129px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_4 .ti .img_tx{background-position:0px -193px}
.pro_con_d .pr_info_01 .an_tx_d .fl .li_4 .tx .img_tx{background-position:-177px -193px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_1 .ti .img_tx{background-position:0px 0px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_1 .tx .img_tx{background-position:0px -40px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .ti .img_tx{background-position:0px -255px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .tx .img_tx{background-position:0px -295px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .ti .img_tx{background-position:0px -390px}
.pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .tx .img_tx{background-position:0px -430px}
.pro_con_d .pr_info_02{clear:both;overflow:hidden;background-color:#eee}
.pro_con_d .pr_info_02 .fl,.pro_con_d .pr_info_02 .fr{width:50%}
.pro_con_d .pr_info_02 .fl .first{padding-top:107px;height:524px;text-align:right;/*padding-left:220px*/}
.pro_con_d .pr_info_02 .fl .first .img_tx{display:inline-block;*display:inline;zoom:1;margin-right:160px}
.pro_con_d .pr_info_02 .fl .firs.pro_con_d .hd_img .txt p{position:relative;display:inline-block;*display:inline;zoom:1;width:100%;max-width:700px;text-align:left;line-height:30px;letter-spacing:-1px}
.pro_con_d .pr_info_02 .fl .first p strong{position:absolute;left:-220px;top:0;display:inline-block;*display:inline;zoom:1;text-indent:40px}
.pro_con_d .pr_info_02 .fl .last{height:634px;background:url(http://image.etland.co.kr/etland/images/cado/img_pr_700_05.jpg) no-repeat;background-size:cover}
.pro_con_d .pr_info_02 .fr .first{height:950px;background:url(http://image.etland.co.kr/etland/images/cado/img_pr_700_04.jpg) no-repeat;background-size:cover;text-align:center}
.pro_con_d .pr_info_02 .fr .first .ti{z-index:1;margin:396px auto 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.pro_con_d .pr_info_02 .fr .last{position:relative;height:218px;text-align:left;padding-top:98px;padding-left:365px}
.pro_con_d .pr_info_02 .fr .last *{display:block}
.pro_con_d .pr_info_02 .fr .last img{position:absolute;top:60px;left:147px}
.pro_con_d .pr_info_02 .fr .last strong{line-height:16px}
.pro_con_d .pr_info_02 .fr .last span{line-height:18px;padding-bottom:25px}
.pro_con_d .pr_info_02 .fr .last p{white-space:pre;line-height:24px;letter-spacing:-1px}

/*pro_con_d C700D*/
.pr_700_pg .pro_con_d .hd_img .tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_700_01.png) left bottom no-repeat;width:572px;height:148px}
.pr_700_pg .pro_con_d .pr_img dd{background:url(http://image.etland.co.kr/etland/images/cado/tx_700_03.gif) left bottom no-repeat;width:197px;height:78px}
.pr_700_pg .pro_con_d .pr_info_02 .fl .first .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_700_04.gif) no-repeat;width:498px;height:100%}
.pr_700_pg .pro_con_d .pr_info_02 .fr .last{background:url(http://image.etland.co.kr/etland/images/cado/tx_700_05.gif) 366px 98px no-repeat}

/*pro_con_d C300E*/
.pr_300_pg .pro_con_d .pr_info_01 .an_tx_d .fl .img_tx{background: url(http://image.etland.co.kr/etland/images/cado/tx_100_03.png) no-repeat;}

.pr_300_pg .pro_con_d .hd_img .tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_300_01.png) left bottom no-repeat;width:603px;height:148px}
.pr_300_pg .pro_con_d .pr_img dd{background:url(http://image.etland.co.kr/etland/images/cado/tx_300_03.gif) left bottom no-repeat;width:191px;height:78px}
.pr_300_pg .pro_con_d .pr_info_02 .fl .first .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_300_04.gif) no-repeat;width:471px;height:100%}
.pr_300_pg .pro_con_d .pr_info_02 .fl .last{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_300_05.jpg) no-repeat;background-size:cover}
.pr_300_pg .pro_con_d .pr_info_02 .fr .first{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_300_04.jpg) no-repeat;background-size:cover}
.pr_300_pg .pro_con_d .pr_info_02 .fr .last{background:url(http://image.etland.co.kr/etland/images/cado/tx_300_05.gif) 366px 98px no-repeat}

/*pro_con_d C10*/
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fl .img_tx{background: url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_03.png) no-repeat;}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .img_tx{background: url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_04.png) no-repeat;}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_1 .tx{height:140px}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .tx,.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .tx{height:15px}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .ti .img_tx{background-position: 0px -245px}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_2 .tx .img_tx{background-position: 0px -285px}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .ti .img_tx{background-position: 0px -371px;}
.pr_10_pg .pro_con_d .pr_info_01 .an_tx_d .fr .li_3 .tx .img_tx{background-position: 0px -442px;}

.pr_10_pg .pro_con_d .hd_img .tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_01.png) left bottom no-repeat;width:580px;height:148px}
.pr_10_pg .pro_con_d .pr_img dd{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_02.gif) left bottom no-repeat;width:145px;height:78px}
.pr_10_pg .pro_con_d .pr_info_02 .fl .first .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_05.gif) no-repeat;width:435px;height:100%}
.pr_10_pg .pro_con_d .pr_info_02 .fl .last{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_10_05.jpg) no-repeat;background-size:cover}
.pr_10_pg .pro_con_d .pr_info_02 .fr .first{background:url(http://image.etland.co.kr/etland/images/cado/img_pr_10_04.jpg) no-repeat;background-size:cover}
.pr_10_pg .pro_con_d .pr_info_02 .fr .last{background:url(http://image.etland.co.kr/etland/images/cado/tx_pr_10_06.gif) 366px 98px no-repeat}
.pr_10_pg .pro_con_d .pr_info_02 .fr .last img{top:89px}
.pr_10_pg .pro_con_d .pr_info_02 .fr .first .ti{margin-top:435px}

/*pro_con_d C100*/
.pr_100_pg .pro_con_d .pr_info_01 .an_tx_d .fl .img_tx{background: url(http://image.etland.co.kr/etland/images/cado/tx_100_03.png) no-repeat;}
.pr_100_pg .pro_con_d .pr_info_01 .an_tx_d .fr .img_tx{background: url(http://image.etland.co.kr/etland/images/cado/tx_100_04.png) no-repeat;}

.pr_100_pg .pro_con_d .hd_img .tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_100_01.png) left bottom no-repeat;width:544px;height:148px}
.pr_100_pg .pro_con_d .pr_img dd{background:url(http://image.etland.co.kr/etland/images/cado/tx_100_02.gif) left bottom no-repeat;width:145px;height:78px}
.pr_100_pg .pro_con_d .pr_info_02 .fl .first .img_tx{background:url(http://image.etland.co.kr/etland/images/cado/tx_100_05.gif) no-repeat;width:498px;height:100%}
.pr_100_pg .pro_con_d .pr_info_02 .fl .last{background:url(http://image.etland.co.kr/etland/images/cado/img_100_05.jpg) right bottom no-repeat;background-size:cover}
.pr_100_pg .pro_con_d .pr_info_02 .fr .first{background:url(http://image.etland.co.kr/etland/images/cado/img_100_04.jpg) no-repeat;background-size:cover}
.pr_100_pg .pro_con_d .pr_info_02 .fr .last{background:url(http://image.etland.co.kr/etland/images/cado/tx_100_06.gif) 366px 98px no-repeat}
.pr_100_pg .pro_con_d .pr_info_02 .fr .last img{top:89px}
.pr_100_pg .pro_con_d .pr_info_02 .fr .first .ti{margin-top:435px}
.pr_100_pg .pro_con_d .pr_img dt{padding-top:100px}
.pr_100_pg .pro_con_d .pr_img dt img{margin-right:369px;}


/*store*/
.store_pg .heder_d .pg_title{background:url(http://image.etland.co.kr/etland/images/cado/tx_store_01.gif) center center no-repeat}
.store_pg .heder_d .hd_img{position:relative}
.store_pg .heder_d .hd_img .map{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden}
.store_pg .heder_d .hd_img .map,.store_pg .heder_d .hd_img .map > div,.store_pg .heder_d .hd_img .map_d{width:100%;height:400px}
.store_pg .heder_d .hd_img .map.pos_fx{position:fixed;top:86px;z-index:9;border-bottom:10px solid #000}
.store_pg .prx_sec_2{position:relative}
.store_pg .prx_sec_2,.store_pg .prx_sec_2 .prx_sec_2_img{height:276px;min-height:276px;background:transparent}
.store_pg .prx_sec_2 .tx_img{position:absolute;top:85px;left:50%;margin-left:-118px;z-index:1}
.store_pg .sec_01{background-color:#000;padding-top:100px;padding-bottom:40px}
.store_pg .sec_01 > .ti,.store_pg .sec_02 > .ti{padding-bottom:27px}
.store_pg .sec_01 > .ti h2,.store_pg .sec_02 > .ti h2{display:inline-block;*display:inline;zoom:1;font-size:36px;line-height:40px;font-weight:200;letter-spacing:-4px;padding-right:105px}
.store_pg .sec_01 > .ti h2{background:url(http://image.etland.co.kr/etland/images/cado/ico_store_03.gif) right center no-repeat}
.store_pg .sec_02 > .ti h2{background:url(http://image.etland.co.kr/etland/images/cado/ico_store_04.gif) right center no-repeat}
.store_pg .sec_01 li{color:#fff}
.store_pg .sec_01 li,.store_pg .sec_02 li{position:relative;width:900px;margin:0 auto;text-align:center;padding-bottom:60px}
.store_pg .sec_01 li .ti{line-height:41px;line-height:46px\0/IE8+9;font-size:20px;font-weight:700;width:860px;margin:0 auto;text-align:left}
.store_pg .sec_01 li table{width:860px;border-top:3px solid #575757;margin:0 auto}
.store_pg .sec_01 li table th,.store_pg .sec_01 li table td{border-bottom:1px solid #575757;padding:10px 0 10px;color:#fff;text-align:center;line-height:23px;letter-spacing:-1px}
.store_pg .sec_01 li table .add{text-align:left}
.store_pg .sec_01 li table .btn_map a{display:inline-block;*display:inline;zoom:1;padding-left:22px;background:url(http://image.etland.co.kr/etland/images/cado/ico_store_01.gif) left center no-repeat;height:23px;color:#00a8e3}
.store_pg .sec_02{background-color:#f5f5f5;padding-top:67px;padding-bottom:40px}
.store_pg .sec_02 li .ti{line-height:41px;line-height:46px\0/IE8+9;font-size:20px;font-weight:700;width:860px;margin:0 auto;text-align:left}
.store_pg .sec_02 li table{width:860px;border-top:3px solid #a4a4a4;margin:0 auto}
.store_pg .sec_01 li table th,.store_pg .sec_02 li table th{font-weight:700;}
.store_pg .sec_02 li table th,.store_pg .sec_02 li table td{border-bottom:1px solid #a4a4a4;padding:10px 0 10px;text-align:center;line-height:23px;letter-spacing:-1px}
.store_pg .sec_02 li table .add{text-align:left}
.store_pg .sec_02 li table .btn_map a{display:inline-block;*display:inline;zoom:1;padding-left:22px;background:url(http://image.etland.co.kr/etland/images/cado/ico_store_02.gif) left center no-repeat;height:23px;color:#00a8e3}

/*media*/
/*
body.w_900,.w_900 input,.w_900 textarea,.w_900 select,.w_900 button,.w_900 table{font-size:12px;line-height:20px;letter-spacing:-.5px}
body.w_1300,.w_1300 input,.w_1300 textarea,.w_1300 select,.w_1300 button,.w_1300 table{font-size:14px;line-height:25px;letter-spacing:-.5px}
.w_900 .ab_con_d .sec_3 dd h3,.w_900 .ab_con_d .sec_4 dd h3{font-size:30px;line-height:35px}
.w_1300 .ab_con_d .sec_3 dd h3,.w_1300 .ab_con_d .sec_4 dd h3{font-size:35px;line-height:40px}
*/
/*loding*/
#pg_loding{position: fixed;left:0;right:0;top:0;bottom:0;z-index:999;background-color:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
#pg_loding div{display:block;}
#pg_loding .ico_d{position:absolute;top:50%;left:50%;margin:-21px 0 0 -24px;width:46px;height:43px;overflow:hidden}
#pg_loding .ico_d div{position:relative;left:-100%}
#pg_loding .ico_d .ico_1{background: url(http://image.etland.co.kr/etland/images/cado/lod_ico_01.png) no-repeat;  width: 28px;  height: 14px;}
#pg_loding .ico_d .ico_2{background: url(http://image.etland.co.kr/etland/images/cado/lod_ico_02.png) no-repeat;  width:46px;  height: 14px;margin-top:-5px;  margin-bottom: 5px;left:-150%;}
#pg_loding .ico_d .ico_3{background: url(http://image.etland.co.kr/etland/images/cado/lod_ico_03.png) no-repeat;  width: 28px;  height: 14px;}

/*2015.06.05 메인팝업*/
.main_popup{position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  background: url(http://image.etland.co.kr/etland/images/cado/bg_bl.png);  z-index: 9;  text-align: center;  overflow-y: auto;}
.main_popup .pop_con{position: relative;display: inline-block;*display: inline;*zoom:1;  padding-top: 45px;  }
.main_popup .pop_con .btn_close{position: absolute;  right: 0;  top: 0;  width: 45px;  height: 45px;  display: block;  background: #282828 url(http://image.etland.co.kr/etland/images/cado/btn_close.gif) center no-repeat;}
.main_popup .pop_con .btn_app{position: absolute;  left: 113px;  right: 114px;  bottom: 380px;  height: 52px;  display: block;  width: 230px;}
.main_popup .pop_con img{width:455px}