#wrap,header,footer,#wrap.open .gnb,.bg_nav{transition:all 0.3s;-webkit-transition:all 0.3s}
#wrap{padding-left:0}
#wrap.open{padding-left:200px;overflow:hidden}
#wrap.open .gnb{left:0;box-shadow: 1px 1px 2px rgba(0,0,0,.5);}
#wrap.open header{left:200px}
#wrap.open .bg_nav{left:200px;right:0}
#wrap.open footer{padding-left:200px}
#container{position: relative;}
.bg_nav{position: fixed;bottom: 0;top: 0;left:-100%;background-color: #000;z-index:71;opacity:.3; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30)}

/* *************** header *************** */
.header_nav{display:none}
body.head_nav .header_nav{display:block;position:fixed;top:0;left:0;right:0;height: 49px; text-align: center; background: url('http://image.etland.co.kr/etland/images/main/201404_main/tab_bg.jpg') repeat-x;z-index: 70;}
body.head_nav header{top:49px}
body.head_nav #main{margin-top:88px}
header{position:fixed;top:0;left:0;right:0;height:37px;background:url('../../images/hd_bg.jpg') repeat-x;z-index:70;border-bottom:2px solid #fff;margin:0!important}
header > *{vertical-align: top}
header .tList_btn{display:none}
header h1{position:absolute;z-index:5;top:0;left:28px;width:148px;height:148px;/*background:url('../../images/logo.png') no-repeat*/}
header h1 img{width:100%}
header h1 .pc_logo{display:block}
header h1 .mb_logo{display:none}
header h1 a{display:block;width:100%;height:100%}
header .sub_gnb {position:absolute;right:30px;top:0;height:37px;line-height:37px}
header .sub_gnb h2{display:none}
header .sub_gnb li{list-style:none;float:left}
header .sub_gnb li a{color:#fff;font-size:12px;border-right:1px solid #de7987;padding:0 10px}
header .sub_gnb li:last-child a,header .sub_gnb li.last-child a{border:0}

/* *************** gnb *************** */

.gnb2{display:none;}
.gnb{position:fixed;width:200px;left:0;top:0;bottom:0;background:#efefef;z-index: 1;}
.gnb > div:first-child{padding-top:210px;height:520px}
.gnb section h2{background:url('../../images/gnb_titlebg.jpg') repeat-x bottom center;width:163px;height:35px;text-align:left;padding-left:37px;}
.gnb section h2 a{display:block}
.gnb section h2 a img{vertical-align:top}
.gnb section:last-child,.gnb section.last-child{padding-top:27px}
.gnb section div{width:100%;background:#f3f3f3 url('../../images/gnb_listbg.jpg') repeat-x bottom center;}
.gnb section div ul{width:166px;margin:0 auto 2px} 
.gnb section div ul li {width:100%;border-bottom:1px solid #e3e3e3;padding:13px 0}
.gnb section div ul li:last-child,.gnb section div ul li.last-child{border:0;padding-bottom:20px}
.gnb section div ul li a{display:block;font-size:13px;color:#737373;padding:0 18px 0 21px;background:url('../../images/gnb_off.jpg') no-repeat 88% center}
.gnb section div ul li a:hover,.gnb section div ul li.on a{color:#c71b33;font-weight:bold;background:url('../../images/gnb_on.jpg') no-repeat 88% center}

/* *************** main *************** */
#main{position:relative;margin:36px 0 0 200px;/*overflow:hidden;z-index:1;*/}
#main .main_visual{position:relative;width:100%}
#main .main_visual .roll_img{height:630px}
/*#main .main_visual .rolling_group{position:relative;width:100%;height:100%;overflow:hidden}
#main .main_visual .rolling_group .roll_img{padding-bottom:630px;background-size:cover}
#main .main_visual .rolling_group2{display:none;position:relative;width:100%;overflow:hidden}
#main .main_visual .rolling_group2 .roll_img{padding-bottom:54%}*/
.main_visual .roll_point {z-index:20;position:absolute;bottom:2.5%;width:100%;text-align:center}
.main_visual .roll_point .rollIcon {width:8%;height:8px;display:inline-block;margin:0 3px}
.main_visual .roll_point .rollIcon a{width:100%;height:8px;margin:0 4px;border:1px solid #a6a19e;display:inline-block;box-shadow:0 0 3px #000}
.main_visual .roll_point .rollIcon a:last-child,.main_visual .roll_point .rollIcon a.last-child{margin:0}
.main_visual .roll_point .rollIcon a.active{background:#c61a32;border:1px solid #db2740}
.main_visual .bx-controls .bx-controls-direction a{display:block;position:absolute;top:45%;width: 76px;height: 74px;font-size:0px;line-height:0px;color:transparent;letter-spacing:-999px;text-indent:-999px;z-index:51;}
.main_visual .bx-controls .bx-controls-direction .bx-prev{left:2%;background: url(../../images/prev_btn.png)}
.main_visual .bx-controls .bx-controls-direction .bx-next{right:2%;background: url(../../images/next_btn.png)}
.main_visual .bx-controls .bx-pager{position: absolute;bottom: 2.5%;left: 0;right: 0;text-align: center;z-index: 51;}
.main_visual .bx-controls .bx-pager > div{display: inline-block;*display: inline;zoom:1;width: 8%;height: 8px;margin: 0 3px;}
.main_visual .bx-controls .bx-pager > div a{display: block;width: 100%;height: 8px;margin: 0 4px;border: 1px solid #a6a19e;box-shadow: 0 0 3px #000;text-indent: -9999px;letter-spacing: -999px;font-size: 0;}
.main_visual .bx-controls .bx-pager > div .active{background: #c61a32;border: 1px solid #db2740;}

#main .contents{background: url('../../images/bg_main_bottom.gif') 12.44% 38%;background:none\9;background-size:20%;padding: 3% 0 4.8%;line-height: 0;text-align: center;overflow: hidden;}
#main .contents .cts_group{width:80%;margin:0 auto;overflow:hidden;/*padding:5px 0*/}
#main .contents .cts_group div{position:relative;float:left;width:25%;}
#main .contents .cts_group div a{display:block;padding-right: 2%;padding-bottom: 2%;}
#main .contents .cts_group div img{display:block;width:100%}

#main .contents .cts_group div .progress{position:absolute;top:25%;left:25%;z-index:10}
#main .contents .cts_group div .progress>img{width:auto}

#main .contents .sub_bottom{display:none;width:73%;margin:3% auto;text-align:center}
#main .contents .sub_bottom .sub_group div{display:inline-block;padding:0 4%;border-right:1px solid #2b2b2d }
#main .contents .sub_bottom .sub_group div:last-child,#main .contents .sub_bottom .sub_group div.last-child{border-right:0}
#main .contents .sub_bottom .sub_group a{color:#2b2b2d;font:0.85em}

.inbg{position:absolute;top:0;left:0;width:0;height:0;background:#000;opacity:.5;filter:alpha(opacity=50);z-index:20}

.main_bn_box{padding:25px 0 30px;text-align: center;}
.main_bn_box a{display:inline-block;*display:inline;zoom:1;margin:0 15px 0 14px;color:#323232;}
.main_bn_box a img{height:180px}
.main_bn_box a .tx{display:block;font-size:15px;padding-top:15px;text-transform:uppercase}
.main_bn_box .bn_01{display: block;margin:0 0 30px;}
.main_bn_box .bn_01 img{height:104px}

/* *************** footer *************** */
footer{position: relative;background-color: #333;text-align: center;}
footer .q_menu{display:none;border-bottom: 1px solid #5f5f5f;padding:15px 0 10px}
footer .q_menu a{display: inline-block;*display: inline;zoom:1;font-size:13px;color:#a4a4a4;padding: 0 15px;border-left: 1px solid #989898;height: 14px;line-height: 14px;}
footer .q_menu a:first-child{border-left:0}
footer .copyright{padding:20px 0 25px;color: #e5e5e5;font-size: 10px;}
footer h2 img{width:auto}
footer p{margin-top:6px;line-height: 10px;}
footer a{color:#e5e5e5}
#pg_top{display:none;position: fixed;bottom: 20px;right: 20px;z-index: 999;}

/* *************** 페이징 *************** */
.page_bottom{height:27px; clear:both; margin:auto; margin-bottom:5%;}
.page_bottom > div{display:inline-block;*display:inline;zoom:1;color: #505050;width: 24px;height: 24px;line-height: 24px;margin:2px;line-height: 24px;font-size:12px;text-align: center;vertical-align: top;overflow:hidden}
.page_bottom > div > a{display:block;width:100%;height:100%;}
.page_bottom > div img{margin-top:-2px}
.page_bottom .page_num{border: 1px solid #dcdcdc;}
.page_bottom .page_num:hover,.page_bottom .page_num_check{border:1px solid #ed1c24; color:#ed1c24}
.page_bottom .page_num:hover a{color:#ed1c24}
.page_bottom .page_num_check{font-weight:bold}

/*font정리*/
#content_main #Lnb{background: #fff;}
.a_container .a_title{color: #777;background: url('../../images/ab_bg.gif') no-repeat center bottom;margin: 40px 0 35px;height: 118px;}

.a_container .a_title h1{font-family:'Gotham Book','NanumBarunGothicBold';line-height:65px}
#content_main #Lnb p{font-size:13px!important}
