@font-face{
	font-family:"Gotham Book";
	src:url('http://image.etland.co.kr/etland/images/webContents/font/Gotham-Book.eot');
	src:local("Gotham-Book"), url('http://image.etland.co.kr/etland/common/font/Gotham-Book.woff') format("woff");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Gotham ExtraLight";
	src:url('http://image.etland.co.kr/etland/images/webContents/font/Gotham-ExtraLight.eot');
	src:local(※), url('http://image.etland.co.kr/etland/common/font/Gotham-ExtraLight.woff') format("woff");
	font-weight:normal;
	font-style:normal;
}
@font-face {
 font-family: 'NanumBarunGothic';
 src: url('http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicWeb.eot');
 src:local(※), url('http://image.etland.co.kr/etland/common/font/NanumBarunGothicWeb.woff') format('woff');
}
@font-face {
 font-family: 'NanumBarunGothicBold';
 src: url('http://image.etland.co.kr/etland/images/webContents/font/NanumBarunGothicWebBold.eot');
 src:local(※), url('http://image.etland.co.kr/etland/common/font/NanumBarunGothicWebBold.woff') format('woff');
}
/* reset.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,object,frame,form,iframe,summary{display:block}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,object,frame,iframe{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'NanumBarunGothicBold';font-size:13px;letter-spacing:.5px;line-height:20px}
body{color:#4f4e4e;-webkit-text-size-adjust:none;background-color:transparent;overflow-x:hidden}
img,fieldset{border:0}
img,input{vertical-align:middle}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:hover{color:#000;text-decoration:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
table{border-collapse:collapse;table-layout:fixed;word-break:break-all;border-spacing:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;color:transparent}
.skip{position:fixed;visibility:hidden;overflow:hidden;left:-999px;height:0!important;font-size:0;line-height:0!important;border:0!important}
.tx_skip,h3{font-size:0px;line-height:0px;color:transparent;letter-spacing:-999px;text-indent:-999px}
.tx_doc{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
hr{display:none!important}
.fl{float:left}
.fr{float:right}
.ct{clear:both;zoom:1}
.ct:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}
.al{text-align:left!important}
.ac{text-align:center!important}
.ar{text-align:right!important}
.in_tx_ac *{text-align:center!important}
.tx_un{text-decoration:underline!important}
.cur{cursor:pointer}
input[type="checkbox"],input[type="radio"]{cursor:pointer;overflow:hidden}
input[type="date"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-inner-spin-button{display:none}
/* skipnavi */
.skipnavi{display:block;position:absolute;top:0;left:0;right:0;z-index:999;overflow:hidden;margin:0;height:1px;margin-top:-1px;line-height:50px;text-align:center;font-weight:bold;font-size:14px;background:#2c2d3c;color:#fff;text-decoration:none!important;}
a.skipnavi:focus,a.skipnavi:active,a.skipnavi.hover{height:50px;margin:0}

/* normalsize */
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}
button,input,optgroup,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible;border:0;}
/*button,select{text-transform:none;}*/
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;/cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
.no_cursor{cursor:default}