/* CSS crunched with Crunch - http://crunchapp.net/ */
@charset "utf-8";
.section-pagination {
  margin-top: 30px;
  text-align: center;
}
.section-pagination a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border: 1px #ccc solid;
  font-size: 14px;
  color: #999;
  vertical-align: top;
  background-color: #fff;
}
.section-pagination a.active,
.section-pagination a.nav:hover,
.section-pagination a:hover {
  text-decoration: none;
  border-color: #fd1f27;
  color: #fd1f27;
}
.section-pagination a.nav.prev {
  margin-right: 5px;
  background-image: url('../img/custom/pagination_prev.png');
}
.section-pagination a.nav.next {
  margin-left: 5px;
  background-image: url('../img/custom/pagination_next.png');
}
.section-pagination a.nav.first {
  background-image: url('../img/custom/pagination_first.png');
}
.section-pagination a.nav.last {
  background-image: url('../img/custom/pagination_last.png');
}