@charset "utf-8";
/*
    join_style.css로 저장해야합니다.
*/
/* join.less */
/* join_reset.less */
html,
body {
  width: 100%;
  height: 100%;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  display: block;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select,
button,
table {
  font-family: '나눔바른고딕', 'NanumBarunGothic', 'Nanum Barun Gothic', '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif;
  font-size: 12px;
  color: #333333;
}
body {
  background-color: #fff;
  *word-break: break-all;
  -ms-word-break: break-all;
}
img,
fieldset {
  border: 0 none;
}
img {
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
input,
select,
button {
  vertical-align: middle;
}
i,
em,
address {
  font-style: normal;
}
label,
button {
  cursor: pointer;
}
a {
  color: #222;
  text-decoration: none;
}
/*a:hover{text-decoration:underline}*/
button * {
  position: relative;
}
button img {
  left: -3px;
  *left: auto;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  word-break: break-all;
  border-spacing: 0;
}
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
}
/* skipnavi */
.skipnavi {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  margin: 0;
  height: 1px;
  margin-top: -1px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #dddee1;
  color: #1663a9;
  text-decoration: none!important;
  display: block;
}
.skipnavi:focus,
.skipnavi:active,
.skipnavi:hover {
  height: 50px;
  margin: 0;
}
/* com */
.blind {
  position: fixed!important;
  top: -1000em !important;
  left: 0;
  display: block;
  overflow: hidden;
}
.ir {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 11px;
  white-space: nowrap;
  z-index: -1;
  top: -1000em \9;
}
.tx_doc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ct {
  clear: both;
}
.ct:after {
  display: block;
  clear: both;
  height: 1px;
  margin-top: -1px;
  content: '';
}
.al {
  text-align: left !important;
}
.ac {
  text-align: center !important;
}
.ar {
  text-align: right !important;
}
.cur {
  cursor: pointer;
}
input[type='checkbox'],
input[type="radio"] {
  cursor: pointer;
  clear: both;
  overflow: hidden;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type='text'],
input[type='password'] {
  font-size: 14px;
}
.minW {
  position: relative;
  width: 1020px;
  margin: auto;
}
.minW2 {
  width: 800px;
  margin: auto;
}
/* style guide */
/*@co_flesh:#f3e7db;
@co_yel:#fff700;
@co_sky:#03c3c5;
@co_blue:#0a91cb;
@co_navy:#053455;
@co_blk333:#333;
@co_blk555:#555;
@co_blk999:#999;
@co_blkd7:#d7d7d7;
@co_blkf3:#f3f3f3;
@co_btn_red:#f91f28;
@co_btn_red_h:#d9050e;
@co_btn_blk:#3b3b3b;
@co_btn_blk_h:#2b2b2b;
@co_btn_blk777:@co_blk777;
@co_btn_blk777_h:#656565;
@co_btn_white:#fff;
@co_btn_white_h:#f3f3f3;*/
.co_red {
  color: #fd1f27;
}
.btn_red,
.btn_gre,
.btn_wt_l,
.btn_gre2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.btn_red {
  background-color: #fd1f27;
  color: #fff;
}
.btn_gre {
  background-color: #777777;
  color: #fff;
}
.btn_gre2 {
  background-color: #f3f3f3;
  color: #333;
  border: 1px solid #777777;
}
.btn_wt_l {
  background-color: #fff;
  border: 1px solid #777777;
  color: #555555;
}
._inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* select */
.sel_d {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  line-height: normal;
  vertical-align: middle;
  height: 34px;
  border: 1px solid #d7d7d7;
  z-index: 1;
  background-color: #fff;
}
.sel_d * {
  margin: 0;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}
.sel_d .my_value {
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
  text-align: left;
  line-height: 19px;
  _line-height: normal;
  border: 0;
  font-size: 14px;
  color: #555;
  height: 34px;
  padding-right: 40px;
  text-indent: 10px;
  width: 100%;
  *width: auto;
  *text-indent: 0;
  *padding-left: 10px;
}
.sel_d .ctrl {
  position: absolute;
  top: 0;
  right: -1px;
  width: 30px;
  height: 34px;
}
.sel_d .arrow {
  position: absolute;
  width: 30px;
  height: 16px;
  top: 50%;
  left: 0;
  margin: -8px 0 0 0;
  background: url('../img/ico/ico_ar_ub0.gif') left -40px no-repeat;
}
.sel_d .a_list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  left: -1px \9;
  background: #fff;
  list-style: none;
  border: 1px solid #ccc;
  right: -1px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  behavior: url('PIE.htc');
  overflow: hidden;
}
.sel_d .a_list li {
  overflow: hidden;
  position: relative;
  height: 34px;
  white-space: nowrap;
  display: block!important;
  margin-left: 0!important;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
}
.sel_d .a_list li a {
  display: block;
  height: 100%;
  background: #fff;
  color: #626262;
  text-indent: 8px;
  *text-indent: 6px;
  text-decoration: none;
  font-size: 12px;
  text-align: left;
}
.sel_d .a_list li.last {
  border-bottom: 0;
}
.sel_d .a_list li:hover * {
  background-color: #f1f1f1;
}
.sel_d .a_list.sel_over {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.sel_d.open {
  z-index: 4;
}
.sel_d.open .a_list {
  display: block;
  z-index: 3;
}
.sel_d.open .arrow {
  background: url('../img/ico/ico_ar_ub0.gif') left 1px no-repeat;
}
/* 페이징 */
.pg_num_box {
  text-align: center;
}
.pg_num_box a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 23px;
  height: 23px;
  margin: 0 2px;
  line-height: 23px;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #555;
  font-family: 'Tahoma';
}
.pg_num_box a.on {
  border: 1px solid #fd1f27;
  color: #fd1f27;
}
.pg_num_box a.ico_ar_l {
  background: url('../img/ico/ico_pg_ar_l.gif') center center no-repeat;
}
.pg_num_box a.ico_ar_r {
  background: url('../img/ico/ico_pg_ar_r.gif') center center no-repeat;
}
/* reset + com(ico, table, button style) */
/*레이아웃*/
.header {
  background-color: #fd1f27;
}
.header .lnb {
  position: relative;
  height: 100px;
  text-align: right;
}
.header .lnb h1 {
  position: absolute;
  display: block;
  left: 0;
  top: 21px;
  width: 335px;
  height: 49px;
}
.header .lnb h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/join/logo.gif') no-repeat;
}
.header .lnb .ul_btn,
.header .lnb .ul_mn {
  margin-right: 29px;
}
.header .lnb .ul_btn li,
.header .lnb .ul_mn li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header .lnb .ul_btn li a,
.header .lnb .ul_mn li a {
  display: block;
}
.header .lnb .ul_btn {
  padding-top: 20px;
}
.header .lnb .ul_btn li {
  margin: 0 1px;
}
.header .lnb .ul_btn li.btn a {
  width: 70px;
  height: 21px;
  color: #ffb3b6;
  line-height: 22px;
  font-family: 'Gulim';
  font-size: 12px;
  text-align: center;
  background-color: #7e0f13;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
}
.header .lnb .ul_btn li.tx_id span {
  line-height: 22px;
  color: #feb3b6;
  font-size: 12px;
  font-family: 'Gulim';
  padding-right: 20px;
}
.header .lnb .ul_mn {
  padding-top: 10px;
}
.header .lnb .ul_mn li {
  padding: 0 19px;
  border-right: 1px solid #fe7578;
}
.header .lnb .ul_mn li a {
  height: 19px;
  line-height: 19px;
  color: #fff;
  font-size: 18px;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
}
.header .lnb .ul_mn li.l {
  padding-right: 0;
  border-right: 0;
}
.footer {
  padding: 60px 0 40px;
}
.footer .l_add {
  text-align: center;
  color: #777;
  font-size: 12px;
  letter-spacing: -0.5px;
}
.page-join {
  /*로그인, 비번찾기*/
  /*입점센터*/
  /*서브페이지 레이아웃*/
  /*상담신청 조회*/
}
.page-join input[type="text"],
.page-join input[type="password"] {
  padding: 10px;
  border: 1px solid #d7d7d7;
}
.page-join .login_con {
  background: url('../img/join/bg_img.jpg') center center no-repeat;
  background-size: cover;
  min-height: 800px;
}
.page-join .ico_excl {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #f45e5d;
  color: #fff;
  line-height: 17px;
  text-align: center;
  font-size: 13px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
}
.page-join .ico_ing,
.page-join .ico_defer,
.page-join .ico_under,
.page-join .ico_consul,
.page-join .ico_notCon,
.page-join .ico_contr {
  display: inline-block;
  width: 62px;
  top: 16px;
  height: 21px;
  line-height: 23px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  behavior: url('PIE.htc');
  font-size: 12px;
  font-family: 'Dotum';
  color: #ffffff;
}
.page-join .ico_ing {
  background-color: #ff7f7e;
}
.page-join .ico_defer {
  background-color: #f5b06b;
}
.page-join .ico_under {
  background-color: #8ec63f;
}
.page-join .ico_consul {
  background-color: #03c3c4;
}
.page-join .ico_notCon {
  background-color: #5187cd;
}
.page-join .ico_contr {
  background-color: #af74d2;
}
.page-join .inp_chk_st {
  display: inline-block;
  padding-left: 30px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  background: url('../img/ico/ico_ck_0.gif') left bottom no-repeat;
}
.page-join .inp_chk_st input[type="checkbox"] {
  position: absolute;
  left: -999px;
}
.page-join .inp_chk_st span {
  font-size: 18px;
  color: #555555;
}
.page-join .inp_chk_st.on {
  background-position: left top;
}
.page-join .inp_radio_st {
  display: inline-block;
  padding-left: 30px;
  height: 22px;
  line-height: 25px;
  overflow: hidden;
  background: url('../img/ico/ico_ra_0.gif') left bottom no-repeat;
}
.page-join .inp_radio_st input[type="radio"] {
  position: absolute;
  left: -999px;
}
.page-join .inp_radio_st span {
  font-size: 14px;
  color: #555555;
}
.page-join .inp_radio_st.on {
  background-position: left top;
}
.page-join .inpForm_d {
  text-align: center;
}
.page-join .inpForm_d h2 {
  display: block;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 17px;
}
.page-join .inpForm_d dl {
  display: inline-block;
  background-color: #fff;
  padding: 50px 54px 54px;
  text-align: left;
}
.page-join .inpForm_d dl dt {
  border-bottom: 1px solid #343434;
  padding-bottom: 10px;
}
.page-join .inpForm_d dl dt .tx_ti,
.page-join .inpForm_d dl dt .tx_ex {
  display: block;
}
.page-join .inpForm_d dl dt .tx_ti {
  font-size: 24px;
  color: #333;
  font-weight: 300;
}
.page-join .inpForm_d dl dt .tx_ex {
  text-align: right;
}
.page-join .inpForm_d dl dd .btn_login {
  position: absolute;
  display: block;
  right: 29px;
  top: 30px;
  width: 156px;
  height: 91px;
  font-size: 24px;
  line-height: 96px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
}
.page-join .inpForm_d dl dd.dd_inp {
  position: relative;
  padding: 20px 28px 16px;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box {
  padding: 10px 0;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box .tx_ti,
.page-join .inpForm_d dl dd.dd_inp .inp_box input[type="text"],
.page-join .inpForm_d dl dd.dd_inp .inp_box input[type="password"],
.page-join .inpForm_d dl dd.dd_inp .inp_box .ico_l {
  vertical-align: top;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box .tx_ti {
  display: inline-block;
  width: 132px;
  font-size: 18px;
  line-height: 36px;
  color: #333;
  font-weight: 400;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box .ico_l {
  display: inline-block;
  line-height: 36px;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box.inp_comNum input[type="text"] {
  width: 72px;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box.inp_pw input[type="password"] {
  width: 286px;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box.inp_email input[type="text"] {
  width: 123px;
}
.page-join .inpForm_d dl dd.dd_inp .inp_box.inp_email .sel_box {
  margin-left: 3px;
}
.page-join .inpForm_d dl dd.dd_pwNjoin {
  background-color: #f3f3f3;
  padding: 20px 29px;
}
.page-join .inpForm_d dl dd.dd_pwNjoin div {
  position: relative;
  padding-bottom: 7px;
}
.page-join .inpForm_d dl dd.dd_pwNjoin div .tx {
  display: block;
  color: #777;
  font-size: 16px;
  line-height: 36px;
}
.page-join .inpForm_d dl dd.dd_pwNjoin div .btn_gre {
  position: absolute;
  top: 0;
  right: 0;
  width: 118px;
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
}
.page-join .inpForm_d dl dd.dd_btn {
  padding-top: 10px;
  border-top: 1px solid #353535;
  text-align: center;
}
.page-join .inpForm_d dl dd.dd_btn .ex_tx {
  display: block;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
  color: #555;
  font-size: 14px;
  text-align: left;
  margin-bottom: 40px;
}
.page-join .inpForm_d dl dd.dd_btn a {
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
  margin: 0 2px;
}
.page-join .counsel_d .join_head {
  height: 720px;
  background: url('../img/join/bg_img.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.page-join .counsel_d .join_head dt h2,
.page-join .counsel_d .join_head dt p {
  display: block;
}
.page-join .counsel_d .join_head dt h2 {
  font-size: 60px;
  padding-top: 180px;
  font-weight: 400;
  padding-bottom: 30px;
}
.page-join .counsel_d .join_head dt p {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 97px;
}
.page-join .counsel_d .join_head dd a {
  display: inline-block;
  width: 314px;
  height: 91px;
  line-height: 91px;
  background-color: transparent;
  border: 3px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url('PIE.htc');
  color: #fff;
  font-size: 30px;
  margin: 0 17px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-join .counsel_d .join_step {
  text-align: center;
  padding-bottom: 50px;
}
.page-join .counsel_d .join_step dt {
  padding: 40px 0 17px;
}
.page-join .counsel_d .join_step dt h3 {
  font-size: 30px;
  color: #333333;
}
.page-join .sub_lay {
  padding-bottom: 30px;
}
.page-join .sub_lay .sub_head {
  position: relative;
  background: url('../img/join/bg_img2.jpg') center center no-repeat;
  background-size: cover;
  height: 224px;
}
.page-join .sub_lay .sub_head h2 {
  font-size: 60px;
  line-height: 224px;
  color: #fff;
  font-weight: 400;
}
.page-join .sub_lay .sub_head .tx_sub {
  position: absolute;
  top: 155px;
  left: 50%;
  margin-left: -510px;
  font-size: 14px;
  color: #ffffff;
}
.page-join .counsel_ask {
  /*상세*/
  /* 신규등록 */
}
.page-join .counsel_ask dt {
  position: relative;
  padding: 50px 0 16px;
  border-bottom: 2px solid #333;
}
.page-join .counsel_ask dt strong {
  display: block;
  font-size: 24px;
  font-weight: 400;
}
.page-join .counsel_ask dt .tx_ex {
  position: absolute;
  right: 0;
  bottom: 18px;
  font-size: 14px;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
}
.page-join .counsel_ask dd table {
  width: 100%;
  border-top: 1px solid #d7d7d7;
  margin-top: -1px;
}
.page-join .counsel_ask dd table th,
.page-join .counsel_ask dd table td {
  padding: 15px;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 1px solid #d7d7d7;
}
.page-join .counsel_ask dd table th {
  background-color: #f3f3f3;
}
.page-join .counsel_ask .dd_list {
  padding-bottom: 10px;
}
.page-join .counsel_ask .dd_list li {
  position: relative;
  float: left;
  margin: 25px 16px 0;
  width: 228px;
  height: 209px;
  border: 1px solid #d7d7d7;
  box-shadow: 3px 3px 0 #e5e5e5;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
}
.page-join .counsel_ask .dd_list li .tx_num {
  display: block;
  height: 51px;
  line-height: 53px;
  border-bottom: 1px solid #d7d7d7;
  text-indent: 16px;
  font-size: 14px;
}
.page-join .counsel_ask .dd_list li i {
  position: absolute;
  right: 16px;
}
.page-join .counsel_ask .dd_list li p {
  display: block;
  padding: 18px 16px;
  height: 121px;
  color: #777;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: -0.5px;
}
.page-join .counsel_ask .dd_list li p a {
  color: #777777;
}
.page-join .counsel_ask .dd_list li p .tx_depth {
  display: block;
  padding-bottom: 7px;
}
.page-join .counsel_ask .dd_list li p .tx_date {
  position: absolute;
  left: 16px;
  bottom: 18px;
  color: #333;
}
.page-join .counsel_ask .dd_list li.f {
  margin-left: 0;
}
.page-join .counsel_ask .dd_list li.l {
  margin-right: 0;
}
.page-join .counsel_ask .dd_list li.no_list {
  padding: 150px 0;
  text-align: center;
  float: none;
  clear: both;
  box-shadow: none;
  border: 0;
  width: auto;
  height: auto;
  margin: 0;
  border-bottom: 1px solid #d7d7d7;
}
.page-join .counsel_ask .pg_num_box {
  padding: 40px 0;
}
.page-join .counsel_ask .dd_btn {
  padding: 40px 0;
  text-align: center;
}
.page-join .counsel_ask .dd_btn a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 53px;
  font-size: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
  margin: 0 3px;
}
.page-join .counsel_ask .dd_agree {
  background: red;
}
.page-join .counsel_ask .dd_agree .tx_agree {
  border: 1px solid #d5d5d5;
  overflow: hidden;
  height: 137px;
}
.page-join .counsel_ask .dd_agree .tx_agree textarea {
  display: block;
  width: 978px;
  height: 103px;
  border: 0;
  padding: 17px 20px;
  color: #555;
  font-size: 14px;
}
.page-join .counsel_ask .dd_agree .tx_ex {
  display: block;
  color: #555;
  font-size: 18px;
  padding-top: 13px;
  padding-bottom: 17px;
}
.page-join .counsel_ask .dd_agree label {
  display: inline-block;
  padding-left: 30px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  background: url('../img/ico/ico_ck_0.gif') left bottom no-repeat;
}
.page-join .counsel_ask .dd_agree label input[type="checkbox"] {
  position: absolute;
  left: -999px;
}
.page-join .counsel_ask .dd_agree label span {
  font-size: 18px;
  color: #555555;
}
.page-join .counsel_ask .dd_agree label.on {
  background-position: left top;
}
.page-join .counsel_ask .dd_inpForm table th {
  text-align: left;
  line-height: 15px;
}
.page-join .counsel_ask .dd_inpForm table .td_commNum input[type="text"] {
  width: 52px;
}
.page-join .counsel_ask .dd_inpForm table .td_ceoName input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_personName input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_comName input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_pw input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_pw2 input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_busines input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_bank input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_accNum input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_accHolder input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_ceoName input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_personName input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_comName input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_pw input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_pw2 input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_busines input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_bank input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_accNum input[type="password"],
.page-join .counsel_ask .dd_inpForm table .td_accHolder input[type="password"] {
  width: 288px;
}
.page-join .counsel_ask .dd_inpForm table .td_comType .sel_d {
  width: 308px;
}
.page-join .counsel_ask .dd_inpForm table .td_regNum input[type="text"] {
  width: 127px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box {
  margin-bottom: 5px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box input[type="text"] {
  width: 288px;
  margin-right: 10px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box .btn_gre {
  display: inline-block;
  width: 96px;
  height: 36px;
  line-height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
  font-size: 12px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box.f {
  margin-bottom: 10px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box.f input[type="text"] {
  width: 127px;
}
.page-join .counsel_ask .dd_inpForm table .td_comAdd .inp_box.l {
  margin-bottom: 0;
}
.page-join .counsel_ask .dd_inpForm table .td_email input[type="text"] {
  width: 122px;
}
.page-join .counsel_ask .dd_inpForm table .td_email .sel_d {
  margin-left: 10px;
}
.page-join .counsel_ask .dd_inpForm table .td_fax .sel_d,
.page-join .counsel_ask .dd_inpForm table .td_tel .sel_d,
.page-join .counsel_ask .dd_inpForm table .td_phone .sel_d {
  width: 94px;
}
.page-join .counsel_ask .dd_inpForm table .td_fax input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_tel input[type="text"],
.page-join .counsel_ask .dd_inpForm table .td_phone input[type="text"] {
  width: 70px;
}
.page-join .counsel_ask .dd_inpForm table .td_askTx input[type="text"] {
  width: 450px;
}
.page-join .counsel_ask .dd_inpForm table .td_askTx .tx_ex {
  color: #777;
  padding-left: 3px;
}
.page-join .counsel_ask .dd_inpForm table .td_askTx2 textarea {
  border: 1px solid #d5d5d5;
  width: 764px;
  height: 118px;
  padding: 19px 12px;
  font-size: 14px;
}
.page-join .counsel_ask .dd_inpForm table .td_askTx2 .tx_ex {
  display: block;
  color: #777;
  padding: 0;
  margin-top: -7px;
}
.page-join .counsel_ask .dd_inpForm table .td_homepg input[type="text"] {
  width: 398px;
}
.page-join .counsel_ask .dd_inpForm table .td_msg textarea {
  border: 1px solid #d5d5d5;
  width: 764px;
  height: 37px;
  padding: 19px 12px;
  font-size: 14px;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box label {
  position: relative;
  display: inline-block;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box label input[type="text"] {
  width: 455px;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box label input[type="file"] {
  position: absolute;
  display: block;
  left: 72px;
  width: 585px;
  height: 35px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
  filter: alpha(opacity = (0));
  top: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: transparent;
  z-index: 1;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box a {
  position: relative;
  display: inline-block;
  width: 106px;
  height: 34px;
  line-height: 33px;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url('PIE.htc');
  margin-left: 5px;
  z-index: 2;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box .tx_ex {
  display: block;
  color: #777;
  padding: 3px 0 10px;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box.l input[type="text"] {
  width: 380px;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box.l input[type="file"] {
  left: 147px;
  width: 510px;
}
.page-join .counsel_ask .dd_inpForm table .td_file .inp_box.l .tx_ex {
  padding-bottom: 0;
}
.page-join .counsel_ask .dd_inpForm table .td_channel .inp_box {
  height: 22px;
}
.page-join .counsel_ask .dd_inpForm table .td_channel label {
  display: inline-block;
  padding-left: 30px;
  height: 22px;
  line-height: 25px;
  overflow: hidden;
  background: url('../img/ico/ico_ra_0.gif') left bottom no-repeat;
  margin-right: 35px;
}
.page-join .counsel_ask .dd_inpForm table .td_channel label input[type="radio"] {
  position: absolute;
  left: -999px;
}
.page-join .counsel_ask .dd_inpForm table .td_channel label span {
  font-size: 14px;
  color: #555555;
}
.page-join .counsel_ask .dd_inpForm table .td_channel label.on {
  background-position: left top;
}
.page-join .counsel_ask .dd_inpForm table .td_distri .inp_box {
  height: 70px;
}
.page-join .counsel_ask .dd_inpForm table .td_distri .inp_box table {
  width: auto;
  border-top: 0;
}
.page-join .counsel_ask .dd_inpForm table .td_distri .inp_box table td {
  border-bottom: 0;
  padding: 0;
  padding-right: 30px;
  height: 24px;
  line-height: 24px;
}
.page-join .counsel_ask .dd_inpForm table .td_distri label {
  display: inline-block;
  padding-left: 30px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  background: url('../img/ico/ico_ck_0.gif') left bottom no-repeat;
}
.page-join .counsel_ask .dd_inpForm table .td_distri label input[type="checkbox"] {
  position: absolute;
  left: -999px;
}
.page-join .counsel_ask .dd_inpForm table .td_distri label span {
  font-size: 18px;
  color: #555555;
}
.page-join .counsel_ask .dd_inpForm table .td_distri label.on {
  background-position: left top;
}
.page-join .counsel_ask .dd_inpForm table .td_distri label span {
  font-size: 14px;
}
.page-join .counsel_ask .dd_inpForm .tx_ex {
  padding: 10px 0;
}
.page-join .counsel_ask .dd_inpForm .tx_ex .ico_excl {
  margin-right: 3px;
}
.page-join .counsel_ask .dd_inpForm .tx_ex span {
  font-size: 13px;
  font-family: '나눔고딕', 'NanumGothic', 'Nanum Gothic';
}
