@charset "utf-8";
/* layout.css */

/*ie8,7*/
section, header, article, footer{margin-top:-0px\9}
article, footer{margin-top:-13px\9}
footer{margin-bottom:-0px\9}

.minW{position:relative;width:1020px;margin:auto}
/* header */
.header .gnb{border-bottom:1px solid #dfdfdf}
.gnb .gnb_contents{padding:12px 0 8px;min-height:11px;text-align:right}
.gnb .gnb_contents li{display:inline-block;*display:inline;*zoom:1;padding:0 10px;border-right:1px dotted #999;vertical-align:top;height:9px;height:auto\9}
.gnb .gnb_contents li.l{padding-right:0;border-right:0}
.gnb .gnb_contents li.f{padding-left:0}
.gnb .gnb_contents .myid{color:#777}
.gnb .gnb_contents .myid span, .gnb .gnb_contents li a{display:block;margin-top:-2px;margin-top:0px\9;color:#777}
.gnb .gnb_contents .l_links{position:absolute;left:0;top:12px}
.gnb .gnb_contents .r_user .cart,.gnb .gnb_contents .r_user .cart *{color:#fd1f27;vertical-align:top}
.gnb .gnb_contents .r_user .cart i{position:relative;display:inline-block;*display:inline;*zoom:1;top:-3px;width:18px;height:18px;background:#fff url('../../img/lay/ico_cart.gif') left top no-repeat;margin-right:4px;overflow:hidden}

.lnb .lnb_contents{padding:21px 0 16px}
.lnb .lnb_contents h1{position:absolute;display:block;left:0;top:14px;width:190px;height:49px}
.lnb .lnb_contents h1 a{display:block;width:100%;height:100%;background:#fff url('../../img/lay/logo_hd.gif') left top no-repeat;}
.lnb .lnb_contents .search{width:373px;height:60px;margin:0 auto}
.lnb .lnb_contents .best_key{border:1px solid #fc1f28;height:41px;line-height:41px;border-radius:3px}
.lnb .lnb_contents .weather{position:absolute;top:21px;right:0;height:43px;border:1px solid #000}
.lnb .s_menu{background-color:#fc1f28;margin-top:0}
.lnb .s_menu .btn_navOpen{display:block;width:158px;height:42px;background:url('../../img/lay/mn_all.gif') center center no-repeat;border:0}
.lnb .s_menu .hmenu, .lnb .s_menu .l_mn, .lnb .s_menu .l_mn dd, .lnb .s_menu .r_mn, .lnb .s_menu .r_mn dd{display:inline-block;*display:inline;*zoom:1;vertical-align:top}
.lnb .s_menu .hmenu{margin-right:-5px}
.lnb .s_menu .hmenu ol{position:absolute;display:none;bottom:0}
.lnb .s_menu .l_mn, .lnb .s_menu .r_mn{padding:0 3px}
.lnb .s_menu .l_mn dd, .lnb .s_menu .r_mn dd{margin:0 -3px;height:42px}
.lnb .s_menu .r_mn{position:absolute;right:0}
.lnb .s_menu .l_mn{margin-left:18px}
.lnb .s_menu .l_mn dd a{display:block;width:54px;height:100%}
.lnb .s_menu .l_mn .mn_wedding{background:#fc1f28 url('../../img/lay/mn_01.gif') center no-repeat}
.lnb .s_menu .l_mn .mn_move{background:#fc1f28 url('../../img/lay/mn_02.gif') center no-repeat}
.lnb .s_menu .l_mn .mn_single{background:#fc1f28 url('../../img/lay/mn_03.gif') center no-repeat}
.lnb .s_menu .l_mn .mn_health{background:#fc1f28 url('../../img/lay/mn_04.gif') center no-repeat}
.lnb .s_menu .l_mn .mn_cleanking{background:#fc1f28 url('../../img/lay/mn_05.gif') center no-repeat;width:67px}
.lnb .s_menu .l_mn .mn_emagazine{background:#fc1f28 url('../../img/lay/mn_06.gif') center no-repeat;width:76px}
.lnb .s_menu .r_mn dd a{display:block;height:100%}
.lnb .s_menu .r_mn .mn_exhibition{background:#fc1f28 url('../../img/lay/mn_07.gif') center no-repeat;width:105px}
.lnb .s_menu .r_mn .mn_event{background:#fc1f28 url('../../img/lay/mn_08.gif') center no-repeat;width:80px}
.lnb .s_menu .r_mn .mn_experience{background:#fc1f28 url('../../img/lay/mn_09.gif') center right no-repeat;width:101px}

/* footer */
.footer{padding-bottom:20px}
.footer .policy{border-top:1px solid #ed1b24;border-bottom:1px solid #dadada;padding:18px 0 17px}
.footer .policy .policy_contents{position:relative}
.footer .policy .policy_contents dd{display:inline-block;*display:inline;*zoom:1}
.footer .policy .policy_contents dd.l{position:absolute;right:0;top:0}
.footer_contents{color:#777}
.footer_contents .l_add{padding:30px 0}
.footer_contents .l_add strong{display:block;padding-bottom:20px}
.footer_contents .l_add p{line-height:18px}
.footer_contents .l_add p img{*margin-top:-3px}
.footer_contents .r_lick{position:absolute;right:0;top:30px;text-align:right}
.footer_contents .r_lick .blend{padding:0 3px 20px}
.footer_contents .r_lick .blend a{display:inline-block;*display:inline;*zoom:1;border:1px solid #d7d7d7;margin:0 -3px;width:99px;height:37px;line-height:37px;text-align:center}
.footer_contents .r_lick .blend .br_anac{background:#fff url('../../img/lay/br_anac.gif') center no-repeat;}
.footer_contents .r_lick .blend .br_bugatti{background:#fff url('../../img/lay/br_bugatti.gif') center no-repeat;}
.footer_contents .r_lick .blend .br_cado{background:#fff url('../../img/lay/br_cado.gif') center no-repeat;}
.footer_contents .r_lick .sns a{display:inline-block;*display:inline;*zoom:1;width:32px;height:32px;line-height:32px;margin:0 2px}
.footer_contents .r_lick .sns .sns_f{background:#fff url('../../img/lay/ico_f.gif') center no-repeat;}
.footer_contents .r_lick .sns .sns_blog{background:#fff url('../../img/lay/ico_b.gif') center no-repeat;}
.footer_contents .r_lick .sns .sns_p{background:#fff url('../../img/lay/ico_p.gif') center no-repeat;}
.footer_contents .certi{border-top:1px dotted #555;padding-top:8px}
.footer_contents .certi dd{display:inline-block;*display:inline;*zoom:1;vertical-align:bottom}
.footer_contents .certi .img_barcode{width:164px;height:81px;background:url('../../img/lay/img_barcode.gif') no-repeat;margin-right:56px}
.footer_contents .certi .img_franchise{width:242px;height:62px;background:url('../../img/lay/img_franchise.gif') no-repeat;margin-right:39px}
.footer_contents .certi .img_veriSign{width:117px;height:59px;background:url('../../img/lay/img_veriSign.gif') no-repeat;}

/* contents */
.container{padding:20px}
