.pop-keyword {margin-left:15%; }
#keyword {background-color:#FCFCFC; padding:10px; border-color:#4374D9;}
.pop-address-search-layer3 {position:absolute; z-index:10; margin:-290px 0 0 -340px; width:480px; border:1px solid #000; background:#EAEAEA; -webkit-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36); -moz-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36); box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.36);}
.pop-address-search-layer3 .pop-address-header .close {position:relative; color:white; float:right; margin-top:-20px; margin-left:-10px; top:20px; text-indent:-9999px} 
.pop-addr-wrap {align:center}
.paginate {text-align:center;}
#totalCntDiv {text-align:right;}
.pop-address-header{ background-color:#333333; color:#FFFFFF; margin-top:-15px}
.data-col { align:center;;}
.data-col thead {background:#EAEAEA; padding-top:5px; padding-bottom:5px; border-bottom: 2px solid #000; border-top:2px solid #000; }

/* 본문 배경색(홀수) */
.data-col tbody tr:nth-child(odd) td {background:#B2CCFF; padding-top:5px; padding-bottom:5px; border-bottom: 1px solid #bbb;}

/* 본문 배경색(짝수) */
.data-col tbody tr:nth-child(even) td {background:#EBF7FF; padding-top:5px; padding-bottom:5px; border-bottom: 1px solid #CCC;}