/*all.css*/

/*layout*/
#wrap{height:2000px}
#heder{position:relative;height:350px;overflow:hidden;background:transparent}
#heder h1,#heder h2{position:absolute;display:block}
#heder h1{left:40px;top:29px}
#heder h2{left:50%;top:123px;font-size:72px;line-height:60px;color:#fff;font-weight:300;margin-left:-169px}
.parallax-mirror{visibility:inherit!important}
#heder .parallax-window{display:block;height:350px;min-height:350px;background:transparent}
#nav{position:fixed;left:100%;top:0;right:0;bottom:0;background-color:#282828;z-index:10}
#nav .btn_menu,#nav .btn_close{display:block;position:absolute;top:29px}
#nav .btn_menu{left:-70px}
#nav .btn_close{left:80%;
-webkit-transition:-webkit-transform 0.2s;-moz-transition:-moz-transform 0.2s;transition:transform 0.2s;
-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);
}
#nav .btn_close:hover{-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);
/* IE8+ - must be on one line, unfortunately */ 
   -ms-filter:"progid:DXImageTransform.Microsoft.Matrix(M11=-0.7071067811865477, M12=-0.7071067811865475, M21=0.7071067811865475, M22=-0.7071067811865477, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter:progid:DXImageTransform.Microsoft.Matrix(
            M11=-0.7071067811865477,
            M12=-0.7071067811865475,
            M21=0.7071067811865475,
            M22=-0.7071067811865477,
            SizingMethod='auto expand');
			margin-left:5px\0/IE8+9;
			margin-top:-5px\0/IE8+9;*/
transform:rotate(90deg);writing-mode:tb-rl}
#nav ul{padding-top:130px}
#nav ul li{margin-bottom:5px}
#nav ul li a{display:block;color:#878787;font-size:24px;text-align:center;font-weight:400;line-height:30px;padding:10px 0}
#nav ul li.on a,#nav ul li a:hover{color:#fff}

/*main*/
.main_con_d{position:relative}
.main_con_d .con_nav{position:absolute;top:-141px;left:0;right:0;background:url(../../img/bg_bl.png);height:141px}
.main_con_d .con_nav.fix{position:fixed;top:0}

/*about*/
.ab_con_d .sec_1{padding:70px 0 100px;text-align:center}
.ab_con_d .sec_1 dd,.ab_con_d .sec_2 dd{color:#282828;line-height:30px;white-space:pre;font-family:'Nanum Gothic';font-weight:400;font-size:16px}
.ab_con_d .sec_2{background-color:#f0f0f0;text-align:center;padding:75px 0 70px}
.ab_con_d .sec_2 dt{padding-bottom:20px}
.ab_con_d .sec_3{background-color:#272727}
.ab_con_d .sec_3 dl,.ab_con_d .sec_4 dl{min-width:900px;max-width:1400px;margin:0 auto;position:relative}
.ab_con_d .sec_3 dt{position:absolute;top:0;bottom:0;overflow:hidden;right:0;left:50%}
.ab_con_d .sec_3 dt .parallax_img,.ab_con_d .sec_4 dt .parallax_img2{height:100%;width:100%;}
.ab_con_d .sec_3 dd{padding:80px 50% 100px 10px;margin-right:10px;color:#fff;font-family:'Nanum Gothic';font-size:16px;font-weight:400;line-height:30px}
.ab_con_d .sec_3 dd *,.ab_con_d .sec_4 dd *{display:block}
.ab_con_d .sec_3 dd h3,.ab_con_d .sec_4 dd h3{font-size:40px;line-height:45px;font-weight:400;display:block;padding:12px 0 35px}
.ab_con_d .sec_3 dd p,.ab_con_d .sec_4 dd p{white-space:pre;text-align:left;word-break:break-word}
.ab_con_d .sec_3 dd ol,.ab_con_d .sec_4 dd ol{margin-top:50px}
.ab_con_d .sec_3 dd ol .br{padding-bottom:25px}
.ab_con_d .sec_4{background-color:#3f3f3f}
.ab_con_d .sec_4 dt{position:absolute;top:0;bottom:0;overflow:hidden;right:50%;left:0}
.ab_con_d .sec_4 dd{padding:80px 10px 100px 50%;margin-left:10px;color:#fff;font-family:'Nanum Gothic';font-size:16px;font-weight:400;line-height:30px}