@charset "utf-8";
/* reset.css */
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,object,frame,form,iframe{display:block}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,object,frame,iframe{margin:0;padding:0}
body,input,textarea,select,button,table{font-size:12px;font-family:'Lato', sans-serif,'Nanum Gothic';font-weight:100;line-height:20px}
body{color:#4f4e4e;-webkit-text-size-adjust:none;background-color:transparent}
html,body{height:100%}
#container{*height:100%}
img,fieldset{border:0}
img,input{vertical-align:middle}
ul,ol{list-style:none}
em,address{font-style:normal}
a,a:hover{color:#000;text-decoration:none}
table{border-collapse:collapse;table-layout:fixed;word-break:break-all}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;color:transparent}
.skip{position:fixed;visibility:hidden;overflow:hidden;left:-999px;height:0!important;font-size:0;line-height:0!important;border:0!important}
.tx_skip{font-size:0px;line-height:0px;color:transparent;letter-spacing:-999px;text-indent:-999px}
.tx_doc{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
hr{display:none!important}
.fl{float:left}
.fr{float:right}
.ct{clear:both;zoom:1}
.ct:after{display:block;clear:both;height:1px;margin-top:-1px;content:''}
.al{text-align:left!important}
.ac{text-align:center!important}
.ar{text-align:right!important}
.in_tx_ac *{text-align:center!important}
.tx_un{text-decoration:underline!important}
.cur,select,button{cursor:pointer}
select,input[type="password"],input[type="text"]{width:120px;height:15px;line-height:15px;border:1px solid #b4b4b4;background-color:#fff;color:#4f4e4e;padding:5px 7px 4px}
select{height:27px;width:auto;min-width:136px;padding:3px 7px 3px}
select.sel_day{width:80px;min-width:80px;margin-right:5px;height:27px}
input[type="checkbox"],input[type="radio"]{cursor:pointer;overflow:hidden}
input[type="date"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-inner-spin-button{display:none}
/* skipnavi */
.skipnavi{display:block;position:absolute;top:0;left:0;right:0;z-index:999;overflow:hidden;margin:0;height:1px;margin-top:-1px;line-height:50px;text-align:center;font-weight:bold;font-size:14px;background:#2c2d3c;color:#fff;text-decoration:none!important;}
a.skipnavi:focus,a.skipnavi:active,a.skipnavi.hover{height:50px;margin:0}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}