<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.SUN.COM/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>marketA</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:egovframework/spring/context-*.xml</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>requestFilter</filter-name>
		<filter-class>com.ssp.core.common.filter.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ieFilter</filter-name>
		<filter-class>com.ssp.core.common.filter.IeEmulateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/dispatcher-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>dispatchOptionsRequest</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<!-- XENI -->
	<servlet>
	    <servlet-name>XExportImport</servlet-name>
	    <servlet-class>com.nexacro17.xeni.services.GridExportImportServlet</servlet-class>
	</servlet>    
	<servlet>
	    <servlet-name>XImport</servlet-name>
	    <servlet-class>com.nexacro17.xeni.services.GridExportImportServlet</servlet-class>
	</servlet>    
	    
	<servlet-mapping>
	    <servlet-name>XExportImport</servlet-name>
	    <url-pattern>/XExportImport</url-pattern>
	</servlet-mapping>    
	<servlet-mapping>
	    <servlet-name>XImport</servlet-name>
	    <url-pattern>/XImport</url-pattern>
	</servlet-mapping>
	    
	<context-param>
	    <param-name>export-path</param-name>
	    <param-value>/export</param-value>
	</context-param>    
	<context-param>
	    <param-name>import-path</param-name>
	    <param-value>/import</param-value>
	</context-param>    
	<context-param>
	    <param-name>monitor-enabled</param-name>
	    <param-value>true</param-value>
	</context-param>    
	<context-param>
	    <param-name>monitor-cycle-time</param-name>
	    <param-value>30</param-value>
	</context-param>    
	<context-param>
	    <param-name>file-storage-time</param-name>
	    <param-value>10</param-value>
	</context-param>
	<!-- XENI -->
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/jsp/common/taglib.jsp</include-prelude>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/common/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/common/error/error_404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/common/error/error.jsp</location>
	</error-page>
	
	<distributable/>
	
	<resource-ref>
  		<res-ref-name>jdbc/JNDI_ORACLE</res-ref-name>
  		<res-type>javax.sql.DataSource</res-type>
  		<res-auth>Container</res-auth>
	</resource-ref>	
</web-app>