@charset "utf-8";

@import url('/static/css/common.css');
@import url('/static/css/layout.css');
@import url('/static/css/component.css');
@import url('/static/css/datepicker.css');

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
  src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
  src: local(※), url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff');
}

/* =============================================================================
Category : Media Queries
============================================================================= */
@media all and (max-width: 1000px) {
div.section-form div.form-group .label { width: 25%; }
div.section-form div.form-group div.field { width: 70%; }
}
@media all and (max-width: 768px) {
  ul.admin-info li.pushmenu { display: block; }
  ul.admin-info li.fullscreen { display: none; }
  #navigation { display: none; left: auto; right: -220px; }
  #container { margin-left: 0px; padding-top: 65px; }
}
@media all and (max-width: 480px) {
  ul.admin-info li { float: left; font-size: 15px; height: 60px; line-height: 60px; border-left: 1px #000 solid; }
  ul.admin-info li.info span { display: none; }

  div.section-form div.form-group .label,
  div.section-form div.form-group div.field { display:block; margin: 5px 0; width: 96%; }
  div.section-form div.form-group .label span { padding-left: 0px; }

  div.login-box { left: 50%; margin-left: -40%; width: 80%; }

}
@media all and (max-width: 320px) {
  ul.admin-info li { display: none; }
  ul.admin-info li.pushmenu { display: block; }
}


